@use '../core/global';

.app {
	display: flex;
	min-height: 100%;
	z-index: 0;

	&__header {
		font-size: 1.2rem;
		font-weight: bold;
		color: global.$premier-yellow;
		background-color: global.$black-chestnut-oak;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 2rem;
		width: auto;

		z-index: 2;
		border-bottom: 1px solid global.$charcoal-grey;
	}

	&-section--sidebar {
		$sidebar: &;
		display: flex;
		flex-direction: column;
	
		&.primary {
			width: 10rem;
		}

		&.secondary {
			width: 20rem;
		}

		&__element {
			display: flex;
			flex-direction: column;
			flex: 1 1 0px;
			// so that the shadows stay within the element
			overflow: hidden;
		}
		
		&__content {
			display: flex;
			flex-direction: column;

			background-color: global.$charcoal-grey;
			overflow-y: overlay;

			position: absolute;
			
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			&--has-padding {
				gap: 0.5rem;
				padding: 0.5rem;
			}

			&--no-padding {
				gap: 0rem;
				padding: 0rem;
			}
		}

		&__label {
			width: 100%;
			padding-bottom: 0.5rem;
			font-size: 1rem;
			line-height: 1rem;
			color: global.$chalk-white;
			border-bottom: 1px solid global.$chalk-white;
		}
		
		/*
		Models such as:
		- Rooms
		- Users
		- Friends
		- Members
		or just for things that can be represented as:
		111 2222222
		111 *******
		111 3333333
		where 3 is optional info
		*/
		&__modelbox {
			display: flex;
			gap: 0.5rem;
			box-sizing: border-box;

			&--joined-room {
				padding: 0.5rem;
				transition: all 0.5s;
				color: global.$premier-yellow;

				&:hover {
					cursor: pointer;
					background-color: global.$black-chestnut-oak;
					color: global.$saturated-titanium-yellow;
				}
			}

			&--create-room {
				padding: 0.5rem;
				color: global.$chalk-white;
				
				i {
					transition: all 0.5s;
					
					&:hover {
						cursor: pointer;
						color: global.$saturated-titanium-yellow;
						background-color: global.$black-chestnut-oak;
					}
				}
				
				.app-section--sidebar__modelbox-info {
					color: global.$chalk-white;
					justify-content: center;
					align-items: center;
					box-shadow: 2px 2px 4px 2px global.$vampire-black;
				}
			}

			&--request-user {
				flex-grow: 1;

				.app-section--sidebar__icon {
					transition: 0.2s all;
					
					&:hover {
						cursor: pointer;
						color: global.$saturated-titanium-yellow;
						
					}
				}
			}
			
			&--checkbox {
				padding: 0.25rem;
				background-color: global.$vampire-black;
				border-radius: 4px;
				transition: all 0.2s;

				.app-section--sidebar__icon,
				.app-section--sidebar__name,
				.app-section--sidebar__status {
					transition: all 0.2s;
				}

				.app-section--sidebar__infobox {
					justify-content: space-evenly;
				}

				&:hover {
					cursor: pointer;
					background-color: global.$anthracite;
					* {
					color: global.$chalk-white !important;

					}
				}
			}
		}

		&__infobox {
			display: flex;
			flex-direction: column;
			position: absolute;
			height: 100%;
			width: 100%;

			&--centered {
				align-items: center;
				justify-content: center;
			}

			&--evenly {
				justify-content: space-evenly;
			}
		}

		&__dashboard-button {
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			color: global.$acapulco-aqua;
			
			.app-section--sidebar__icon {
				transition: 0.5s all;
			}
			
			&:hover {
				color: global.$chalk-white;
			}
		}

		&__description {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: auto;

			&--small {
				font-size: 0.9rem;
			}

			&--medium {
				font-size: 1rem;
			}

			&--large {
				font-size: 1.2rem;
			}
		}

		&__footer {
			display: flex;
			box-sizing: border-box;
			padding: 0.25rem;
			gap: 0.5rem;
			background-color: global.$black-chestnut-oak;
			z-index: 1;
		}

		&__subheader {
			display: flex;
			gap: 0.5rem;
			padding: 0.25rem;
			align-items: center;
			background-color: global.$black-chestnut-oak;
			color: global.$chalk-white;
			z-index: 1;

			.app-section--sidebar__icon {
				transition: color 0.2s;

				&:hover {
					cursor: pointer;
					color: global.$premier-yellow;
				}
			}
		}

		&__name {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-weight: bold;

			&--small {
				font-size: 0.9rem;
			}

			&--medium {
				font-size: 1rem;
			}

			&--large {
				font-size: 1.2rem;
			}
		}

		&__status {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			&--small {
				font-size: 0.8rem;
			}

			&--medium {
				font-size: 1rem;
			}

			&--large {
				font-size: 1.1rem;
			}
		}

		
		&__avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;

			&--small {
				width: 2rem; 
				height: 2rem;
				font-size: 2rem;
			}

			&--medium {
				width: 3rem; 
				height: 3rem;
				font-size: 3rem;
			}

			&--large {
				width: 6rem;
				height: 6rem;
				font-size: 6rem;
			}

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		&__icon {
			box-sizing: border-box;
			user-select: none;

			i {
				color: inherit;
				font-size: inherit;
			}

			&--small {
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
			}

			&--medium {
				width: 2rem; 
				height: 2rem;
				font-size: 2rem;
			}

			&--large {
				width: 3rem;
				height: 3rem;
				font-size: 3rem;
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 6rem;
			height: 2rem;
			padding: 0.2rem 0rem;
			box-sizing: border-box;
			transition: background-color 0.5s;

			&:hover {
				cursor: pointer;
			}

			&--join {
				color: global.$vampire-black;
				background-color: global.$saturated-titanium-yellow;
				border: 1px solid global.$rose-gold;
				box-shadow: 0px 0px 4px 1px global.$saturated-titanium-yellow;
				
				&:hover {
					background-color: #eae440;
				}
			}

			&--leave {
				color: global.$vampire-black;
				background-color: global.$apple-red;
				border: 1px solid global.$golden-brown;
				box-shadow: 0px 0px 4px 1px global.$apple-red;
				
				&:hover {
					background-color: #eae440;
				}
			}
		}

		&__search {
			display: flex;
			align-self: center;
			flex-grow: 1;
			height: 1.5rem;
			background-color: global.$anthracite;
			border-radius: 4px;
			color: global.$chalk-white;
			text-indent: 0.5rem;
		}

		&__category {
			display: flex;
			align-items: center;
			font-size: 0.75rem;
			color: global.$acapulco-aqua;
			font-weight: bold;
			transition: 0.5s color;
			

			&:hover {
				color: global.$chalk-white;

				&::before {
					rotate: 0deg;
				}
			}

			&::before {
				content: "➢";
				margin-right: 0.125rem;
				rotate: 90deg;
				transition: 0.5s rotate;
			}
		}

		&__channel-group {
			gap: 0.25rem;

			.add {
				// The icon to add a channel in a category
				transition: color 0.5s;
				color: global.$acapulco-aqua;
			}

			.add:hover {
				cursor: pointer;
				color: global.$chalk-white;
			}

			&.closed {
				.app-section--sidebar__category::before {
					rotate: 0deg;
				}
			}
		}

		&__channel-dropdown {
			gap: 0.125rem;
			margin-left: 0.5rem;
		}

		&__channel {
			box-sizing: border-box;
			padding: 0.125rem 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: 0.875rem;
			color: global.$acapulco-aqua;
			transition: all 0.2s;
			

			&--selected {
				// When the channel is hovered over
				color: global.$chalk-white;
				background-color: global.$black-chestnut-oak;
			}

			&:hover {
				cursor: pointer;
				color: global.$chalk-white;
				background-color: global.$black-chestnut-oak;

				.app-section--sidebar__icon[action="edit-channel"] {
					// Make the settings icon of the channel appear
					// The color of the icon is configured below
					opacity: 100;
				}
			} 
			
			.kind {
				// Channel kind icon
				background-color: global.$anthracite;
			}

			.app-section--sidebar__icon[action="edit-channel"] {
				// Channel settings icon
				transition: all 0.2s;
				opacity: 0;
				// It won't inherit the channel color
				// uses this color instead
				color: global.$blue-bayoux;

				&:hover {
					color: global.$chalk-white;
				}
			}
		}

		&__news {
			display: flex;
			align-items: baseline;
			gap: 0.5rem;

			&-title {
				font-size: 0.9rem;
				line-height: 0.9rem;
				font-weight: bold;
				word-wrap: break-word;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			&-date {
				font-size: 0.8rem;
				line-height: 0.8rem;
			}
		}

		&__room {
			display: flex;
			gap: 0.5rem;
	
			&-info {
				position: absolute;
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}
	
			&-name {
				font-size: 1.2rem;
				font-weight: bold;
				color: global.$premier-yellow;
			}
	
			&-description {
				position: absolute;
				word-wrap: break-word;
				width: 100%;
				height: 100%;
				font-size: 1.1rem;
				color: global.$saturated-titanium-yellow;
			}

			&-utility {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			&-avatar {
				width: 6rem; 
				height: 6rem;
				box-shadow: 0px 0px 4px 2px global.$amethyst;

				img {
					max-height: 100%;
					max-width: 100%;
				}
			}
		}

		&__icon {
			&-container {
				display: flex;
			}
		}

		&__menu {
			position: absolute;
			right: 0;
			top: 100%;
			background-color: global.$black-chestnut-oak;
			margin-top: 0.25rem;
			color: global.$chalk-white;
			overflow: hidden;
			border-radius: 10px;

			&-item {
				font-size: 0.875rem;
				white-space: nowrap;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				padding: 0.25rem 0.5rem;
				border-bottom: 1px solid global.$anthracite;

				&:hover {
					cursor: pointer;
					color: global.$premier-yellow;
				}
			}
		}
	}


	&-section--main {
		background-color: global.$anthracite;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		&__wrapper {
			position: relative;
			flex: 1;
		}

		&__header {
			font-size: 1.2rem;
			font-weight: bold;
			color: global.$premier-yellow;
			background-color: global.$black-chestnut-oak;

			display: flex;
			justify-content: center;
			align-items: center;

			height: 2rem;
			width: auto;
			border-top: 1px solid global.$charcoal-grey;
		}

		&__subheader {
			font-size: 1rem;
			font-weight: bold;
			color: global.$chalk-white;
			background-color: global.$deep-burgundy;

			display: flex;
			justify-content: center;
			align-items: center;

			height: 1.25rem;
			width: auto;

			z-index: 1;
		}

		&__dashboard {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: auto;
			white-space: bold;
			color: white;
			overflow-wrap: break-word;

			display: flex;
			flex-direction: column;
		}
	}

	&-section--overlay {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: hsla(0, 0%, 3%, 0.4);

		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 100;

		&__window {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 1rem;
			border-radius: 4px;
			padding: 2.5rem;
			box-sizing: border-box;
			background-color: global.$charcoal-grey;
			max-width: 500px;
		}

		&__header {
			display: flex;
			justify-content: space-between;
	
			* {
				color: global.$chalk-white;
				font-size: 1.2rem;
				font-weight: bold;
			}
		}

		&__close {
			i {
				font-size: 1.5rem;
			}

			&:hover {
				cursor: pointer;
			}
		}
	
		&__form-field {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
		}
		
		&__label {
			font-size: 0.9rem;
			font-weight: bold;
			color: global.$chalk-white;
		}
		
		&__input {
			position: relative;

			input[type="text"], input[type="number"] {
				color: global.$chalk-white;
				font-size: 1.2rem;
				padding: 0.1rem 0.3rem;
				box-sizing: border-box;
				border-radius: 4px;
				color-scheme: dark; // changes the icon and popup color
				height: 2.5rem;
				width: 100%;
				background-color: global.$vampire-black;
			}

			input[type="file"] {
				height: fit-content;
				color: global.$chalk-white;
			}
		}

		&__select {
			position: relative;
		}

		&__option {
			display: flex;
			align-items: center;
			
			color: global.$chalk-white;
			font-size: 1.2rem;
			height: 2.5rem;
			width: 100%;

			color: global.$chalk-white;
			font-size: 1.2rem;

			box-sizing: border-box;
			padding: 0.1rem 0.3rem;
			height: 2.5rem;
			width: 100%;
			background-color: global.$anthracite;

			&:hover {
				cursor: pointer;
			}

			&--selected {
				border-radius: 4px;
				position: static;
			}
		}

		&__dropdown {
			overflow: hidden;
			border-radius: 4px;
			width: 100%;
			position: absolute;
			top: calc(100% + 0.125rem);
		}



		
		
		&__submit {
			color: global.$chalk-white;
			background-color: global.$amethyst;
			padding: 0.9rem 0rem;
			border: none;
			border-radius: 4px;
			font-size: 1.1rem;
			width: 100%;
			transition: background-color 0.5s;
	
			&:hover {
				cursor: pointer;
				background-color: #7a3db8;
			}
		}

		&__footnote {
			font-size: 0.7rem;
			color: global.$blue-bayoux;
		}
	}
}