@use '../core/global';

.app {
	display: flex;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

	&__main {
		display: flex;
		flex-direction: column;
		flex: 1;
		background-color: global.$vampire-black;
		// min-width: 16.875rem;
		overflow: hidden;
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		background-color: global.$charcoal-grey;
		overflow: hidden;

		&--primary {
			width: 20rem;
		}

		&--secondary {
			width: 15rem;
		}
	}

	&__join {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		width: 6rem;
		padding: 0.25rem;
		margin: 0.5rem;
		background-color: global.$saturated-titanium-yellow;
		color: global.$charcoal-grey;
		box-shadow: 0px 0px 7px 1px global.$saturated-titanium-yellow;
	}

	&__category {
		display: flex;
		align-items: center;		
		padding: 0.3125rem;
		gap: 0.25rem;
		background-color: global.$charcoal-grey;
		transition: background-color 0.25s;
		transition: color 0.25s;
		z-index: 2;
		position: relative;

		& .icon:first-of-type {
			transition: transform 0.5s;

			.dropdown:has(.dropdown__content--hidden) & {
				transform: rotate(-90deg);
			}
		}

		& i:hover {
			color: global.$premier-yellow;
		}

		&:hover {
			cursor: pointer;

			& .secondary-text, & .icon:first-of-type {
				color: global.$premier-yellow;
			}

			& + .app__channel-group {
				border-color: global.$premier-yellow;
			}

			& + .app__channel-group .channel_slider {
				height: 100%;
			}
		}
	}

	&__channel {
		position: relative;
		display: flex;
		gap: 0.5rem;
		padding: 0.25rem;

		transition: background-color 0.25s;
		transition: color 0.25s;
		z-index: 1;

		background-color: global.$black-grey;


		&:hover {
			cursor: pointer;
			background-color: global.$black-grey;
			color: global.$chalk-white;
		}
	}

	&__channel-group {
		border-left: 0.3125rem solid global.$charcoal-grey;
		transition: border-color 0.25s;
	}

	[data-friendship] .container__label {
		display: none;
	}

	[data-friendship]:has(.modelbox) .container__label {
		display: flex;
	} 
}