/* Shadow Dimensions */
.bottom {
  margin-top: auto !important;
}

.top {
  margin-bottom: auto !important;
}

.left {
  margin-right: auto !important;
}

.right {
  margin-left: auto !important;
}

.x-center {
  margin-left: auto;
  margin-right: auto;
}

.y-center {
  margin-top: auto;
  margin-bottom: auto;
}

.align-center {
  align-items: center;
}

.flex-first {
  order: -1;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(112, 6%, 25%, 0.516);
}
*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.wrapper--remaining-space {
  position: relative;
  flex: 1;
}
.wrapper--flex {
  display: flex;
}

.online-main {
  color: #eff688;
}
.online-secondary {
  color: #d6d018;
}

.offline-main {
  color: #62777e;
}
.offline-secondary {
  color: #80a4a3;
}

.has-shadow {
  box-shadow: 0px 0px 4px 1px #0E0D0C;
}

.text-bold {
  font-weight: bold;
}
.text-primary-small {
  font-size: 0.9375rem;
}
.text-primary-medium {
  font-size: 1rem;
}
.text-primary-large {
  font-size: 1.125rem;
}
.text-secondary-small {
  font-size: 0.75rem;
}
.text-secondary-medium {
  font-size: 0.8125rem;
}
.text-secondary-large {
  font-size: 0.875rem;
}

.dropdown {
  position: relative;
}
.dropdown__content--slide {
  overflow: hidden;
  transition: max-height 0.25s;
}
.dropdown__content--hidden.dropdown__content--slide {
  max-height: 0px !important;
}
.dropdown__content--hidden:not(.dropdown__content--slide) {
  display: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon i {
  color: inherit;
  font-size: inherit;
}
.icon--hoverable {
  transition: color 0.2s;
  cursor: pointer;
}
.icon--tiny {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.icon--small {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
.icon--medium {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.icon--large {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.generic--column {
  display: flex;
  flex-direction: column;
}

.tooltip {
  position: fixed;
  pointer-events: all;
}
.tooltip--hidden {
  display: none !important;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.layer--tooltips {
  background-color: transparent;
  pointer-events: none;
}
.layer--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.299);
}

.container {
  display: flex;
  flex-direction: column;
  color: #e0dbd1;
  overflow: hidden;
}
.container__header {
  text-align: center;
  background-color: #1E1D1C;
  padding: 0.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #eff688;
  z-index: 4;
}
.container__subheader {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 1rem;
  background-color: #131313;
  z-index: 3;
}
.container__subheader .icon:hover {
  color: #cbc83e;
}
.container__content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: overlay;
  z-index: 2;
}
.container--fill {
  flex: 1 1 0px;
}
.container__search {
  height: 100%;
  width: 100%;
  background-color: #0E0D0C;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
  color: #e0dbd1;
}
.container__label {
  color: #e0dbd1;
  padding: 0.25rem;
  font-size: 0.8125rem;
}
.container__label--optional {
  display: none;
}
* + .container__label--optional {
  display: block !important;
}

.modelbox {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.modelbox__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modelbox__content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: overlay;
}
.modelbox--hoverable {
  transition: background-color 0.25s;
}
.modelbox--hoverable:hover {
  cursor: pointer;
  background-color: #1E1D1C;
}

.primary-text {
  font-weight: bold;
}
.primary-text--tiny {
  font-size: 0.75rem;
}
.primary-text--small {
  font-size: 0.9375rem;
}
.primary-text--medium {
  font-size: 1rem;
}
.primary-text--large {
  font-size: 1.125rem;
}

.secondary-text--small {
  font-size: 0.75rem;
}
.secondary-text--medium {
  font-size: 0.8125rem;
}
.secondary-text--large {
  font-size: 0.9375rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.avatar--small {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.avatar--medium {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
.avatar--large {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
}
.avatar img {
  max-height: 100%;
  max-width: 100%;
}

.online-color--primary {
  color: #eff688;
}
.online-color--secondary {
  color: #cbc83e;
}

.offline-color--primary {
  color: #80a4a3;
}
.offline-color--secondary {
  color: #62777e;
}

.backlog {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
.backlog:hover {
  background-color: #212120;
}
.backlog:hover .backlog__actions {
  display: flex;
}
.backlog__avatar {
  grid-row: 1/-1;
}
.backlog__avatar .avatar {
  cursor: pointer;
}
.backlog__header {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  align-items: baseline;
}
.backlog__user {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.backlog__user:hover {
  text-decoration: underline;
}
.backlog__timestamp {
  font-size: 0.8125rem;
  color: #8D8A84;
}
.backlog__actions {
  display: none;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  border-radius: 4px;
}
.backlog__actions .menu {
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0;
}
.backlog__action {
  padding: 0.25rem;
  background-color: #181818;
  transition: background-color 0.2s;
  cursor: pointer;
}
.backlog__action:hover {
  background-color: #212120;
}
.backlog__body {
  overflow: hidden;
}
.backlog__content {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5rem;
  color: #e0dbd1;
  font-size: 0.9375rem;
}
.backlog__content img {
  max-height: 1.5rem;
  max-width: 1.5rem;
  vertical-align: middle;
}
.backlog__edit {
  all: unset;
  white-space: pre-wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: #1E1D1C;
  box-shadow: inset 0px 0px 4px 1px #161615;
  border-radius: 4px;
  overflow: overlay;
  overflow-wrap: break-word;
  color: #e0dbd1;
}
.backlog__prompts {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.backlog__prompts [data-action] {
  font-size: 0.75rem;
  font-weight: bold;
  color: #9966cc;
  cursor: pointer;
}
.backlog--editing {
  background-color: #212120;
}
.backlog--editing .backlog__content {
  min-height: 5rem;
  color: transparent;
}
.backlog--editing .backlog__content img {
  display: none;
}
.backlog__reactions {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  grid-column: 2;
}
.backlog__action-name {
  color: #e0dbd1;
  font-size: 0.9375rem;
}
.backlog__divider {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
  grid-column: 1/-1;
}
.backlog__divider > *:first-child, .backlog__divider > *:last-child {
  flex-grow: 1;
  height: 1px;
  background-color: #8D8A84;
}

.chatbar {
  z-index: 1;
  padding: 0.5rem;
}
.chatbar__body {
  display: flex;
  padding: 0;
  gap: 0;
  position: relative;
  background-color: #212120;
}
.chatbar__input {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0.5rem;
  overflow-wrap: break-word;
}
.chatbar__button {
  padding: 0.5rem;
  border-right: 1px solid #0E0D0C;
  transition: color 0.25s;
}
.chatbar__button:hover {
  cursor: pointer;
  color: #eff688;
}

.emotes {
  background-color: #1E1D1C;
  color: #e0dbd1;
  overflow: hidden;
  border-radius: 5px;
  position: fixed;
}
.emotes__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  z-index: 1;
  position: relative;
}
.emotes__body {
  display: flex;
  overflow: hidden;
}
.emotes__search {
  width: 100%;
  height: 1.5rem;
  background-color: #131313;
  color: #e0dbd1;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
}
.emotes__rooms {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: overlay;
  max-height: 25.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  position: relative;
  z-index: 0;
}
.emotes__rooms .avatar {
  transition: box-shadow 0.25s;
  transition: transform 0.25s;
}
.emotes__rooms .avatar:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.emotes__content {
  display: flex;
  align-content: flex-start;
  height: 25.25rem;
  width: 25.25rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: overlay;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #131313;
}
.emotes__emote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  transition: background-color 0.25s;
}
.emotes__emote:hover {
  cursor: pointer;
  background-color: #0E0D0C;
}
.emotes__emote img {
  max-height: 100%;
  max-width: 100%;
}

.friendship {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-self: center;
}
.friendship__accept {
  color: #11450C;
  cursor: pointer;
}
.friendship__accept:hover {
  color: #158308;
}
.friendship__reject {
  color: #6B2A2A;
  cursor: pointer;
}
.friendship__reject:hover {
  color: #FF3D3D;
}
.friendship__manage {
  color: #8D8A84;
  cursor: pointer;
}
.friendship__manage:hover {
  color: #e0dbd1;
}

.profile {
  background-color: #1E1D1C;
  width: 20rem;
  overflow: hidden;
  border-radius: 4px;
}
.profile .avatar {
  padding: 0.5rem;
  background-color: #1E1D1C;
  overflow: hidden;
  border-radius: 4px;
}
.profile__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.profile__header {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: end;
  justify-content: space-between;
  position: relative;
}
.profile__banner {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #403D39;
  z-index: -1;
}
.profile__body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  margin: 0.5rem;
  background-color: #161615;
  overflow: hidden;
  border-radius: 4px;
}
.profile__display-name {
  font-size: 1rem;
  font-weight: bold;
  color: #e0dbd1;
}
.profile__username {
  font-size: 0.875rem;
  color: #8D8A84;
}
.profile__divider {
  height: 1px;
  width: 100%;
  background-color: #8D8A84;
  margin: 0.5rem 0;
}
.profile__info {
  display: flex;
  padding: 0;
  gap: 0.25rem;
}
.profile__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #e0dbd1;
}
.profile__bio {
  font-size: 0.8125rem;
  color: #e0dbd1;
  overflow-wrap: break-word;
}
.profile__date {
  font-size: 0.75rem;
  color: #8D8A84;
}

.account {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161615;
}
.account__header {
  display: flex;
  justify-content: space-around;
}
.account__link {
  color: #9966cc;
  font-size: 0.75rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  width: 26rem;
  color: #e0dbd1;
  overflow: overlay;
}
.form__header {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  justify-content: space-between;
}
.form__title {
  font-size: 1.125rem;
  color: #e0dbd1;
  font-weight: bold;
}
.form__info {
  font-size: 0.875rem;
  color: #e0dbd1;
}
.form__subtitle {
  font-size: 0.8125rem;
  color: #8D8A84;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__field--error .form__label {
  color: #FF3D3D;
}
.form__field--error .form__input input:not([type=file]) {
  border: 1px solid #6B2A2A;
}
.form__label {
  font-weight: bold;
  font-size: 0.8125rem;
}
.form__label--danger {
  color: #FF3D3D;
}
.form__input input:not([type=file]) {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.125rem;
  color-scheme: dark;
  background-color: #101010;
}
.form__error {
  font-size: 0.75rem;
  color: #FF3D3D;
}
.form__error::before {
  content: "- ";
}
.form__submit {
  display: flex;
  padding: 0.5rem;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: bold;
  font-size: 1.125rem;
  color: #8D8A84;
  background-color: #11450C;
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}
.form__submit:hover {
  background-color: #158308;
  color: #e0dbd1;
}
.form__delete {
  display: flex;
  padding: 0.5rem;
  gap: 0;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #6B2A2A;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}
.form__delete:hover {
  background-color: #FF3D3D;
}
.form__close {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}
.form__content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.form .checkbox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.25rem;
  border-bottom: 1px solid #131313;
}
.form .checkbox__header {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.form .checkbox__label {
  font-size: 0.9375rem;
  color: #e0dbd1;
}
.form .checkbox__description {
  font-size: 0.875rem;
  color: #8D8A84;
}
.form .checkbox .switch {
  height: 1rem;
  width: 2.25rem;
}
.form .checkbox .switch input {
  min-height: calc(100% + 0.5rem);
  min-width: calc(100% + 0.5rem);
}
.form .checkbox .switch:has(input:not(:checked)) .switch__slider {
  left: 0%;
  background-color: #e0dbd1;
}
.form .checkbox .switch:has(input:not(:checked)) .switch__element div {
  background-color: #403D39;
}
.form .checkbox .switch:has(input:checked) .switch__slider {
  left: calc(100% - 1rem);
  background-color: #e0dbd1;
}
.form .checkbox .switch:has(input:checked) .switch__element div {
  background-color: #11450C;
}
.form .checkbox .switch__element div {
  padding: 0.25rem;
}
.form .checkbox .switch__slider {
  height: 1rem;
  width: 1rem;
}
.form .checkbox .switch__edge {
  height: 1rem;
  width: 1rem;
}
.form .checkbox .switch__body {
  height: 1rem;
}
.form .checkbox .switch__slider {
  height: 1rem;
  width: 1rem;
}
.form .option {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #101010;
  align-items: center;
  transition: background-color 0.2s;
}
.form .option:hover {
  background-color: #131313;
}
.form .option:hover .option__kind {
  color: #e0dbd1;
}
.form .option:hover .option__select {
  color: #e0dbd1;
}
.form .option:hover .option__name {
  color: #e0dbd1;
}
.form .option:has(input:checked) {
  background-color: #161615;
}
.form .option:has(input:checked) .option__kind {
  color: #e0dbd1;
}
.form .option:has(input:checked) .option__select {
  color: #e0dbd1;
}
.form .option:has(input:checked) .option__name {
  color: #e0dbd1;
}
.form .option:has(input:checked) .option__select {
  border-radius: 50%;
  background-color: #e0dbd1;
}
.form .option__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  justify-content: space-between;
}
.form .option__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  color: #D2D0C8;
  font-size: 0.9375rem;
}
.form .option__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  color: #80a4a3;
  font-size: 0.8125rem;
}
.form .option__kind {
  color: #62777e;
}
.form .option__select {
  color: #80a4a3;
}

.formbox {
  display: flex;
  padding: 0;
  gap: 0;
  border-radius: 0.25rem;
  background-color: #212120;
  max-width: 100vw;
  max-height: 100vh;
}
.formbox--fixed {
  height: 30rem;
}
.formbox--relative {
  min-height: 75%;
}
.formbox__navigation {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border-right: 1px solid #131313;
  overflow: overlay;
}
.formbox__button {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: #8D8A84;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.formbox__button:hover {
  color: #e0dbd1;
  background-color: #131313;
}

.user {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  transition: background-color 0.2s;
  cursor: pointer;
}
.user--online .user__username {
  color: #eff688;
}
.user--online .user__status {
  color: #cbc83e;
}
.user--offline .user__username {
  color: #80a4a3;
}
.user--offline .user__status {
  color: #62777e;
}
.user__username {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  font-weight: bold;
}
.user__status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.75rem;
}
.user__body {
  display: flex;
  flex-direction: column;
}
.user:hover {
  background-color: #212120;
}

.membership {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  transition: background-color 0.2s;
  cursor: pointer;
}
.membership__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.membership__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 1rem;
  color: #eff688;
  font-weight: bold;
}
.membership__count {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  color: #cbc83e;
}
.membership:hover {
  background-color: #212120;
}

.room-card {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}
.room-card__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.room-card__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #eff688;
}
.room-card__join {
  display: flex;
  padding: 0.25rem;
  gap: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #d6d018;
  color: #131313;
  box-shadow: 0px 0px 4px 1px #d6d018;
  border-radius: 4px;
  cursor: pointer;
}
.room-card__avatar {
  overflow: hidden;
  border-radius: 4px;
  background-color: #1E1D1C;
  padding: 0.5rem;
}
.room-card__description {
  color: #cbc83e;
  font-size: 0.8125rem;
  overflow: overlay;
  overflow-wrap: break-word;
}

.news {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.news:hover {
  background-color: #212120;
}
.news__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  color: #e0dbd1;
}
.news__date {
  font-size: 0.9375rem;
  color: #8D8A84;
}

.channels {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.category:has(.dropdown__content--hidden) .category__expand {
  transform: rotate(-90deg);
}
.category__header {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
}
.category__name {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #8D8A84;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.category__name:hover {
  color: #e0dbd1;
}
.category__add {
  color: #8D8A84;
}
.category__add:hover {
  color: #e0dbd1;
}
.category__channels {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  padding-left: 0.5rem;
}

.channel {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  align-items: center;
  color: #8D8A84;
}
.channel:hover {
  color: #e0dbd1;
  background-color: #212120;
}
.channel:hover .channel__settings {
  display: block;
}
.channel__kind {
  color: #62777e;
}
.channel__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.channel__settings {
  color: #8D8A84;
  display: none;
}
.channel__settings:hover {
  color: #e0dbd1;
}

.option {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.option--round {
  border-radius: 0.25rem;
}
.option input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.error {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #6B2A2A;
  color: #e0dbd1;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
.error__message {
  font-size: 0.9375rem;
  font-weight: bold;
}
.error__close {
  align-self: flex-end;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0;
  background-color: #181818;
  overflow: hidden;
  border-radius: 0.25rem;
}
.menu__item {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 0.8125rem;
  color: #8D8A84;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.menu__item:hover {
  color: #e0dbd1;
  background-color: #212120;
}

.select {
  position: relative;
}
.select--active .select__options {
  display: block;
}
.select__options {
  display: none;
  position: absolute;
  top: 100%;
  max-height: 600%;
  width: 100%;
  overflow: overlay;
}

.switchable__content--hidden {
  display: none;
}

.switch {
  display: flex;
  padding: 0;
  gap: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
.switch input {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
.switch__element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.switch__element div {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  transition: background-color 0.2s;
}
.switch__slider {
  position: absolute;
  border-radius: 50%;
  transition: left 0.2s;
}
.switch__edge--left {
  border-radius: 50% 0% 0% 50%;
}
.switch__edge--left div {
  border-radius: 50% 0% 0% 50%;
}
.switch__edge--right {
  border-radius: 0% 50% 50% 0%;
}
.switch__edge--right div {
  border-radius: 0% 50% 50% 0%;
}
.switch__body {
  flex-grow: 1;
}
.switch__slider {
  position: absolute;
}

.upload {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.upload__image {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  align-items: center;
}
.upload__requirements {
  font-size: 0.75rem;
  font-weight: bold;
  color: #8D8A84;
}
.upload__button {
  display: flex;
  padding: 0.5rem;
  gap: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #403D39;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.upload__button:hover {
  background-color: #403D39;
}
.upload__body {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
  justify-content: space-between;
}
.upload__description {
  font-size: 0.875rem;
  color: #8D8A84;
}
.upload input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  font-size: 0px !important;
}

.app {
  display: flex;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.app__main {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex: 1;
  background-color: #181818;
  overflow: hidden;
}
.app__sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  background-color: #131313;
  overflow: hidden;
}
.app__sidebar--primary {
  width: 20rem;
}
.app__sidebar--secondary {
  width: 15rem;
}

.reaction {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  border-radius: 4px;
  background-color: #131313;
  border: 1px solid #131313;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: box-shadow 0.25s, background-color 0.25s, border 0.25s;
  cursor: pointer;
}
.reaction--selected {
  background-color: #403D39;
  border: 1px solid #403D39;
}
.reaction__counter {
  font-size: 0.9375rem;
}
.reaction img {
  max-width: 1.25rem;
  max-height: 1.25rem;
}
.reaction:not(.reaction--selected):hover {
  background-color: #212120;
}
.reaction:hover {
  border: 1px solid #62777e;
}

.user-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.user-group:has(.user-group__content:empty) .user-group__index {
  display: none;
}
.user-group__index {
  color: #e0dbd1;
  font-size: 0.8125rem;
  padding: 0.5rem;
}
.user-group__content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}

.role {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: #403D39;
  border-radius: 4px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.role__color {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
}
.role__name {
  font-size: 0.75rem;
  color: #e0dbd1;
}

.explorer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  padding: 1rem;
  gap: 1rem;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  overflow: hidden;
  border-radius: 4px;
  max-height: 12rem;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 0px 4px 1px #161615;
  transition: transform 0.2s, box-shadow 0.2s;
}
.result:hover {
  box-shadow: 0px 0px 4px 1px #212120;
  transform: scale(1.01);
}
.result__header {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto auto auto;
  background-color: #212120;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0px 0px 4px 1px #161615;
}
.result__avatar {
  grid-row: 1/-1;
  overflow: hidden;
  border-radius: 4px;
}
.result__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  font-weight: bold;
}
.result__info {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.result__members {
  font-size: 0.75rem;
}
.result__description {
  font-size: 0.8125rem;
  padding: 0.5rem;
  overflow: auto;
  background-color: #1E1D1C;
  word-wrap: break-word;
}
.result__footer {
  display: flex;
  padding: 0.5rem;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
}
.result__report {
  color: #FF3D3D;
  font-size: 0.8125rem;
}
.result__button {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 0.8125rem;
  overflow: hidden;
  border-radius: 4px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.result__button--join {
  background-color: #11450C;
}
.result__button--join:hover {
  background-color: #158308;
}
.result__button--profile {
  background-color: #9966cc;
}

.app-section--main__channel {
  position: absolute;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  color: #e0dbd1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.app-section--main__message {
  display: grid;
  grid-template: auto/auto 1fr;
  align-items: baseline;
  gap: 0rem 0.25rem;
}
.app-section--main__message-header {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}
.app-section--main__message-timestamp {
  color: #80a4a3;
  font-size: 0.7rem;
}
.app-section--main__message-user {
  color: #eff688;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.app-section--main__message-user:hover {
  cursor: pointer;
  text-decoration: underline;
}
.app-section--main__message-blank {
  min-width: -moz-min-content;
  min-width: min-content;
}
.app-section--main__message-body {
  display: grid;
  grid-template: auto/auto 1fr;
  position: relative;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.app-section--main__message-body:hover {
  background-color: #3d2b3c;
}
.app-section--main__message-body:hover .app-section--main__message-actions {
  display: flex;
}
.app-section--main__message-actions {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: none;
  background-color: #010b13;
  border: 1px solid #62777e;
  border-radius: 4px;
  padding: 0.5rem;
  gap: 0.5rem;
}
.app-section--main__message-actions.has-open-action {
  display: flex !important;
}
.app-section--main__message-actions span {
  color: #62777e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
  position: relative;
  width: 1rem;
  height: 1rem;
}
.app-section--main__message-actions span i {
  font-size: 1.333rem;
}
.app-section--main__message-actions span:hover {
  color: #e0dbd1;
  cursor: pointer;
}
.app-section--main__message-reactions {
  display: flex;
  gap: 0.5rem;
}
.app-section--main__message-reaction {
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem 0rem;
  height: 1.25rem;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #80a4a3;
  transition: all 0.2s;
}
.app-section--main__message-reaction img {
  max-width: 100%;
  max-width: 100%;
}
.app-section--main__message-reaction.inactive {
  background-color: #131313;
}
.app-section--main__message-reaction.inactive:hover {
  cursor: pointer;
  color: #e0dbd1;
  background-color: #1E1D1C;
  border: 1px solid #62777e;
}
.app-section--main__message-reaction.active {
  background-color: #3d2b3c;
  border: 1px solid #9966cc;
}
.app-section--main__message-reaction.active:hover {
  cursor: pointer;
}
.app-section--main__profile {
  position: absolute;
  padding: 0.5rem;
  background-color: #1E1D1C;
  z-index: 1;
}
.app-section--main__react {
  display: none;
  flex-direction: column;
  width: 15rem;
  color: #e0dbd1;
  border-radius: 4px;
  height: 10rem;
  overflow: hidden;
  z-index: 1;
}
.app-section--main__react-header {
  padding: 0.5rem;
  display: flex;
  color: #80a4a3;
  background-color: #1E1D1C;
  box-shadow: 0px 0px 7px 3px #080808;
  z-index: 1;
}
.app-section--main__react-body {
  display: flex;
  flex-grow: 1;
}
.app-section--main__react-servers {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 1rem;
  background-color: #131313;
  padding: 0.5rem;
}
.app-section--main__react-emotes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #1E1D1C;
}
.app-section--main__react-emote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  transition: background-color 0.2s;
}
.app-section--main__react-emote:hover {
  cursor: pointer;
  background-color: #131313;
}
.app-section--main__react-emote img {
  max-width: 100%;
  max-height: 100%;
}
.app-section--main__log {
  display: flex;
  flex-direction: row-reverse;
}
.app-section--main__log-timestamp {
  color: #9966cc;
  font-size: 0.7rem;
}
.app-section--main__log-action {
  color: #9966cc;
  font-size: 0.8rem;
}
.app-section--main__log-user {
  color: #9966cc;
  font-size: 0.8rem;
  font-weight: bold;
}
.app-section--main__chatbar {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  padding: 0.5rem;
}
.app-section--main__chatbar-input {
  background-color: #131313;
  resize: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  border: 2px solid #1E1D1C;
  font-size: 1rem;
  color: #e0dbd1;
  outline: none;
}
.app-section--main__chatbar-submit {
  border: 2px solid #1E1D1C;
  height: 3rem;
  width: 3rem;
  background-color: #131313;
  color: #e0dbd1;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=channel.css.map */