/* 01 */
/* 02 */
/* 03 */
/* 04 */
/* 05 */
/* 06 */
/* 07 */
/* 08 */
/* 09 */
/* 10 */
/* 11 */
/* 12 */
/* 13 */
/* 14 */
/* 15 */
/* 16 */
/* 17 */
/* 18 */
/* 19 */
.bottom {
  margin-top: auto !important;
}

.top {
  margin-bottom: auto !important;
}

.left {
  margin-right: auto !important;
}

.right {
  margin-left: auto !important;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(112, 6%, 25%, 0.516);
}
*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.wrapper--remaining-space {
  position: relative;
  flex: 1;
}
.wrapper--flex {
  display: flex;
}

.online-main {
  color: #eff688;
}
.online-secondary {
  color: #d6d018;
}

.offline-main {
  color: #62777e;
}
.offline-secondary {
  color: #80a4a3;
}

.has-shadow {
  box-shadow: 0px 0px 7px 1px #080808;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.dropdown-container.open .dropdown-content {
  display: flex;
  /*
  opacity: 100;
  visibility: visible;
  transform: translateY(100%);
  bottom: 0;
  */
}
.dropdown-container.open > .app-section--sidebar__icon {
  color: #eff688;
}
.dropdown-container.closed .dropdown-content {
  display: none;
  /*
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transform: translateY(0%);
  bottom: 0;
  */
}
.dropdown-content {
  flex-direction: column;
}
.dropdown-trigger:hover {
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}

.icon {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon i {
  color: inherit;
  font-size: inherit;
}
.icon--tiny {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.icon--small {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
.icon--medium {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.icon--large {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  color: #e0dbd1;
  overflow: hidden;
}
.container__header {
  text-align: center;
  background-color: #252321;
  padding: 0.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #eff688;
  z-index: 3;
}
.container__subheader {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 1rem;
  background-color: #181615;
  z-index: 2;
}
.container__content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow: overlay;
  z-index: 1;
}
.container__content > * {
  position: relative;
}
.container--fill {
  flex: 1 1 0px;
}
.container__search {
  height: 100%;
  width: 100%;
  background-color: #0E0D0C;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
  color: #e0dbd1;
}

.modelbox {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.modelbox__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}
.modelbox__content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: overlay;
}
.modelbox--hoverable {
  transition: background-color 0.25s;
}
.modelbox--hoverable:hover {
  cursor: pointer;
  background-color: #252321;
}

.primary-text {
  font-weight: bold;
}
.primary-text--tiny {
  font-size: 0.75rem;
}
.primary-text--small {
  font-size: 0.9375rem;
}
.primary-text--medium {
  font-size: 1rem;
}
.primary-text--large {
  font-size: 1.125rem;
}

.secondary-text--small {
  font-size: 0.75rem;
}
.secondary-text--medium {
  font-size: 0.8125rem;
}
.secondary-text--large {
  font-size: 0.9375rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
}
.avatar--small {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.avatar--medium {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
.avatar--large {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
}
.avatar img {
  max-height: 100%;
  max-width: 100%;
}

.online-color--primary {
  color: #eff688;
}
.online-color--secondary {
  color: #cbc83e;
}

.offline-color--primary {
  color: #80a4a3;
}
.offline-color--secondary {
  color: #62777e;
}

.message {
  display: flex;
  align-items: start;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  position: relative;
}
.message:hover .message__actions {
  display: flex;
}
.message__body {
  overflow: overlay;
}
.message__header {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}
.message__content {
  color: #e0dbd1;
  overflow-wrap: break-word;
}
.message:hover {
  background-color: #101010;
}
.message__action {
  transition: background-color 0.25s;
}
.message__actions {
  position: absolute;
  bottom: 80%;
  right: 0.5rem;
  display: none;
  background-color: #181615;
  border-radius: 0.25rem;
  transition: box-shadow 0.25s;
  overflow: hidden;
}
.message__actions:hover {
  box-shadow: 0px 0px 7px 1px #181615;
}
.message__actions .message__action {
  padding: 0.25rem;
}
.message__actions .message__action:hover {
  cursor: pointer;
  background-color: #252321;
}

.log {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  padding: 0rem 0.5rem;
  justify-content: end;
}

.chatbar {
  display: flex;
  padding: 0.5rem;
  z-index: 1;
  height: -moz-min-content;
  height: min-content;
}
.chatbar__input {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: #181615;
  overflow-wrap: break-word;
}
.chatbar__button {
  background-color: #181615;
  padding: 0.5rem;
  border-right: 1px solid #0E0D0C;
  transition: color 0.25s;
}
.chatbar__button:hover {
  cursor: pointer;
  color: #eff688;
}

.app-section--main__channel {
  position: absolute;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  color: #e0dbd1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.app-section--main__message {
  display: grid;
  grid-template: auto/auto 1fr;
  align-items: baseline;
  gap: 0rem 0.25rem;
}
.app-section--main__message-header {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}
.app-section--main__message-timestamp {
  color: #80a4a3;
  font-size: 0.7rem;
}
.app-section--main__message-user {
  color: #eff688;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.app-section--main__message-user:hover {
  cursor: pointer;
  text-decoration: underline;
}
.app-section--main__message-blank {
  min-width: -moz-min-content;
  min-width: min-content;
}
.app-section--main__message-body {
  display: grid;
  grid-template: auto/auto 1fr;
  position: relative;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.app-section--main__message-body:hover {
  background-color: #3d2b3c;
}
.app-section--main__message-body:hover .app-section--main__message-actions {
  display: flex;
}
.app-section--main__message-actions {
  position: absolute;
  right: 0;
  bottom: 100%;
  display: none;
  background-color: #010b13;
  border: 1px solid #62777e;
  border-radius: 4px;
  padding: 0.5rem;
  gap: 0.5rem;
}
.app-section--main__message-actions.has-open-action {
  display: flex !important;
}
.app-section--main__message-actions span {
  color: #62777e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s;
  position: relative;
  width: 1rem;
  height: 1rem;
}
.app-section--main__message-actions span i {
  font-size: 1.333rem;
}
.app-section--main__message-actions span:hover {
  color: #e0dbd1;
  cursor: pointer;
}
.app-section--main__message-reactions {
  display: flex;
  gap: 0.5rem;
}
.app-section--main__message-reaction {
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem 0rem;
  height: 1.25rem;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #80a4a3;
  transition: all 0.2s;
}
.app-section--main__message-reaction img {
  max-width: 100%;
  max-width: 100%;
}
.app-section--main__message-reaction.inactive {
  background-color: #181615;
}
.app-section--main__message-reaction.inactive:hover {
  cursor: pointer;
  color: #e0dbd1;
  background-color: #252321;
  border: 1px solid #62777e;
}
.app-section--main__message-reaction.active {
  background-color: #3d2b3c;
  border: 1px solid #9966cc;
}
.app-section--main__message-reaction.active:hover {
  cursor: pointer;
}
.app-section--main__profile {
  position: absolute;
  padding: 0.5rem;
  background-color: #252321;
  z-index: 1;
}
.app-section--main__react {
  display: none;
  flex-direction: column;
  width: 15rem;
  color: #e0dbd1;
  border-radius: 4px;
  height: 10rem;
  overflow: hidden;
  z-index: 1;
}
.app-section--main__react-header {
  padding: 0.5rem;
  display: flex;
  color: #80a4a3;
  background-color: #252321;
  box-shadow: 0px 0px 7px 3px #080808;
  z-index: 1;
}
.app-section--main__react-body {
  display: flex;
  flex-grow: 1;
}
.app-section--main__react-servers {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 1rem;
  background-color: #181615;
  padding: 0.5rem;
}
.app-section--main__react-emotes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #252321;
}
.app-section--main__react-emote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  transition: background-color 0.2s;
}
.app-section--main__react-emote:hover {
  cursor: pointer;
  background-color: #181615;
}
.app-section--main__react-emote img {
  max-width: 100%;
  max-height: 100%;
}
.app-section--main__log {
  display: flex;
  flex-direction: row-reverse;
}
.app-section--main__log-timestamp {
  color: #9966cc;
  font-size: 0.7rem;
}
.app-section--main__log-action {
  color: #9966cc;
  font-size: 0.8rem;
}
.app-section--main__log-user {
  color: #9966cc;
  font-size: 0.8rem;
  font-weight: bold;
}
.app-section--main__chatbar {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  padding: 0.5rem;
}
.app-section--main__chatbar-input {
  background-color: #181615;
  resize: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  box-sizing: border-box;
  border: 2px solid #252321;
  font-size: 1rem;
  color: #e0dbd1;
  outline: none;
}
.app-section--main__chatbar-submit {
  border: 2px solid #252321;
  height: 3rem;
  width: 3rem;
  background-color: #181615;
  color: #e0dbd1;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=channel.css.map */