@use '../core/global';

.app-section--main {
	&__channel {
		position: absolute;
		overflow: auto;
		
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		
		padding: 0.5rem;
		color: global.$chalk-white;

		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

	&__message {
		$message: &;
		display: grid;
		grid-template: auto / auto 1fr;
		align-items: baseline;
		gap: 0rem 0.25rem;

		&-header {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;
		}
		&-timestamp {
			color: global.$acapulco-aqua;
			font-size: 0.7rem;
		}
		&-user {
			color: global.$premier-yellow;
			font-size: 1.1rem;
			width: fit-content;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
		&-blank {
			min-width: min-content;
		}
		&-body {
			display: grid;
			grid-template: auto / auto 1fr;
			position: relative;
			font-size: 1rem;
			transition: background-color 0.2s;

			&:hover {
				background-color: global.$deep-burgundy;
				#{ $message }-actions {				
					display: flex;
				}
			}
		}
		&-actions {
			position: absolute;
			right: 0;
			bottom: 100%;

			display: none;
			background-color: global.$rich-black;
			border: 1px solid global.$blue-bayoux;
			border-radius: 4px;
			padding: 0.5rem;
			gap: 0.5rem;

			&.has-open-action {
				display: flex !important;
			}

			span {
				color: global.$blue-bayoux;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: color 0.2s;

				position: relative;
				width: 1rem;
				height: 1rem;
				
				i {
					font-size: 1.333rem;
				}

				&:hover {
					color: global.$chalk-white;
					cursor: pointer;
				}
			}
		}
		&-reactions {
			display: flex;
			gap: 0.5rem;
		}
		&-reaction {
			display: flex;
			gap: 0.5rem;
			margin: 0.25rem 0rem;
			height: 1.25rem;
			padding: 0.25rem;
			border: 1px solid transparent;
			border-radius: 4px;
			color: global.$acapulco-aqua;
			transition: all 0.2s;

			img {
				max-width: 100%;
				max-width: 100%;
			}

			&.inactive {
				background-color: global.$charcoal-grey;
				&:hover {
					cursor: pointer;
					color: global.$chalk-white;
					background-color: global.$black-chestnut-oak;
					border: 1px solid global.$blue-bayoux;
				}
			}
			&.active {
				background-color: global.$deep-burgundy;
				border: 1px solid global.$amethyst;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&__profile {
		position: absolute;
		padding: 0.5rem;
		background-color: global.$black-chestnut-oak;
		z-index: 1;
	}

	&__react {
		display: none;
		flex-direction: column;
		width: 15rem;
		color: global.$chalk-white;
		border-radius: 4px;
		height: 10rem;
		overflow: hidden;

		z-index: 1;

		&-header {
			padding: 0.5rem;
			display: flex;
			color: global.$acapulco-aqua;
			background-color: global.$black-chestnut-oak;
			box-shadow: 0px 0px 7px 3px global.$vampire-black;
			z-index: 1;
		}
		&-body {
			display: flex;
			flex-grow: 1;
		}
		&-servers {
			gap: 0.5rem;
			display: flex;
			flex-direction: column;
			width: 1rem;
			background-color: global.$charcoal-grey;
			padding: 0.5rem;
		}
		&-emotes {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			flex-grow: 1;
			padding: 0.5rem;
			box-sizing: border-box;
			background-color: global.$black-chestnut-oak;
		}
		&-emote {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 24px;
			height: 24px;
			padding: 6px;
			transition: background-color 0.2s;

			&:hover {
				cursor: pointer;
				background-color: global.$charcoal-grey;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&__log {
		display: flex;
		flex-direction: row-reverse;

		&-timestamp {
			color: global.$amethyst;
			font-size: 0.7rem;
		}
		&-action {
			color: global.$amethyst;
			font-size: 0.8rem;
		}
		&-user {
			color: global.$amethyst;
			font-size: 0.8rem;
			font-weight: bold;
		}
	}

	&__chatbar {
		box-sizing: border-box;
		display: flex;
		gap: 0.5rem;
		height: 4rem;
		padding: 0.5rem;

		&-input {
			background-color: global.$charcoal-grey;
			resize: none;
			position: absolute;
			height: 100%;
			width: 100%;
			padding: 0.2rem;
			box-sizing: border-box;
			border: 2px solid global.$black-chestnut-oak;
			font-size: 1rem;
			color: global.$chalk-white;
			outline: none;

		}

		&-submit {
			border: 2px solid global.$black-chestnut-oak;
			height: 3rem;
			width: 3rem;
			background-color: global.$charcoal-grey;
			color: global.$chalk-white;
			box-sizing: border-box;
			font-size: 2rem;
			font-weight: bold;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}