@use '../core/global';

.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	background-color: global.$vampire-black;

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 1rem;
		border-radius: 4px;
		padding: 2.5rem;
		box-sizing: border-box;
		background-color: global.$black-chestnut-oak;
		max-width: 500px;
	}

	&__header {
		display: flex;
		justify-content: space-between;

		* {
			color: global.$chalk-white;
			font-size: 1.2rem;
			font-weight: bold;
		}
		a:hover {
			text-decoration: underline;
		}
	}

	&__form-field {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
	}
	
	&__label {
		font-size: 0.9rem;
		font-weight: bold;
		color: global.$chalk-white;
	}
	
	&__input input {
		color: global.$chalk-white;
		font-size: 1.2rem;
		padding: 0.1rem 0.3rem;
		box-sizing: border-box;
		border-radius: 4px;
		color-scheme: dark; // changes the icon and popup color
		height: 2.5rem;
		width: 100%;

		/* 2x25% times darker black chestnut oak */
		background-color: #181615;
	}
	
	&__submit {
		color: global.$chalk-white;
		background-color: global.$amethyst;
		padding: 0.9rem 0rem;
		border: none;
		border-radius: 4px;
		font-size: 1.1rem;
		width: 100%;
		transition: background-color 0.5s;

		&:hover {
			cursor: pointer;
			background-color: #7a3db8;
		}
	}
}