<div class="container">
	<div class="container__header">
		Room
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small icon--hoverable right">
			<i class="material-symbols-outlined">
				notifications
			</i>
		</span>
		<span class="icon icon--small icon--hoverable overlay__trigger" data-view-name="update-room">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="room-card">
		<span class="avatar avatar--large has-shadow">
			<img src="{{ MEDIA_URL }}{{ room.image.url }}" alt="">
		</span>
		<span class="wrapper--remaining-space">
			<div class="room-card__body">
				<div class="room-card__name">
					{{ room.name }}
				</div>
				<div class="room-card__description">
					{{ room.description }}
				</div>
				<div class="room-card__join bottom">
					Join
				</div>
			</div>
		</span>
	</div>
</div>
<div class="container container--fill">
	<div class="container__header">
		Channels
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<div class="container__content">
			<ul class="channels">
				{% for category in room.categories.all %}
				<ul class="category dropdown" style="order: {{ category.order }};" data-pk="{{ category.pk }}">
					<li class="category__header">
						<span class="category__name dropdown__trigger">
							<span class="category__expand">
								<div class="icon icon--tiny">
									<i class="material-symbols-outlined">
										expand_more
									</i>
								</div>
							</span>
							<span>
								{{ category.name }}
							</span>
						</span>
						<span class="category__add right overlay__trigger" data-view-name="create-channel">
							<div class="icon icon--tiny icon--hoverable">
								<i class="material-symbols-outlined">
									add
								</i>
							</div>
						</span>
					</li>
					<ul class="category__channels dropdown__content dropdown__content--static dropdown__content--slide">
						{% for object in category.channels.all %}
							{% include "./channel.html" %}
						{% endfor %}
					</ul>
				</ul>
				{% endfor %}
				{% for object in room.uncategorised %}
					{% include "./channel.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>
	
	
</div>


<div class="container container--fill">
	<div class="container__header">
		Members
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				group
			</i>
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content">
			{% for member in room.members.all %}
			<li class="modelbox modelbox--hoverable">
				<span class="avatar avatar--small has-shadow">
					<img src="{{ MEDIA_URL }}{{ member.image.url }}" alt="">
				</span>
				<span class="wrapper--remaining-space">
					<span class="modelbox__info">
						<div class="primary-text primary-text--small ellipsis online-color--primary">
							{{ member.user.username }}
						</div>
						<div class="secondary-text secondary-text--small ellipsis online-color--secondary">
							{{ member.user.profile.status }}
						</div>
					</span>
				</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>