<div class="container container--fill">
	<div class="container__header">
		Room
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				notifications
			</i>
		</span>
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content">
			<li class="modelbox">
				<span class="avatar avatar--large has-shadow">
					<img src="{{ MEDIA_URL }}{{ room.image.url }}" alt="">
				</span>
				<span class="wrapper--remaining-space">
					<div class="modelbox__info">
						<div class="primary-text primary-text--large ellipsis online-color--primary">
							{{ room.name }}
						</div>
						<div class="wrapper--remaining-space">
							<div class="modelbox__content">
								<div class="secondary-text secondary-text--large online-color--secondary">
									{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}{{ room.description }}
								</div>
							</div>				
						</div>
					</div>
				</span>
			</li>
			{% if user in room.members_by_users %}
			<li class="modelbox">
				<div class="app__join right left">
					Join
				</div>
			</li>
			{% endif %}
			<li class="container__header has-shadow">
				Channels
			</li>
			{% for object in room.channels_and_categories %}
				{% if object|classname == 'ChannelCategory' %}
					{% with object as room_category %}
					<ul class="dropdown">
						<li class="app__category has-shadow offline-color--primary dropdown__trigger">
							<span class="icon icon--tiny">
								<i class="material-symbols-outlined">
									arrow_drop_down
								</i>
							</span>
							<span class="secondary-text secondary-text--medium">
								{{ room_category.name }}
							</span>
							<span class="icon icon--tiny right">
								<i class="material-symbols-outlined">
									add_circle
								</i>
							</span>
						</li>
						<ul class="app__channel-group dropdown__content dropdown__content--slide dropdown__content--visible dropdown__content--static">
							{% for room_channel in room_category.channels_by_order %}
								{% include "./channel.html" with kind=room_channel.kind name=room_channel.name room_pk=room.pk channel_pk=room_channel.pk %}
							{% endfor %}
						</ul>
					</ul>
					{% endwith %}
				{% elif object|classname == 'Channel' %}
					{% with object as room_channel %}
						{% include "./channel.html" with kind=room_channel.kind name=room_channel.name room_pk=room.pk channel_pk=room_channel.pk %}
					{% endwith %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>



<div class="container container--fill">
	<div class="container__header">
		Members
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				group
			</i>
		</span>
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content">
			{% for member in room.members.all %}
			<li class="modelbox modelbox--hoverable">
				<span class="avatar avatar--small has-shadow">
					<img src="{{ MEDIA_URL }}{{ member.image.url }}" alt="">
				</span>
				<span class="wrapper--remaining-space">
					<span class="modelbox__info">
						<div class="primary-text primary-text--small ellipsis online-color--primary">
							{{ member.user.username }}
						</div>
						<div class="secondary-text secondary-text--small ellipsis online-color--secondary">
							{{ member.user.profile.status }}
						</div>
					</span>
				</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>