<div class="container">
	<div class="container__header">
		Room
	</div>
	<div class="container__subheader has-shadow" data-context='{
        "objects": {
            "member": {{ member|object_to_json }},
            "room": {{ room|object_to_json }}
        }
    }'>
        {% if member and user != room.owner %}
            <span class="icon icon--small icon--hoverable overlay__trigger" data-target="leave-room">
                <i class="material-symbols-outlined">
                    door_open
                </i>
            </span>
        {% endif %}
        <span class="wrapper--flex right">
            {% if member %}
                <span class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        notifications
                    </i>
                </span>
            {% endif %}
            <span class="icon icon--small icon--hoverable tooltip__trigger" data-positioning='{"top": "100%", "left": "0px"}' data-target="room-menu">
                <i class="material-symbols-outlined">
                    settings
                </i>
            </span>
        </span>
	</div>
	<div class="room-card">
        <div class="room-card__avatar has-shadow">
            <span class="avatar avatar--large">
                <img src="{{ MEDIA_URL }}{{ room.image.url }}" alt="">
            </span>
        </div>
		<span class="wrapper--remaining-space">
			<form class="room-card__body" method="POST" action="{% url 'join-room' room=room.pk %}">
				<div class="room-card__name">
					{{ room.name }}
				</div>
				<div class="room-card__description">
					{{ room.description }}
				</div>
                {% if not user|is_member:room %}
                    {% csrf_token %}
                    <button class="room-card__join bottom" type="submit">
                        Join
                    </button>
                {% endif %}
			</form>
		</span>
	</div>
</div>
{% if member %}
<div class="container container--fill">
	<div class="container__header">
		Channels
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<div class="container__content">
			<ul class="channels">
				{% for category in room.categories.all %}
				<ul class="category dropdown" style="order: {{ category.order }};" data-pk="{{ category.pk }}">
					<li class="category__header">
						<span class="category__name dropdown__trigger">
							<span class="category__expand">
								<div class="icon icon--tiny">
									<i class="material-symbols-outlined">
										expand_more
									</i>
								</div>
							</span>
							<span>
								{{ category.name }}
							</span>
						</span>
                        {% if member|member_has_role_perm:'add_channel' %}
						<span class="category__add right overlay__trigger" data-view-name="create-channel">
							<div class="icon icon--tiny icon--hoverable">
								<i class="material-symbols-outlined">
									add
								</i>
							</div>
						</span>
                        {% endif %}
					</li>
					<ul class="category__channels dropdown__content dropdown__content--static">
						{% for object in category.channels.all %}
							{% include "./channel.html" %}
						{% endfor %}
					</ul>
				</ul>
				{% endfor %}
				{% for object in room.uncategorised %}
					{% include "./channel.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
<div class="container container--fill">
	<div class="container__header">
		Members
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				group
			</i>
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				search
			</i>
		</span>
		<span class="wrapper--remaining-space">
			<input type="text" class="container__search">
		</span>
		<span class="icon icon--small icon--hoverable">
			<i class="material-symbols-outlined">
				settings
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content">
			{% for member in room.members.all %}
                {% include "./member.html" %}
			{% endfor %}
		</ul>
	</div>
</div>