<div class="backlog-invite">
    <div class="backlog-invite__label">
        Invite To Chat
    </div>
    <div class="backlog-invite__body">
        {% if not invite.valid %}
            <div class="backlog-invite__chat">
                <div class="avatar avatar--medium">
                    <img src="" alt="">
                </div>
                <div>
                    <div class="backlog-invite__title backlog-invite__title--error">
                        Invalid Invite
                    </div>
                    <div class="backlog-invite__subtitle">
                        It seems this invite doesn't exist
                    </div>
                </div>
            </div>
        {% elif invite.is_expired %}
            <div class="backlog-invite__chat">
                <div class="avatar">
                    <div class="icon icon--large">
                        <i class="material-symbols-outlined">
                            not_listed_location
                        </i>
                    </div>
                </div>
                <div>
                    <div class="backlog-invite__title backlog-invite__title--error">
                        Invite Expired
                    </div>
                    <div class="backlog-invite__subtitle">
                        You'll need to obtain a new invite to join
                    </div>
                </div>
            </div>
        {% else %}
            <div class="backlog-invite__chat">
                <div class="avatar">
                    <img src="{{ invite.chat.image.url }}" alt="">
                </div>
                <div>
                    <div class="backlog-invite__title">
                        {{ invite.chat.name }}
                    </div>
                    <div class="backlog-invite__subtitle">
                        {{ invite.chat.memberships.count }} Members
                    </div>
                </div>
            </div>
            <div class="backlog-invite__button backlog-invite__button--accept">
                Accept Invite
            </div>
        {% endif %}
    </div>
</div>