{% if channel.pk in visible_channels %}
    <a class="channel {% if channel == group_channel %} channel--selected {% endif %}" href="{% url 'group-channel' group_chat_pk=channel.chat.pk group_channel_pk=channel.pk %}" id="group-channel-{{ channel.pk }}" data-role="channel">
        <div class="app__icon">
            <div class="icon icon--small">
                <i class="material-symbols-outlined">
                    tag
                </i>
            </div>
        </div>
        <div class="channel__title">
            {{ channel.name }}
        </div>
        {% with unread_backlogs=user|unread_backlogs:channel.backlog_group %}
            {% if unread_backlogs %}
                <div class="notification notification--hidden">
                    {{ unread_backlogs.count }}
                </div>
            {% endif %}
        {% endwith %}
    </a>
{% endif %}