<a class="channel" style="order: {{ category.order }};" data-pk="{{ object.pk }}" href="{% url 'channel' room=room.pk channel=object.pk %}">
	<span class="channel__kind">
		{% if object.kind == 'text' %}
		<div class="icon icon--small">
			<i class="material-symbols-outlined">
				tag
			</i>
		</div>
		{% elif object.kind == 'voice' %}
		<div class="icon icon--small">
			<i class="material-symbols-outlined">
				volume_up
			</i>
		</div>
		{% endif %}
	</span>
	<span class="channel__name">
		{{ object.name }}
	</span>
	<span class="channel__settings right overlay__trigger" data-view-name="update-channel">
		<div class="icon icon--tiny">
			<i class="material-symbols-outlined">
				settings
			</i>
		</div>
	</span>
</a>
