<div class="emote-manager__item" id="emote-{{ emote.pk }}">
    <div class="avatar avatar--small">
        <img src="{{ emote.image }}" alt="">
    </div>
    <div class="emote-manager__item-body">
        <div>
            <div class="emote-manager__item-label">
                Emote Name
            </div>
            <div class="emote-manager__item-value" data-role="name">
                :{{ emote.name }}:
            </div>
        </div>
        <div>
            <div class="emote-manager__item-label">
                Added By
            </div>
            <div class="emote-manager__item-value">
                {{ emote.added_by }}
            </div>
        </div>
        <div>
            <div class="emote-manager__item-label">
                Added on
            </div>
            <div class="emote-manager__item-value">
                {{ emote.date_created }}
            </div>
        </div>
        <div class="emote-manager__item-actions">
            <div class="emote-manager__button emote-manager__button--edit" data-command="get-overlay" data-name="edit-emote" data-kwargs='{"pk": {{ emote.pk }}}'>
                Edit Emote
            </div>
            <form action="{% url 'delete-emote' pk=emote.pk %}" method="POST" enctype="multipart/form-data" data-on-response="deleteEmote">
                {% csrf_token %}
                <button class="emote-manager__button emote-manager__button--delete">
                    Delete Emote
                </button>
            </form>
        </div>
    </div>
</div>