<div class="backlog backlog--log {% if user in backlog.user_mentions.all %}backlog--mentioned{% endif %}" id="backlog-{{ backlog.pk }}" data-pk="{{ backlog.pk }}">
    {% if backlog.log.get_action_type == '1 user action' %}
        {% with user=backlog.log.user1 %}
            {% include "./mentions/user-mention.html" %}
        {% endwith %}
        <div class="backlog__log-action">
            {{ backlog.log.get_action_string }}
        </div>
    {% elif backlog.log.get_action_type == '2 user action' %}
        {% with user=backlog.log.user1 %}
            {% include "./mentions/user-mention.html" %}
        {% endwith %}
        <div class="backlog__log-action">
            {{ backlog.log.get_action_string }}
        </div>
        {% with user=backlog.log.user2 %}
            {% include "./mentions/user-mention.html" %}
        {% endwith %}
    {% endif %}
    <div class="backlog__timestamp">
        {{ backlog.timestamp }}
    </div>
    <div class="backlog__reactions" data-role="reactions">
        {% for reaction in backlog.reactions.all %}
            {% include "./reaction.html" %}
        {% endfor %}
    </div>
    <div class="backlog__actions has-shadow">
        <div class="backlog__action" data-command="get_emote_menu" data-positioning='{"top": "0px", "right": "100%"}' data-kwargs='{"pk": "{{ backlog.pk }}"}' data-handler="reactBacklog">
            <div class="icon icon--small">
                <i class="material-symbols-outlined">
                    add_reaction
                </i>
            </div>
        </div>
        <div class="backlog__action">
            <div class="icon icon--small">
                <i class="material-symbols-outlined">
                    more_vert
                </i>
            </div>
        </div>
    </div>
</div>