<li class="message" data-pk="{{ object.pk }}">
    <div class="message__avatar">
        <div class="avatar avatar--small has-shadow">
            <img src="{{ object.user.image.url }}" alt="">
        </div>
    </div>
    <div class="message__header">
        <div class="message__user tooltip__trigger"
        data-target="#member-profile" 
        data-positioning='{"top": "100%", "left": "0px"}'
        data-pk="{{ member_pk }}"
        >
            {{ object.member.display_name }}
        </div>
        <div class="message__timestamp">
            {{ object.display_date }}
        </div>
    </div>
    <div class="message__body">
        <div class="message__content">{{ object.content|linebreaksbr|convert_reactions:room.pk }}</div>
    </div>
	
    {% spaceless %}
    <div class="message__reactions">
        {% for message_reaction in object.reactions.all %}
        <span class="message__reaction {% if object.user in message_reaction.users.all %} message__reaction--selected {% endif %}"
        data-pk="{{ message_reaction.reaction.pk }}" data-command="react-message">
            <img src="{{ message_reaction.image.url }}" alt="">
            <span class="message__counter">
                {{ message_reaction.users.all.count }}
            </span>
        </span>
        {% endfor %}
    </div>
    {% endspaceless %}
    <div class="message__actions has-shadow">
		<span class="message__action tooltip__trigger" 
		data-target=".reactions" 
		data-positioning='{"top": "0px", "right": "-100%"}' 
		data-kind="message_reaction"
		>
			<div class="icon icon--small">
				<i class="material-symbols-outlined">								
					add_reaction
				</i>
			</div>
		</span>
		<span class="message__action" data-command="reply-message">
			<div class="icon icon--small">
				<i class="material-symbols-outlined">								
					comment
				</i>
			</div>
		</span>
		{% if object.user == user %}
		<span class="message__action" data-command="edit-message">
			<div class="icon icon--small">
				<i class="material-symbols-outlined">								
					edit
				</i>
			</div>
		</span>
		{% endif %}
		<span class="dropdown">
			<div class="message__action dropdown__trigger">
				<div class="icon icon--small">
					<i class="material-symbols-outlined">								
						menu
					</i>
				</div>
			</div>
			<ul class="menu dropdown__content dropdown__content--hidden has-shadow">
				<li class="menu__item" data-command="delete-message">
                    <span>
						Delete
					</span>
                    <span class="icon icon--small">
						<i class="material-symbols-outlined">								
							delete
						</i>
					</span>
				</li>
				<li class="menu__item" data-command="link-message">
					<span>
						Message Link
					</span>
                    <span class="icon icon--small">
						<i class="material-symbols-outlined">								
							link
						</i>
					</span>
				</li>
			</ul>
		</span>
    </div>
</li>