<a class="user user--private-chat {% if private_chat == local_private_chat %} user--selected {% endif %}" href="{% url 'private-chat' pk=local_private_chat.pk %}" id="private-chat-{{ local_private_chat.pk }}">
    <div class="user__avatar">
        <div class="avatar avatar--small">
            <img src="" alt="">
        </div>
    </div>
    <div class="user__body">
        <div class="user__title">
            {{ other_party.user.username }}
        </div>
        <div class="user__subtitle">
            {{ other_party.user.status }}
        </div>
    </div>
    {% if user %}
        {% with unread_backlogs=user|unread_backlogs:local_private_chat.backlog_group  %}
            {% if unread_backlogs %}
                <div class="notification notification--private-chat">
                    {{ unread_backlogs.count }}
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
</a>