<div class="reactions tooltip tooltip--hidden has-shadow" id="reactions">
	<div class="reactions__header has-shadow">
		<input class="reactions__search" type="text" name="">
		<span class="icon icon--small">
			<i class="material-symbols-outlined">								
				search
			</i>
		</span>
	</div>
	<div class="reactions__body">
		<ul class="reactions__rooms has-shadow">
			{% for membership in user.memberships.all %}
			{% with membership.room as joined_room  %}
			<li class="avatar avatar--small">
				<img src="{{ MEDIA_URL }}{{ joined_room.image.url }}" alt="">
			</li>
			{% endwith %}
			{% endfor %}
		</ul>
		<ul class="reactions__content">
			{% for reaction in room.reactions.all %}
			<li class="reactions__reaction" data-pk="{{ reaction.pk }}" data-name="{{ reaction.name }}">
				<img src="{{ MEDIA_URL }}{{ reaction.image.url }}" alt="{{ reaction.name }}">
			</li>
			{% endfor %}
		</ul>
	</div>
</div>