<form class="app-section--overlay__window" action="{% url 'update-channel' pk  %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="channel" value="{{ pk }}">
	<input type="hidden" name="kind" value="{{ kind }}">
	<div class="app-section--overlay__header">
		<span>Edit Channel</span>
		<span class="app-section--overlay__close"><i class="material-symbols-outlined">close</i></span>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Name:
		</div>
		<div class="app-section--overlay__input">
			<input type="text" name="name" maxlength="30" value="{{ name }}">
		</div>
		<div class="app-section--overlay__footnote">
			Max Length: 30
		</div>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Description:
		</div>
		<div class="app-section--overlay__input">
			<input type="text" name="description" maxlength="60" value="{{ description }}">
		</div>
		<div class="app-section--overlay__footnote">
			Max Length: 60
		</div>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Order:
		</div>
		<div class="app-section--overlay__input">
			<input type="number" name="order" min="0" max="1000000" value="{{ order }}">
		</div>
		<div class="app-section--overlay__footnote">
			From 0 (First) to 1000000 (Last)
		</div>
	</div>
	<button class="app-section--overlay__submit" type="submit">Edit Channel</button>
</form>