<form class="app-section--overlay__window" action="{{ actionLink }}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="category" value="{{ category }}">
	<input type="hidden" name="kind">
	<div class="app-section--overlay__header">
		<span>Create New Channel</span>
		<span class="app-section--overlay__close"><i class="material-symbols-outlined">close</i></span>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Name:
		</div>
		<div class="app-section--overlay__input">
			<input type="text" name="name" maxlength="30">
		</div>
		<div class="app-section--overlay__footnote">
			Max Length: 30
		</div>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Description:
		</div>
		<div class="app-section--overlay__input">
			<input type="text" name="description" maxlength="60">
		</div>
		<div class="app-section--overlay__footnote">
			Max Length: 60
		</div>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Channel Type:
		</div>
		<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--checkbox" kind="text">
			<div class="app-section--sidebar__icon app-section--sidebar__icon--medium offline-secondary">
				<i class="material-symbols-outlined">										
					menu_open
				</i>
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--sidebar__infobox">
					<div class="app-section--sidebar__name app-section--sidebar__name--small offline-main">
						Text Channel
					</div>
					<div class="app-section--sidebar__status app-section--sidebar__status--small offline-secondary">
						Send Messages, Images, Emotes, etc
					</div>
				</div>
			</div>
			<div class="app-section--sidebar__icon app-section--sidebar__icon--medium offline-main">
				<i class="material-symbols-outlined checkbox-icon">										
					radio_button_unchecked
				</i>
			</div>
		</div>
		<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--checkbox" kind="voice">
			<div class="app-section--sidebar__icon app-section--sidebar__icon--medium offline-secondary">
				<i class="material-symbols-outlined">										
					volume_up
				</i>
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--sidebar__infobox">
					<div class="app-section--sidebar__name app-section--sidebar__name--small offline-main">
						Voice Channel
					</div>
					<div class="app-section--sidebar__status app-section--sidebar__status--small offline-secondary">
						Talk Together, Share Screen and Videocall
					</div>
				</div>
			</div>
			<div class="app-section--sidebar__icon app-section--sidebar__icon--medium offline-main">
				<i class="material-symbols-outlined checkbox-icon">										
					radio_button_unchecked
				</i>
			</div>
		</div>
		<div class="app-section--overlay__footnote">
			Select One
		</div>
	</div>
	<div class="app-section--overlay__form-field">
		<div class="app-section--overlay__label">
			Order:
		</div>
		<div class="app-section--overlay__input">
			<input type="number" name="order" min="0" max="1000000">
		</div>
		<div class="app-section--overlay__footnote">
			From 0 (First) to 1000000 (Last)
		</div>
	</div>
	<button class="app-section--overlay__submit" type="submit">Create New Channel</button>
</form>