<div class="formbox formbox--fixed overlay has-shadow">
    <form class="form" action="{% url 'delete-room' room=room.pk %}" method="POST" enctype="multipart/form-data" id="RoomDeleteForm">
        {% csrf_token %}
        <div class="form__header">
            <div>
                <div class="form__title">
                    Delete Room
                </div>
                <div class="form__subtitle">
                    {{ category.name }}
                </div>
            </div>
            <div class="form__close overlay__close">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </div>
            </div>
        </div>
        <div class="form__field">
            <div class="form__label form__label--danger">
                Note that this action cannot be reversed 
            </div>
        </div>
        <button class="form__delete bottom">
            Delete
        </button>
    </form>
</div>