<div class="formbox formbox--fixed overlay has-shadow">
    <form class="form" method="POST" action="{% url 'leave-room' room=room.pk %}">
        {% csrf_token %}
        <div class="form__header">
            <div class="form__title">
                Leave Room
            </div>
            <div class="form__close overlay__close">
				<div class="icon icon--small">
					<i class="material-symbols-outlined">
						close
					</i>
				</div>
			</div>
        </div>
        <div class="form__info">
            Are you sure you want to leave '{{ room.name }}'?
        </div>
        <button class="form__delete" type="submit">
			Leave Room
        </button>
    </form>
</div>