<div class="formbox formbox--fixed overlay has-shadow">
	<form class="form" action="{% url 'update-room' room=room.pk %}" method="POST" enctype="multipart/form-data" id="RoomEditForm">
		{% csrf_token %}
		<input type="hidden" name="form" value="RoomEditForm">
		<div class="form__header">
			<div>
				<div class="form__title">
					Edit Room
				</div>
				<div class="form__subtitle">
					{{ category.name }}
				</div>
			</div>
			<div class="form__close overlay__close">
				<div class="icon icon--small">
					<i class="material-symbols-outlined">
						close
					</i>
				</div>
			</div>
		</div>
		{% for field in RoomEditForm %}
            {% with field|attribute_modifier:'{"attribute": "errors", "on_success": "form__field--error"}' as modifier %}
                {% if field.label == 'Image' %}
                    <div class="form__field {{ modifier }}">
                        <div class="form__label">
                            {{ field.label }}
                        </div>
                        <div class="upload">
                            <span class="upload__image">
                                <div class="avatar avatar--large">
                                    <img src="{{ field.value.url }}" alt="">
                                </div>
                                <div class="upload__requirements">
                                    PNG or JPEG
                                </div>	
                            </span>
                            <span class="wrapper--remaining-space">
                                <div class="upload__body">
                                    <div class="upload__description">
                                        It is recommended to use an image of the same width and heigh.
                                    </div>
                                    <div class="upload__button bottom">
                                        <input type="file" name="image" accept="image/*">
                                        Upload Image
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="form__field {{ modifier }}">
                        <div class="form__label">
                            {{ field.label }}
                        </div>
                        <div class="form__input">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <div class="form__error">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
		{% endfor %}
		<button class="form__submit" type="submit">
			Submit
		</button>
	</form>

	
</div>
