{% load static %}

<div class="chatbar has-shadow" id="chatbar">
    <div class="chatbar__file-input">
        <div class="app__icon app__icon--hoverable">
            <div class="icon icon--hoverable icon--medium">
                <i class="material-symbols-outlined">
                    attach_file_add
                </i>
            </div>
        </div>
        <input type="file" name="file" id="chatbar-file-input">
    </div>
    <textarea class="chatbar__text-input" rows="1" data-get-mentionables data-positioning='{"bottom": "100%", "left": "0px", "right": "0px"}' data-reference="#chatbar" id="chatbar-text-input"></textarea>
    <div class="app__icon app__icon--hoverable" data-command="get_emote_menu" data-positioning='{"bottom": "100%", "right": "0px"}' data-kwargs='{"target": "chatbar-input"}' data-handler="emoteToText">
        <div class="icon icon--hoverable icon--medium">
            <i class="material-symbols-outlined">
                add_reaction
            </i>
        </div>
    </div>
</div>