<div class="form__switch right">
    <div class="form__switch-tile form__switch-tile--true">
        <div class="icon icon--tiny">
            <i class="material-symbols-outlined">
                check
            </i>
        </div>
        <input type="radio" name="{{ widget.name }}" {% if widget.value == "1" %} checked {% endif %} value="1">
    </div>
    <div class="form__switch-tile form__switch-tile--false">
        <div class="icon icon--tiny">
            <i class="material-symbols-outlined">
                close
            </i>
        </div>
        <input type="radio" name="{{ widget.name }}" {% if widget.value == "-1" %} checked {% endif %} value="-1">
    </div>
    <div class="form__switch-tile form__switch-tile--neutral">
        <div class="icon icon--tiny">
            <i class="material-symbols-outlined">
                remove
            </i>
        </div>
        <input type="radio" name="{{ widget.name }}" {% if widget.value == "0" %} checked {% endif %} value="0">
    </div>
</div>
