<div class="profile profile--tooltip">
    <div class="profile__header">
        <div class="profile__banner">

        </div>
        <div class="profile__avatar" data-tooltip-close data-command="get_overlay" data-name="full-user-profile" data-kwargs='{"pk": {{ profile_member.user.pk }}}'>
            <div class="avatar avatar--medium">
                <img src="{{ member.user.image.url }}" alt="">
            </div>
        </div>
    </div>
    <div class="profile__body">
        <div class="profile__content">
            <div>
                <div class="profile__username">
                    {{ member.display_name }}
                </div>
                <div class="profile__full-name">
                    {{ member.user.full_name }}
                </div>
            </div>
            <div class="profile__divider"></div>
            <div>
                <div class="profile__label">
                    Bio
                </div>
                <div class="profile__value">
                    {{ member.user.bio }}
                </div>
            </div>
            <div>
                <div class="profile__label">
                    Member Since    
                </div>
                <div class="profile__value">
                    {{ member.joined }}
                </div>
            </div>
            <div>
                <div class="profile__label">
                    Roles
                </div>
                <div class="profile__roles">
                    {% for role in member.roles.all %}
                        <div class="profile__role">
                            <div class="profile__role-color" style="background-color: {{ role.color }};">

                            </div>
                            <div class="profile__role-name">
                                {{ role.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>