<li class="user user--{{ friend.status }} tooltip__trigger" 
data-template-name="commons/tooltips/user-profile.html" 
data-positioning='{"right": "-100%", "top": "0px"}' 
data-context='{
    "objects": {
        "user": {{ friend|object_to_json }}
    }
}' id="{{ friend|generateID }}">
    <span class="avatar avatar--small has-shadow">
        <img src="{{ friend.image.url }}">
    </span>
    <span class="wrapper--remaining-space">
        <ul class="user__body">
            <li class="user__username">
                {{ friend.username }}
            </li>
            <li class="user__status">
                {{ friend.status }}
            </li>
        </ul>
    </span>
    <span class="friendship">
        {% if friendship.status == 'pending' and user == friendship.receiver %}
            <div class="friendship__button friendship__button--accept" data-command="manage-friendship" data-kind="accept">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        task_alt
                    </i>
                </div>
            </div>
            <div class="friendship__button friendship__button--reject" data-command="manage-friendship" data-kind="reject">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        cancel
                    </i>
                </div>
            </div>
        {% elif friendship.status == 'pending' and user == friendship.sender %}
            <div class="friendship__button friendship__button--manage"
            data-command="manage-friendship"
            data-kind="cancel-friendship">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </div>
            </div>
        {% endif %}
    </span>
</li>	