// Colors
$vampire-black: #080808;
$chalk-white: #e0dbd1;
$walnut-dyed: #9f7462;
$golden-brown: #c66b27;
$cetacean-blue: #001440;
$rich-black: #010b13;
$rose-gold: #b76e79;
$saturated-titanium-yellow: #d6d018;
$black-chestnut-oak: #252321;
$amethyst: #9966cc;
$premier-yellow: #fefb6c;
$acapulco-aqua: #80a4a3;
$blue-bayoux: #62777e;


.right {
	margin-left: auto;
}