// Colors
/* 01 */ $vampire-black: #080808;
/* 02 */ $chalk-white: #e0dbd1;
/* 03 */ $walnut-dyed: #9f7462;
/* 04 */ $golden-brown: #c66b27;
/* 05 */ $cetacean-blue: #001440;
/* 06 */ $rich-black: #010b13;
/* 07 */ $rose-gold: #b76e79;
/* 08 */ $saturated-titanium-yellow: #d6d018;
/* 09 */ $black-chestnut-oak: #252321;
/* 10 */ $amethyst: #9966cc;
/* 11 */ $premier-yellow: #eff688;
/* 12 */ $acapulco-aqua: #80a4a3;
/* 13 */ $blue-bayoux: #62777e;
/* 14 */ $deep-burgundy: #3d2b3c;
/* 15 */ $charcoal-grey: #131313;
/* 16 */ $apple-red: #E71D36;
/* 17 */ $anthracite: #0E0D0C;
/* 18 */ $moss: #cbc83e;
/* 19 */ $black-grey: #101010;

$pakistan-green: #11450C;
$battleship-grey: #8D8A84;
$office-green: #158308;
$night: #161615;
$eerie-black: #212120;
$black-olive: #403D39;
$soft-grey: #D2D0C8;
$garnet: #6B2A2A;
$vermillion: #FF3D3D;


/* Shadow Dimensions */
$shadow-dimensions: 0px 0px 7px 1px;

// font sizes
$text-primary-small: 0.9375rem;
$text-primary-medium: 1rem;
$text-primary-large: 1.125rem;

$text-secondary-small: 0.75rem;
$text-secondary-medium: 0.8125rem;
$text-secondary-large: 0.875rem;

// other reusables
$padding-small: 0.25rem;
$padding-medium: 0.5rem;
$padding-large: 1rem;

$gap-small: 0.25rem;
$gap-medium: 0.5rem;
$gap-large: 1rem;

$online-primary: $premier-yellow;
$online-secondary: $moss;

$offline-primary: $acapulco-aqua;
$offline-secondary: $blue-bayoux;

$light-primary: $chalk-white;
$light-secondary: $battleship-grey;

// mixins 
@mixin modelbox {
	display: flex;
	padding: $padding-medium;
	gap: $gap-medium;
}

@mixin absolute-box($height, $width) {
	position: absolute;
	height: $height;
	width: $width;
}

@mixin flex-row($padding, $gap) {
	display: flex;
	padding: $padding;
	gap: $gap;
}

@mixin flex-column($padding, $gap) {
	display: flex;
	flex-direction: column;
	padding: $padding;
	gap: $gap;
}

@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: clip;
}



.bottom { margin-top: auto !important; }
.top { margin-bottom: auto !important; }
.left { margin-right: auto !important; }
.right { margin-left: auto !important; }

.x-center {
	margin-left: auto;
	margin-right: auto;
}

.y-center {
	margin-top: auto;
	margin-bottom: auto;
}

.align-center {
	align-items: center;
}

.flex-first {
	order: -1;
}

* {
	&:hover::-webkit-scrollbar-thumb {
		background-color: hsla(112, 6%, 25%, 0.516);
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
	}
}

.wrapper {
	&--remaining-space {
		position: relative;
		flex: 1;
	}

	&--flex {
		display: flex;
	}
}

.online {
	&-main {
		color: $premier-yellow;
	}
	&-secondary {
		color: $saturated-titanium-yellow;
	}
}

.offline {
	&-main {
		color: $blue-bayoux;
	}
	&-secondary {
		color: $acapulco-aqua;
	}
}

.has-shadow {
	box-shadow: $shadow-dimensions $vampire-black;
}

.text {
	&-bold {
		font-weight: bold;
	}

	&-primary {
		&-small {
			font-size: $text-primary-small;
		}
	
		&-medium {
			font-size: $text-primary-medium;
		}
	
		&-large {
			font-size: $text-primary-large;
		}
	}

	&-secondary {
		&-small {
			font-size: $text-secondary-small;
		}
	
		&-medium {
			font-size: $text-secondary-medium;
		}
	
		&-large {
			font-size: $text-secondary-large;
		}
	}
}

.color {
	&-primary {
		&-online {
			color: $premier-yellow;
		}

		&-offline {
			color: $blue-bayoux;
		}

		&-light {
			color: $chalk-white;
		}
	}

	&-secondary {
		&-offline {
			color: $acapulco-aqua;
		}
	
		&-light {
			color: $soft-grey;
		}

		&-online {
			color: $moss;
		}
	}
}

.dropdown {
	position: relative;

	&__content {

		&--slide {
			overflow: hidden;
			transition: max-height 0.25s;
		}

		&--hidden {
			&.dropdown__content--slide {
				max-height: 0px !important;
			}

			&:not(.dropdown__content--slide) {
				display: none;
			}	
		}
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	user-select: none;


	i {
		color: inherit;
		font-size: inherit;
	}

	&__hoverable {
		transition: color 0.2s;

		&:hover {
			cursor: pointer;
			color: $premier-yellow;
		}
	} 

	&--tiny {
		width: 1rem;
		height: 1rem;
		font-size: 1rem;
	}

	&--small {
		width: 1.25rem;
		height: 1.25rem;
		font-size: 1.25rem;
	}

	&--medium {
		width: 2rem; 
		height: 2rem;
		font-size: 2rem;
	}

	&--large {
		width: 3rem;
		height: 3rem;
		font-size: 3rem;
	}
}

.generic {
	&--column {
		display: flex;
		flex-direction: column;
	}
}

.tooltip {
	position: fixed;
	pointer-events: all;

	&--hidden {
		display: none !important;
	}
}

.layer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;

	&--tooltips {
		background-color: transparent;
		pointer-events: none;
	}

	&--overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.299);
	}
}

.container {
	display: flex;
	flex-direction: column;
	color: $chalk-white;
	overflow: hidden;

	&__header {
		text-align: center;
		background-color: $black-chestnut-oak;
		padding: $padding-small;
		font-size: $text-primary-large;
		font-weight: bold;
		color: $online-primary;
		z-index: 4;
	}

	&__subheader {
		display: flex;
		padding: $padding-small;
		gap: $gap-small;
		font-size: $text-primary-medium;
		background-color: $charcoal-grey;
		z-index: 3;
	}

	&__content {
		@include absolute-box(100%, 100%);
		overflow: overlay;
		z-index: 2;
	}
	
	&--fill {
		flex: 1 1 0px;
	}

	&__search {
		height: 100%;
		width: 100%;
		background-color: $anthracite;
		border-radius: 0.25rem;
		text-indent: 0.25rem;
		color: $chalk-white;
	}

	&__label {
		color: $chalk-white;
		padding: $padding-small;
		font-size: $text-secondary-medium;

		&--optional {
			display: none;

			* + & {
				display: block !important;
			}
		}
	}

	&__section {
		display: flex;
		flex-direction: column;
	}
}

.modelbox {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;

	&__info {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: overlay;
	}

	&--hoverable {
		transition: background-color 0.25s;

		&:hover {
			cursor: pointer;
			background-color: $black-chestnut-oak;
		}
	}
}

.primary-text {
	font-weight: bold;

	&--tiny {
		font-size: 0.75rem;
	}
	
	&--small {
		font-size: 0.9375rem;
	}

	&--medium {
		font-size: 1rem;
	}

	&--large {
		font-size: 1.12500rem;
	}
}

.secondary-text {
	&--small {
		font-size: 0.75rem;
	}

	&--medium {
		font-size: 0.8125rem;
	}

	&--large {
		font-size: 0.9375rem;
	}
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	box-sizing: border-box;
	user-select: none;

	&--small {
		width: 2rem; 
		height: 2rem;
		font-size: 2rem;
	}

	&--medium {
		width: 3rem; 
		height: 3rem;
		font-size: 3rem;
	}

	&--large {
		width: 6rem;
		height: 6rem;
		font-size: 6rem;
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.online-color {
	&--primary {
		color: $premier-yellow;
	}

	&--secondary {
		color: $moss;
	}
}

.offline-color {
	&--primary {
		color: $acapulco-aqua;
	}

	&--secondary {
		color: $blue-bayoux;
	}
}

.message {
	display: flex;
	flex-direction: column;
	padding: 0.25rem 0.5rem;
	gap: 0.5rem;
	position: relative;

	&:hover {
		background-color: $anthracite;
	}

	&:hover &__actions {
		display: flex;
	}

	&:not(:has(.dropdown__content--hidden)) &__actions {
		display: flex;
		z-index: 100;
	}
	
	&:has(.message__content--editing) {
		background-color: $black-grey;

		.message__actions {
			display: none;
		}
	}

	&__body {
		display: flex;
		gap: 0.5rem;
	}

	&__main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: hidden;
	}

	&__info {
		display: flex;
		align-items: baseline;
		gap: 0.25rem;
	}

	&__content {
		display: flex;
		align-items: center;
		position: relative;
		overflow-wrap: break-word;
		line-height: 1.5rem;

		&--editing {
			min-height: 5rem;
			margin: 0.5rem;
		}

		img {
			max-height: 1.5rem;
			max-width: 1.5rem;
		}
	}

	&__edit {
		all: unset;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		padding: 0.25rem;
		background-color: $charcoal-grey;
		//box-shadow: $shadow-dimensions $black-chestnut-oak;
		border: 1px solid $black-chestnut-oak;
		overflow-wrap: break-word;
	}

	&__action {
		display: flex;
		align-items: center;
		white-space: nowrap;
		gap: 0.5rem;
		padding: 0.375rem;
		transition: background-color 0.25s;

		&:hover {
			cursor: pointer;
			background-color: $black-chestnut-oak;
		}
	}

	&__actions {
		display: none;
		position: absolute;
		top: -0.5rem;
		right: 0.5rem;
		border-radius: 0.25rem;
		background-color: $charcoal-grey;
		z-index: 1;
		transition: box-shadow 0.25s;

		&:hover {
			box-shadow: $shadow-dimensions $charcoal-grey;
		}

		& > .message__action:first-of-type {
			border-radius: 0.25rem 0px 0px 0.25rem;
		}

		& > .message__action:last-of-type {
			border-radius: 0px 0.25rem 0.25rem 0px;
		}

		&--open {
			display: flex;
		}
	}

	&__menu {
		overflow: hidden;
		border-radius: 0.25rem;
		position: absolute;
		right: 0;
		top: 100%;
		background-color: $charcoal-grey;

		& .message__action:nth-of-type(n+2) {
			border-top: 1px solid $vampire-black;
		} 

		&:hover {
			box-shadow: $shadow-dimensions $charcoal-grey;
		}
	}

	&__reactions {
		display: flex;
		gap: 0.5rem;
		margin-top: 0.25rem;

		&:empty {
			/* This requires {% spaceless %} to work in HTML with a template tag
			because the template tag will create whitespace, making it non-empty */
			margin-top: 0rem;
		}
	}

	&__reaction {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		border-radius: 0.25rem;
		padding: 0.25rem;
		background-color: $charcoal-grey;
		user-select: none;
		box-sizing: border-box;
		border: 1px solid $charcoal-grey;
		transition: box-shadow 0.25s;
		transition: background-color 0.25s;
		transition: border 0.25s;

		&--selected {
			background-color: $black-chestnut-oak;
			border: 1px solid $blue-bayoux;
		}

		img {
			max-width: 1.25rem;
			max-height: 1.25rem;
		}

		&:hover {
			cursor: pointer;
			background-color: $black-chestnut-oak;
			box-shadow: $shadow-dimensions $black-chestnut-oak;
			border: 1px solid $acapulco-aqua;
		}
	}

	&__counter {
		font-size: 1rem;
	}

	&__user {
		position: relative;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.log {
	display: flex;
	align-items: baseline;
	gap: 0.25rem;
	padding: 0rem 0.5rem;
	justify-content: flex-end;
}

.chatbar {
	display: flex;
	position: relative;
	$bg: $charcoal-grey;
	padding: 0.5rem;
	z-index: 1;
	height: min-content;

	&__input {
		all: unset;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		padding: 0.5rem;
		background-color: $bg;
		overflow-wrap: break-word;
	}

	&__button {
		background-color: $bg;
		padding: 0.5rem;
		border-right: 1px solid $anthracite;
		transition: color 0.25s;

		&:hover {
			cursor: pointer;
			color: $premier-yellow;
		}
	}
}

.reactions {
	background-color: $black-chestnut-oak;
	color: $chalk-white;
	overflow: hidden;
	border-radius: 5px;
	position: fixed;
	$padding: 0.5rem;
	$gap: 0.5rem;

	&__header {
		display: flex;
		align-items: center;
		padding: $padding;
		gap: $gap;
		background-color: $black-chestnut-oak;
		z-index: 1;
		position: relative;
	}

	&__body {
		display: flex;
		overflow: hidden;
	}

	&__search {
		width: 100%;
		height: 1.5rem;
		background-color: $charcoal-grey;
		color: $chalk-white;
		border-radius: 0.25rem;
		text-indent: 0.25rem;
	}

	&__rooms {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		overflow: overlay;
		max-height: 25.25rem;
		padding: $padding;
		gap: $gap;
		background-color: $black-chestnut-oak;
		position: relative;
		z-index: 0;
		

		.avatar {
			transition: box-shadow 0.25s;
			transition: transform 0.25s;

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
		}
	}

	&__content {
		display: flex;
		align-content: flex-start;
		height: 25.25rem;
		width: 25.25rem;
		flex-wrap: wrap;
		box-sizing: border-box;
		overflow: overlay;
		padding: $padding;
		gap: $gap;
		background-color: $charcoal-grey;
	}

	&__reaction {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		padding: 0.25rem;
		width: 2.25rem; 
		height: 2.25rem;
		transition: background-color 0.25s;

		&:hover {
			cursor: pointer;
			background-color: $anthracite;
		}

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}


.friendship {
	gap: $gap-medium;
	display: flex;
	align-self: center;

	&__menu {
		width: fit-content;
		border-radius: 2px;
		overflow: hidden;
	}

	&__action {
		color: $chalk-white;
		padding: 0.375rem;
		background-color: $charcoal-grey;
		cursor: pointer;

		&:hover {
			background-color: $black-chestnut-oak;
		}

		&:nth-of-type(n + 2) {
			border-top: 1px solid $charcoal-grey;
		}
	}

	&__accept {
		color: $pakistan-green;
		cursor: pointer;
		&:hover { color: $office-green; }
	}

	&__reject {
		color: $garnet;
		cursor: pointer;
		&:hover { color: $vermillion; }
	}

	&__manage {
		color: $battleship-grey;
		cursor: pointer;	
		&:hover { color: $chalk-white; }
	}
}

.profile {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	background-color: $black-chestnut-oak;
	color: $chalk-white;
	gap: 0.5rem;
	width: 20rem;
	border-radius: 4px;
	overflow: hidden;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.5rem;
		background-color: $charcoal-grey;
		border-radius: 4px;
	}

	&__badges {
		display: flex;
		gap: 0.25rem;
	}


}

.account {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $night;

	&__header {
		display: flex;
		justify-content: space-around;
	}

	&__link {
		color: $amethyst;
		font-size: $text-secondary-small;
		font-weight: bold;
	}
}

.form {
	@include flex-column($padding-large, $gap-medium);
	width: 26rem;
	color: $chalk-white;
	overflow: overlay;

	&__header {
		@include flex-row(0, $gap-medium);
		justify-content: space-between;
	}

	&__title {
		font-size: $text-primary-large;
		color: $chalk-white;
		font-weight: bold;
	}

	&__subtitle {
		font-size: $text-secondary-medium;
		color: $light-secondary;
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		&--error {
			.form__label {
				color: $vermillion;
			}

			.form__input input:not([type="file"]) {
				border: 1px solid $garnet;
			}
		}
	}

	&__label {
		font-weight: bold;
		font-size: $text-secondary-medium;

		&--danger {
			color: $vermillion;
		}
	}

	&__input {
		input:not([type="file"]) {
			width: 100%;
			padding: 0.5rem;
			box-sizing: border-box;
			border-radius: 4px;
	
			font-size: $text-primary-large;
			color-scheme: dark; // changes the icon and popup color
			background-color: $black-grey;
		}
	}

	&__error {
		font-size: $text-secondary-small;

		color: $vermillion;

		&::before {
			content: "- ";
		} 
	}

	&__submit {
		@include flex-row($padding-medium, 0);
		justify-content: center;
		align-items: center;
		margin-top: auto;
		font-weight: bold;

		font-size: $text-primary-large;
		color: $light-secondary;
		background-color: $pakistan-green;
		border-radius: 0.25rem;
		transition: background-color 0.2s, color 0.2s;

		&:hover {
			background-color: $office-green;
			color: $light-primary;
		}
	}

	&__delete {
		@include flex-row($padding-medium, 0);
		border-radius: 0.25rem;
		font-size: $text-primary-large;
		font-weight: bold;
		background-color: $garnet;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: $vermillion;
		}
	}

	&__close {
		cursor: pointer;
		height: fit-content;
	}

	&__content {
		@include absolute-box(100%, 100%);
		overflow: auto;
	}

	.checkbox {
		@include flex-column($padding-large, $gap-small);
		border-bottom: 1px solid $charcoal-grey;

		&__header {
			@include flex-row(0, $gap-medium);
			align-items: center;
			justify-content: space-between;
		}

		&__label {
			font-size: $text-primary-small;
			color: $light-primary;
		}

		&__description {
			font-size: $text-secondary-large;
			color: $light-secondary;
		}

		.switch {
			$bg: $vampire-black;
			$height: 1rem;
			height: $height;
			width: 2.25rem;

			input {
				min-height: calc(100% + $padding-small * 2);
				min-width: calc(100% + $padding-small * 2);
			}

			&:has(input:not(:checked)) {
				.switch__slider {
					left: calc(0%);
					background-color: $light-primary;
				}

				.switch__element {
					div {
						background-color: $black-olive;
					}
				}
			}

			&:has(input:checked) {
				.switch__slider {
					left: calc(100% - $height);
					background-color: $light-primary;
				}

				.switch__element {
					div {
						background-color: $pakistan-green
					}
				}
			}

			&__element {
				div {
					padding: $padding-small;
				}
			}

			&__slider {
				height: $height;
				width: $height;
			}

			&__edge {
				height: $height;
				width: $height;
			}

			&__body {
				height: $height;
			}

			&__slider {
				height: $height;
				width: $height;
			}
		}
	}

	.option {
		@include flex-row($padding-medium, $gap-medium);
		background-color: $black-grey;
		align-items: center;
		transition: background-color 0.2s;

		&:hover {
			background-color: $charcoal-grey;

			.option__kind {
				color: $light-primary;
			}

			.option__select {
				color: $light-primary;
			}

			.option__name {
				color: $light-primary;
			}
		}

		&:has(input:checked) {
			background-color: $night;

			.option__kind {
				color: $light-primary;
			}

			.option__select {
				color: $light-primary;
			}

			.option__name {
				color: $light-primary;
			}

			.option__select {
				border-radius: 50%;
				background-color: $light-primary;
			}
		}

		&__body {
			@include flex-column(0, 0);
			justify-content: space-between;
		}

		&__name {
			@include ellipsis;
			color: $soft-grey;
			font-size: $text-primary-small;
		}

		&__description {
			@include ellipsis;
			color: $acapulco-aqua;
			font-size: $text-secondary-medium;
		}

		&__kind {
			color: $offline-secondary;
		}

		&__select {
			color: $acapulco-aqua;
		}
	}
}

.formbox {
	@include flex-row(0, 0);
	border-radius: 0.25rem;
	height: 30rem;
	background-color: $eerie-black;
	max-width: 100vw;
	max-height: 100vh;

	&__navigation {
		@include flex-column($padding-large, $gap-medium);
		border-right: 1px solid $charcoal-grey;
		overflow: overlay;
	}

	&__button {
		@include flex-row($padding-medium, $gap-medium);
		justify-content: space-between;
		align-items: center;
		font-size: $text-secondary-large;
		color: $light-secondary;
		border-radius: 0.25rem;
		cursor: pointer;
		transition: color 0.2s, background-color 0.2s;

		&:hover {
			color: $light-primary;
			background-color: $charcoal-grey;
		}
	}
}

.friend {
	@include modelbox;
	transition: background-color 0.2s;
	cursor: pointer;
	
	&--online {
		.friend__username {
			color: $online-primary;
		}
		.friend__status {
			color: $online-secondary;
		}
	}

	&--offline {
		.friend__username {
			color: $offline-primary;
		}
		.friend__status {
			color: $offline-secondary;
		}
	}

	&__username {
		@include ellipsis;
		font-size: $text-primary-small;
		font-weight: bold;
	}

	&__status {
		@include ellipsis;
		font-size: $text-secondary-small;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&:hover {
		background-color: $eerie-black;
	}
}

.membership {
	@include modelbox;
	transition: background-color 0.2s;
	cursor: pointer;

	&__body {
		@include flex-column(0, 0);
		@include absolute-box(100%, 100%);
		overflow: hidden;
	}

	/*
	TODO: this is a bad idea, use a separate .card or something
	*/

	&__description {
		color: $online-secondary;
		font-size: $text-secondary-medium;
		overflow: overlay;
		overflow-wrap: break-word;
	}

	&__name {
		@include ellipsis;
		font-size: $text-primary-medium;
		color: $online-primary;
		font-weight: bold;
	}

	&__count {
		@include ellipsis;
		font-size: $text-secondary-medium;
		color: $online-secondary;
	}

	&:hover {
		background-color: $eerie-black;
	}

	&__join {
		@include flex-row($padding-medium, 0);
		align-items: center;
		justify-content: center;
		font-size: $text-secondary-large;
		font-weight: bold;
		background-color: $saturated-titanium-yellow;
		color: $charcoal-grey;
		box-shadow: $shadow-dimensions $saturated-titanium-yellow;
	}
}

.room-card {

}

.news {
	@include flex-row($padding-medium, $gap-medium);
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: $eerie-black;
	}

	&__title {
		@include ellipsis;
		font-size: $text-primary-small;
		color: $light-primary;
	}

	&__date {
		font-size: $text-primary-small;
		color: $light-secondary;
	}
}

.channels {
	@include flex-column($padding-medium, $gap-small);
}

.category {
	@include flex-column(0, 0);

	&:has(.dropdown__content--hidden) {
		.category__expand {
			transform: rotate(-90deg);
		}
	}

	&__header {
		@include flex-row($padding-small, $gap-medium);
		align-items: center;
	}

	&__name {
		@include flex-row(0, $gap-small);
		@include ellipsis;
		font-size: $text-secondary-medium;
		font-weight: bold;
		color: $light-secondary;
		cursor: pointer;
		transition: color 0.2s;
		user-select: none;

		&:hover {
			color: $light-primary;
		}
	}

	&__add {
		color: $light-secondary;
		cursor: pointer;
		transition: color 0.2s;
		
		&:hover {
			color: $light-primary;
		}
	}

	&__channels {
		padding-left: $padding-medium;
	}

	&__expand {
		transition: transform 0.2s;
	}
}

.channel {
	@include flex-row($padding-small, $gap-small);
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;

	align-items: center;
	color: $light-secondary;

	&:hover {
		color: $light-primary;
		background-color: $eerie-black;
		
		.channel__settings {
			display: block;
		}
	}

	&__kind {
		color: $offline-secondary;
	}

	&__name {
		@include ellipsis;
		font-size: $text-primary-small;
		user-select: none;
	}

	&__settings {
		color: $light-secondary;
		display: none;

		&:hover {
			color: $light-primary;
		}
	}
}

.option {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&--round {
		border-radius: 0.25rem;
	}

	input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.error {
	@include flex-row($padding-medium, $gap-medium);
	background-color: $garnet;
	color: $chalk-white;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1000;

	&__message {
		font-size: $text-primary-small;
		font-weight: bold;
	}

	&__close {
		align-self: flex-end;
		cursor: pointer;
	}
}

.menu {
	@include flex-column($padding-medium, 0);
	background-color: $eerie-black;
	overflow: hidden;
	border-radius: 0.25rem;

	&__item {
		@include flex-row($padding-medium, $gap-medium);
		justify-content: space-between;
		align-items: center;
		font-size: $text-secondary-large;
		color: $light-secondary;
		border-radius: 0.25rem;
		cursor: pointer;
		transition: color 0.2s, background-color 0.2s;

		&:hover {
			color: $light-primary;
			background-color: $anthracite;
		}
	}
}

.select {
	position: relative;

	&--active {
		.select__options {
			display: block;
		}
	}

	&__options {
		display: none;
		position: absolute;
		top: 100%;
		max-height: 600%;
		width: 100%;
		overflow: overlay;
	}
}

.switchable {
	&__content {
		&--hidden {
			display: none;
		}
	}
}

.switch {
		@include flex-row(0, 0);
		position: relative;
		align-items: center;
		justify-content: center;

	input {
		cursor: pointer;
		position: absolute;
		z-index: 1000;
		opacity: 0;
	}

	&__element {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		div {
			position: absolute;
			min-height: 100%;
			min-width: 100%;
			transition: background-color 0.2s;
		}
	}

	&__slider {
		position: absolute;
		border-radius: 50%;
		transition: left 0.2s;
	}

	&__edge {
		&--left {
			border-radius: 50% 0% 0% 50%;

			div {
				border-radius: 50% 0% 0% 50%;
			}
		}

		&--right {
			border-radius: 0% 50% 50% 0%;

			div {
				border-radius: 0% 50% 50% 0%;
			}
		}
	}

	&__body {
		flex-grow: 1;
	}

	&__slider {
		position: absolute;
	}
}