/* Shadow Dimensions */
.bottom {
  margin-top: auto !important;
}

.top {
  margin-bottom: auto !important;
}

.left {
  margin-right: auto !important;
}

.right {
  margin-left: auto !important;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(112, 6%, 25%, 0.516);
}
*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.wrapper--remaining-space {
  position: relative;
  flex: 1;
}
.wrapper--flex {
  display: flex;
}

.has-shadow {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.404);
}

.dropdown {
  position: relative;
}
.dropdown__content:not(.dropdown__content--open) {
  display: none;
}
.dropdown:has(.dropdown__content--open) .dropdown__marker {
  transform: rotate(90deg);
}
.dropdown__marker {
  transform: rotate(0deg);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon i {
  color: inherit;
  font-size: inherit;
}
.icon--hoverable {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.icon--tiny {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.icon--small {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
.icon--medium {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}
.icon--large {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.tooltip {
  position: fixed;
  pointer-events: all;
  z-index: 100;
}
.tooltip--x-adjacent {
  margin: 0.25rem 0;
}
.tooltip--y-adjacent {
  margin: 0 0.25rem;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1000;
}
.layer--tooltips {
  z-index: 1001;
  background-color: transparent;
  pointer-events: none;
}
.layer--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  color: #DBD6CC;
  overflow: hidden;
}
.container__header {
  text-align: center;
  background-color: #1E1D1C;
  padding: 0.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #eff688;
  z-index: 4;
}
.container__subheader {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 1rem;
  background-color: #131313;
  z-index: 3;
}
.container__subheader .icon:hover {
  color: #cbc83e;
}
.container__content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: overlay;
  z-index: 2;
}
.container--fill {
  flex: 1 1 0px;
}
.container__search {
  height: 100%;
  width: 100%;
  background-color: #0E0D0C;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
  color: #DBD6CC;
}
.container__label {
  color: #DBD6CC;
  padding: 0.25rem;
  font-size: 0.8125rem;
}
.container__label--optional {
  display: none;
}
* + .container__label--optional {
  display: block !important;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.avatar--small {
  width: 2rem;
  height: 2rem;
}
.avatar--medium {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar--large {
  width: 6rem;
  height: 6rem;
}
.avatar img {
  max-height: 100%;
  max-width: 100%;
}

.emotes {
  background-color: #1E1D1C;
  color: #DBD6CC;
  overflow: hidden;
  border-radius: 5px;
  position: fixed;
}
.emotes__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  z-index: 1;
  position: relative;
}
.emotes__body {
  display: flex;
  overflow: hidden;
}
.emotes__search {
  width: 100%;
  height: 1.5rem;
  background-color: #131313;
  color: #DBD6CC;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
}
.emotes__rooms {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: overlay;
  max-height: 25.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  position: relative;
  z-index: 0;
}
.emotes__rooms .avatar {
  transition: box-shadow 0.25s;
  transition: transform 0.25s;
}
.emotes__rooms .avatar:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.emotes__content {
  display: flex;
  align-content: flex-start;
  height: 25.25rem;
  width: 25.25rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: overlay;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #131313;
}
.emotes__emote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  transition: background-color 0.25s;
}
.emotes__emote:hover {
  cursor: pointer;
  background-color: #0E0D0C;
}
.emotes__emote img {
  max-height: 100%;
  max-width: 100%;
}

.friendship {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-self: center;
}
.friendship__button {
  cursor: pointer;
}
.friendship__button--accept {
  color: #1E6432;
}
.friendship__button--accept:hover {
  color: #1B7538;
}
.friendship__button--reject {
  color: #8F3327;
}
.friendship__button--reject:hover {
  color: #BA3220;
}
.friendship__button--manage {
  color: #8D8A84;
}
.friendship__button--manage:hover {
  color: #DBD6CC;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  background-color: #181818;
  overflow: hidden;
  border-radius: 4px;
}
.profile--tooltip {
  width: 20rem;
}
.profile--overlay {
  width: 40rem;
}
.profile--sidebar {
  flex: 1;
  background-color: #131313;
}
.profile__avatar {
  padding: 0.5rem;
  background-color: #181818;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.profile__avatar .on-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #131313;
  opacity: 0;
  transition: opacity 0.1s;
}
.profile__avatar:hover .on-hover {
  opacity: 50;
}
.profile__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.profile__header {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: end;
  justify-content: space-between;
  position: relative;
}
.profile__header-group {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
}
.profile__open-menu {
  color: #DBD6CC;
}
.profile__banner {
  position: absolute;
  top: 0;
  bottom: 25%;
  left: 0;
  right: 0;
  background-color: #181818;
  z-index: -1;
}
.profile__body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: #131313;
}
.profile__body--neutral {
  background-color: #181818;
}
.profile__display-name {
  font-size: 1rem;
  font-weight: bold;
  color: #DBD6CC;
}
.profile__username {
  font-size: 0.875rem;
  color: #8D8A84;
}
.profile__divider {
  height: 1px;
  width: 100%;
  background-color: #8D8A84;
  margin: 0.5rem 0;
}
.profile__info {
  display: flex;
  padding: 0;
  gap: 0.25rem;
}
.profile__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #DBD6CC;
}
.profile__bio {
  font-size: 0.8125rem;
  color: #DBD6CC;
  overflow-wrap: break-word;
}
.profile__date {
  font-size: 0.75rem;
  color: #8D8A84;
}
.profile__section {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.profile__navigation {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  border-bottom: 1px solid #1D1D1C;
}
.profile__switch {
  font-size: 0.8125rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
  transition: border 0.2s, color 0.2s;
  cursor: pointer;
}
.profile__switch[data-state=inactive] {
  color: #8D8A84;
  border-bottom: 0.25rem solid transparent;
}
.profile__switch:hover {
  color: #DBD6CC;
  border-bottom: 0.25rem solid #DBD6CC;
}
.profile__switch[data-state=active] {
  color: #DBD6CC;
  border-bottom: 0.25rem solid #DBD6CC;
}
.profile__button {
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0;
  font-size: 0.8125rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}
.profile__button--main {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #1E6432;
  color: #DBD6CC;
}
.profile__button--main:hover {
  background-color: #1B7538;
  color: #DBD6CC;
}
.profile__button--sidebar {
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
  background-color: #181818;
  align-items: center;
  justify-content: space-between;
}
.profile__button--sidebar:hover {
  background-color: #1D1D1C;
}
.profile__sidebar-group {
  border-radius: 4px;
  overflow: hidden;
  margin: 0.5rem;
}
.profile__sidebar-group > :nth-child(n+1) {
  border-top: #131313;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #131313;
}
.account__header {
  display: flex;
  justify-content: space-around;
}
.account__link {
  color: #9966cc;
  font-size: 0.75rem;
  font-weight: bold;
}

.invite-user {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem;
  gap: 0.75rem;
  align-items: center;
  border-radius: 2px;
}
.invite-user__avatar .avatar {
  background-color: #131313;
  border-radius: 9999px;
}
.invite-user:hover {
  background-color: #1D1D1C;
}
.invite-user:hover .invite-user__button {
  border-color: #1E6432;
  background-color: #1E6432;
  color: #DBD6CC;
}
.invite-user:hover .invite-user__username {
  color: #DBD6CC;
}
.invite-user__username {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8D8A84;
  font-size: 0.9375rem;
}
.invite-user__username-id {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.9375rem;
}
.invite-user__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 2px;
  border: 1px solid #1E6432;
  color: #b2aea6;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  color: #DBD6CC;
  max-width: 440px;
  width: 100%;
  /* -----------

  WIDGETS
  START v

  ----------- */
  /* -----------

  WIDGETS
  END ^

  ----------- */
}
.form__label {
  font-size: 0.9375rem;
}
.form__slider {
  transition: all 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
  position: relative;
  border: 0.25rem solid transparent;
  border-radius: 9999px;
  height: 0.9375rem;
  width: 2.25rem;
  overflow: hidden;
}
.form__slider input {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  opacity: 0;
  border: 0.25rem solid transparent;
  cursor: pointer;
}
.form__slider:has(input:checked) {
  background-color: #1D6D35;
  border-color: #1D6D35;
}
.form__slider:has(input:checked) [data-role=marker] {
  left: 0px;
}
.form__slider:not(:has(input:checked)) {
  background-color: #A63623;
  border-color: #A63623;
}
.form__slider:not(:has(input:checked)) [data-role=marker] {
  left: 1.3125rem;
}
.form__slider [data-role=marker] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: left 0.25s cubic-bezier(0.71, 1.15, 0.82, 1);
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: inherit;
  background-color: #DBD6CC;
}
.form__input {
  display: flex;
  padding: 0.5rem;
  gap: 0.25rem;
  border-radius: 2px;
  font-size: 0.875rem;
  color: #DBD6CC;
  color-scheme: dark;
  background-color: #131313;
  border: 1px solid transparent;
  flex-grow: 1;
}
.form__input:focus {
  border: 1px dashed #8D8A84;
}
.form__select {
  position: relative;
  flex-grow: 1;
}
.form__select .dropdown__content {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 100%;
}
.form__select .dropdown__content .form__widget--option:not(:last-of-type) {
  border-bottom: 1px solid #181818;
}
.form__option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 4px;
  border-radius: 0px;
  justify-content: center;
  color: #b2aea6;
  background-color: #131313;
  position: relative;
  overflow: hidden;
}
.form__option:first-of-type {
  border-radius: 2px 2px 0 0;
}
.form__option:last-of-type {
  border-radius: 0 0 2px 2px;
}
.form__option input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}
.form__option:hover, .form__option:has(:checked) {
  color: #DBD6CC;
  background-color: #1D1D1C;
}
.form__user-input {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
  border-radius: 2px;
  flex-grow: 1;
}
.form__user-input .icon {
  color: #b2aea6;
}
.form__user-input [data-role=username_id-input] {
  flex-grow: 0;
}
.form__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
}
.form__button--green {
  background-color: #1E6432;
  color: #b2aea6;
}
.form__button--green:hover {
  background-color: #1B7538;
  color: #DBD6CC;
}
.form__button--pick-item {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 2px;
  color: #b2aea6;
  border: 1px solid #1E6432;
}
.form__pick-item:hover .form__button--pick-item {
  background-color: #1E6432;
}
.form__pick-item:hover .form__button--pick-item:hover {
  background-color: #1B7538;
  color: #DBD6CC;
  border-color: #1B7538;
}
.form__pick-item {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8D8A84;
}
.form__pick-item [data-role=item] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0;
  gap: 0.75rem;
  align-items: center;
}
.form__pick-item .avatar {
  background-color: #131313;
  border-radius: 9999px;
}
.form__pick-item:hover {
  background-color: #1D1D1C;
}
.form__pick-item:hover [data-role=item] {
  color: #DBD6CC;
}
.form__labeled-element {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  gap: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  border-radius: 2px;
  flex-grow: 1;
  height: -moz-fit-content;
  height: fit-content;
}
.form__row {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
}
.form__connector {
  height: 1px;
  background-color: #b2aea6;
  flex-grow: 1;
}
.form__header {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  justify-content: space-between;
}
.form__title {
  font-size: 1.125rem;
  color: #DBD6CC;
  font-weight: bold;
}
.form__subtitle {
  font-size: 0.8125rem;
  color: #8D8A84;
}
.form__warning {
  font-size: 0.9375rem;
  font-weight: bold;
}
.form__reset {
  color: #DBD6CC;
  font-size: 0.875rem;
  cursor: pointer;
}
.form__reset:hover {
  text-decoration: underline;
}
.form__submit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 4px;
  justify-content: center;
}
.form__submit--update {
  background-color: #1E6432;
}
.form__submit--update:hover {
  background-color: #1B7538;
  color: #DBD6CC;
}
.form__submit--delete {
  background-color: #8F3327;
}
.form__submit--delete:hover {
  border-color: #BA3220;
  background-color: #BA3220;
}
.form__submit--create {
  background-color: #5C278E;
}
.form__submit--create:hover {
  background-color: #6F20BA;
}
.form__response {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  font-size: 0.9375rem;
  font-weight: bold;
}
.form__response--success {
  background-color: #1B7538;
}
.form__response--error {
  background-color: #6B2A2A;
}
.form__close {
  color: #8D8A84;
  height: -moz-fit-content;
  height: fit-content;
}
.form__close:hover {
  color: #DBD6CC;
}
.form__section {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  align-items: center;
}
.form__field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.form__field-name {
  color: #DBD6CC;
  font-size: 0.8125rem;
  font-weight: bold;
}
.form__message {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.75rem;
}
.form__message--confirmation {
  color: #8D8A84;
}
.form__message--error {
  color: #BA3220;
}

.permissions {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.permissions__navigation {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
  background-color: #131313;
  border-radius: 4px;
  overflow: hidden;
  width: 10rem;
}
.permissions__header {
  display: flex;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.permissions__label {
  color: #8D8A84;
  font-size: 0.8125rem;
  font-weight: bold;
}
.permissions__add {
  color: #8D8A84;
}
.permissions__add:hover {
  color: #DBD6CC;
}
.permissions__role {
  display: flex;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  border-radius: 4px;
}
.permissions__role[data-state=inactive] {
  background-color: #131313;
  color: #8D8A84;
}
.permissions__role:hover {
  color: #DBD6CC;
  background-color: #181818;
}
.permissions__role[data-state=active] {
  background-color: #1D1D1C;
  color: #DBD6CC;
}
.permissions__role div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}
.permissions__role-color {
  padding: 0.25rem;
  border-radius: 9999px;
}
.permissions__config {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
  background-color: #131313;
  border-radius: 4px;
  overflow: hidden;
  flex: 1;
}
.permissions__field {
  display: grid;
  column-templates: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 0.25rem;
  align-items: center;
}
.permissions__name {
  grid-column: 1;
  font-size: 0.875rem;
  color: #DBD6CC;
}
.permissions__choices {
  display: flex;
  padding: 3px;
  gap: 0.25rem;
  grid-column: 3;
  background-color: #131313;
  border-radius: 4px;
  overflow: hidden;
}
.permissions__option {
  transition: background-color 0.2s, color 0.2s;
  position: relative;
  padding: 0.25rem 0.5rem;
}
.permissions__option input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.permissions__option--false:has(:not(:checked)) {
  background-color: #181818;
  color: #8D8A84;
}
.permissions__option--false:hover {
  background-color: #181818;
  color: #DBD6CC;
}
.permissions__option--false:has(:checked) {
  background-color: #BA3220;
}
.permissions__option--null:has(:not(:checked)) {
  background-color: #181818;
  color: #8D8A84;
}
.permissions__option--null:hover {
  background-color: #181818;
  color: #DBD6CC;
}
.permissions__option--null:has(:checked) {
  background-color: #1D1D1C;
  color: #DBD6CC;
}
.permissions__option--true:has(:not(:checked)) {
  background-color: #181818;
  color: #8D8A84;
}
.permissions__option--true:hover {
  background-color: #181818;
  color: #DBD6CC;
}
.permissions__option--true:has(:checked) {
  background-color: #1B7538;
  color: #DBD6CC;
}
.permissions__description {
  grid-column: 1/-1;
  font-size: 0.8125rem;
  color: #8D8A84;
}
.permissions__footer {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.field:has(.field__error) .field__name {
  color: #FF3D3D;
}
.field__row {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;
}
.field__error {
  font-size: 0.75rem;
  color: #FF3D3D;
}
.field__name {
  font-weight: bold;
  font-size: 0.8125rem;
}
.field__label {
  font-size: 0.9375rem;
  font-weight: bold;
}
.field__checkbox {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  overflow: hidden;
}
.field__checkbox:has(:not(:checked)) {
  background-color: transparent;
  color: transparent;
  border: 2px solid #1E6432;
}
.field__checkbox:hover {
  border: 2px solid #1D6D35;
}
.field__checkbox:has(:checked) {
  background-color: #1B7538;
  color: #DBD6CC;
  border: 2px solid #1B7538;
}
.field__checkbox input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.formbox {
  display: flex;
  padding: 0;
  gap: 0;
  height: 100%;
  width: 100%;
  background-color: #181818;
}
.formbox__forms {
  display: flex;
  padding: 0.75rem;
  gap: 0;
  justify-content: space-between;
  flex: 1;
}
.formbox__close {
  color: #8D8A84;
  height: -moz-fit-content;
  height: fit-content;
}
.formbox__close:hover {
  color: #DBD6CC;
}
.formbox__navigation {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
  background-color: #131313;
}
.formbox__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #8D8A84;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.formbox__button:hover {
  color: #DBD6CC;
}
.formbox__button[data-state=active] {
  color: #DBD6CC;
  background-color: #1D1D1C;
}

.channel {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8D8A84;
  /*00000*/
}
.channel__title {
  font-size: 0.875rem;
}
.channel:hover, .channel--selected {
  background-color: #1D1D1C;
}
.channel:hover .channel__title, .channel--selected .channel__title {
  color: #DBD6CC;
}
.channel:has(.notification) {
  color: #DBD6CC;
}

.error {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #6B2A2A;
  color: #DBD6CC;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
.error__message {
  font-size: 0.9375rem;
  font-weight: bold;
}
.error__close {
  align-self: flex-end;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0;
  background-color: #181818;
  overflow: hidden;
  border-radius: 4px;
}
.menu__item {
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 0.8125rem;
  color: #8D8A84;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.menu__item:hover {
  color: #DBD6CC;
  background-color: #1D1D1C;
}

.switchable__content:not(.switchable__content--active) {
  display: none;
}
.switchable__content--active {
  display: unset !important;
}

.switch {
  display: flex;
  padding: 0;
  gap: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
.switch input {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
.switch__element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.switch__element div {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  transition: background-color 0.2s;
}
.switch__slider {
  position: absolute;
  border-radius: 50%;
  transition: left 0.2s;
}
.switch__edge--left {
  border-radius: 50% 0% 0% 50%;
}
.switch__edge--left div {
  border-radius: 50% 0% 0% 50%;
}
.switch__edge--right {
  border-radius: 0% 50% 50% 0%;
}
.switch__edge--right div {
  border-radius: 0% 50% 50% 0%;
}
.switch__body {
  flex-grow: 1;
}
.switch__slider {
  position: absolute;
}

.app {
  display: flex;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131313;
}
.app__header {
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  height: 30px;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  background-color: inherit;
}
.app__header--group-chats {
  border-bottom: 1px solid #1D1D1C;
  color: #8D8A84;
}
.app__header--content-sidebar {
  border-bottom: 2px solid #131313;
}
.app__main {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex-grow: 1;
  border-left: 1px solid #131313;
  background-color: #1D1D1C;
}
.app__main > :nth-child(n+2) {
  border-top: 2px solid #181818;
}
.app__body {
  display: flex;
  padding: 0;
  gap: 0;
  flex-grow: 1;
  /* explcit height is required in nested flex-grow: 1; containers */
  height: 100%;
}
.app__content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex-grow: 1;
  overflow: auto;
}
.app__icon {
  color: #b2aea6;
}
.app__icon--hoverable:hover {
  color: #DBD6CC;
}
.app__title {
  color: #DBD6CC;
  font-size: 0.9375rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app__button {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
}
.app__button--header {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  color: #b2aea6;
  font-size: 0.875rem;
  font-weight: bold;
}
.app__button--header:hover {
  background-color: #181818;
}
.app__button--header[data-state=selected] {
  color: #DBD6CC;
  background-color: #131313;
}
.app__backlogs {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex: 1 0 0;
  overflow: overlay;
}
.app__avatar {
  border-radius: 9999px;
  overflow: hidden;
}
.app__avatar .avatar {
  background-color: #131313;
}

.backlog {
  display: grid;
  padding: 0.5rem 0.75rem;
  gap: 0.25rem 0.5rem;
  align-items: baseline;
}
.backlog--message {
  grid-template: min-content auto auto/auto auto auto 1fr;
}
.backlog:hover {
  background-color: #181818;
}
.backlog__avatar {
  grid-row: 1/3;
  align-self: flex-start;
}
.backlog__avatar .avatar {
  border-radius: 4px;
  background-color: #131313;
}
.backlog__username {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  grid-row: 1/2;
  color: #DBD6CC;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.backlog__username:hover {
  text-decoration: underline;
}
.backlog__timestamp {
  grid-row: 1/2;
  color: #8D8A84;
  font-size: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.backlog__content {
  word-break: keep-all;
  word-wrap: break-word;
  grid-row: 2/3;
  grid-column: 2/-1;
  color: #DBD6CC;
  font-size: 0.9375rem;
}
.backlog__reactions {
  grid-row: 3/4;
}

.chatbar {
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.75rem;
  align-items: center;
  background-color: #131313;
  margin: 0.75rem;
  border-radius: 4px;
  overflow: hidden;
}
.chatbar__divider {
  width: 1px;
  align-self: stretch;
  background-color: #8D8A84;
}
.chatbar__input {
  display: flex;
  padding: 0.25rem;
  gap: 0;
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 1.125rem;
  color: #DBD6CC;
  font-family: inherit;
  caret-color: #DBD6CC;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  flex-shrink: 0;
}
.sidebar--group-chats {
  background-color: #131313;
  transition: flex-basis 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
}
.sidebar--group-chats[data-state=closed] {
  flex-basis: 0px;
}
.sidebar--group-chats[data-state=open] {
  flex-basis: 220px;
}
.sidebar--main {
  background-color: #181818;
  border-left: 1px solid #1D1D1C;
  width: 220px;
}
.sidebar--main > :nth-child(n+2) {
  border-top: 2px solid #131313;
}
.sidebar--content {
  transition: flex-basis 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
  background-color: #181818;
  border-left: 1px solid #131313;
}
.sidebar--content .sidebar__label {
  transition: opacity 0.4s;
}
.sidebar--content .sidebar__role-icon {
  transition: opacity 0.4s;
}
.sidebar--content[data-state=closed] {
  flex-basis: 0px;
}
.sidebar--content[data-state=closed] .sidebar__label {
  opacity: 0;
}
.sidebar--content[data-state=closed] .sidebar__role-icon {
  opacity: 100;
}
.sidebar--content[data-state=open] {
  flex-basis: 220px;
}
.sidebar--content[data-state=open] .sidebar__label {
  opacity: 100;
}
.sidebar--content[data-state=open] .sidebar__role-icon {
  opacity: 0;
}
.sidebar__section {
  /*
  SEE comment in sidebar__body
  */
}
.sidebar__section--catalogue {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.sidebar__section--small {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.sidebar__section--medium {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}
.sidebar__section--large {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}
.sidebar__section--category {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.sidebar__section--category .channel {
  padding-left: 0.75rem;
}
.sidebar__section--channels {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1px;
}
.sidebar__section--users {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.25rem;
}
.sidebar__section--users:not(:has(.user)) {
  /* This avoids the hidden element from
  triggering the sidebar__section's gap */
  position: fixed;
}
.sidebar__section--users:not(:has(.user)) .sidebar__lead-in {
  display: none;
}
.sidebar__divider {
  display: flex;
  padding: 0;
  gap: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #1D1D1C;
}
.sidebar__pin {
  transition: transform 0.2s;
}
.sidebar__pin[data-state=open] {
  color: #DBD6CC;
}
.sidebar__searchbar {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  display: flex;
  padding: 0.25rem;
  gap: 0;
  flex-grow: 1;
}
.sidebar__searchbar--main {
  background-color: #131313;
  color: #8D8A84;
  font-size: 0.875rem;
  border-radius: 2px;
  text-indent: 0.5rem;
}
.sidebar__body {
  /*

  NOTE: on sidebar__body and sidebar__section, 
  __body should determine the padding, meanwhile,
  the __section element/s will take care of the
  spacing between the elements themselves, e.g,
  gap / margin

  */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0;
  flex-grow: 1;
  overflow: auto;
}
.sidebar__footer {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}
.sidebar__lead-in {
  position: relative;
  display: grid;
  grid-template: auto/minmax(0, 1fr) minmax(0, auto);
  padding: 0.25rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sidebar__label {
  display: flex;
  padding: 0;
  gap: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  color: #8D8A84;
  font-size: 0.8125rem;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.sidebar__label--hoverable {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.sidebar__label--hoverable:hover {
  color: #b2aea6;
}
.sidebar__add {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  color: #8D8A84;
}
.sidebar__add:hover {
  color: #DBD6CC;
}
.sidebar__role-icon {
  position: absolute;
  justify-self: center;
}
.sidebar__button {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: grid;
  grid-template: auto/auto minmax(0, 0.75rem) minmax(0, 1fr);
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  color: #8D8A84;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
}
.sidebar__button:hover {
  border-color: #b2aea6;
  background-color: #1D1D1C;
  color: #DBD6CC;
}
.sidebar__button .sidebar__button-body {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  grid-column: 3/4;
}

.sidebar-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: inherit;
  background-color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sidebar-menu__trigger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  gap: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  justify-content: space-between;
  align-items: center;
  padding: inherit;
  cursor: pointer;
}
.sidebar-menu__trigger:hover {
  background-color: #1D1D1C;
}
.sidebar-menu__content {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0.25rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: auto;
  border-radius: 2px;
  overflow: hidden;
  background-color: #181818;
  border: 1px solid #1D1D1C;
  z-index: 1;
  margin: 0.5rem;
}
.sidebar-menu__button {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.25rem 0.5rem;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #8D8A84;
  font-size: 0.875rem;
  border-radius: 2px;
}
.sidebar-menu__button:hover {
  background-color: #1D1D1C;
  color: #DBD6CC;
}
.sidebar-menu__divider {
  height: 1px;
  background-color: #1D1D1C;
}

.group-chat {
  display: grid;
  grid-template-columns: auto minmax(0, 0.75rem) minmax(0, 1fr);
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 1px solid #131313;
  position: relative;
  border-radius: 2px;
}
.group-chat > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.group-chat > :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.group-chat__avatar {
  border-radius: inherit;
  color: #8D8A84;
  background-color: #181818;
}
.group-chat__avatar .avatar {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: inherit;
}
.group-chat__body {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0;
  gap: 0;
  align-items: center;
  align-self: stretch;
  border-radius: inherit;
  color: #8D8A84;
}
.group-chat:hover .group-chat__avatar .avatar, .group-chat--selected .group-chat__avatar .avatar {
  border-color: #8D8A84;
  color: #DBD6CC;
  background-color: #1D1D1C;
}
.group-chat:hover .group-chat__body, .group-chat--selected .group-chat__body {
  color: #DBD6CC;
}
.group-chat__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
}
.group-chat:has(.notification) .avatar {
  box-shadow: 0px 0px 3px 1px #6F20BA;
}

.user {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: auto minmax(0, 0.5rem) minmax(0, 1fr) minmax(0, 0.5rem) minmax(0, auto);
  display: grid;
  padding: 0.25rem;
  color: #8D8A84;
  align-items: center;
  position: relative;
  border-radius: 4px;
}
.user > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.user > :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.user > :nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 6;
}
.user--private-chat {
  overflow: visible;
}
.user:hover, .user--selected {
  background-color: #1D1D1C;
}
.user__avatar .avatar {
  background-color: #131313;
  border-radius: 9999px;
  overflow: hidden;
}
.user__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.user__icons {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.user__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  font-weight: bold;
}
.user__subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.75rem;
}

.user-container {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #131313;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: space-between;
}
.user-container .avatar {
  background-color: #1D1D1C;
  border-radius: 9999px;
}
.user-container__user {
  display: grid;
  grid-template: auto auto/auto minmax(0, 1fr);
  align-content: center;
  justify-content: start;
  gap: 0 0.5rem;
}
.user-container__avatar {
  grid-row: 1/-1;
}
.user-container__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
  font-weight: bold;
  color: #DBD6CC;
}
.user-container__status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.75rem;
  color: #8D8A84;
}

.reaction {
  display: flex;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  border-radius: 4px;
  background-color: #131313;
  border: 1px solid #131313;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: box-shadow 0.25s, background-color 0.25s, border 0.25s;
  cursor: pointer;
}
.reaction--selected {
  background-color: #403D39;
  border: 1px solid #403D39;
}
.reaction__counter {
  font-size: 0.9375rem;
}
.reaction img {
  max-width: 1.25rem;
  max-height: 1.25rem;
}
.reaction:not(.reaction--selected):hover {
  background-color: #1D1D1C;
}
.reaction:hover {
  border: 1px solid #62777e;
}

.role {
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: #403D39;
  border-radius: 4px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.role__color {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
}
.role__name {
  font-size: 0.75rem;
  color: #DBD6CC;
}

.frontpage {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  color: #DBD6CC;
  overflow: overlay;
  align-items: center;
}
.frontpage__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
  max-width: 1080px;
  height: -moz-fit-content;
  height: fit-content;
  flex-grow: 1;
}
.frontpage__header {
  display: flex;
  padding: 0;
  gap: 0;
  background-color: #131313;
  width: 100%;
  justify-content: center;
}
.frontpage__navigation {
  display: flex;
  padding: 0.75rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
}
.frontpage__introduction {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
  text-align: center;
}
.frontpage__link {
  font-size: 1rem;
}
.frontpage__logo {
  font-size: 1.25rem;
  font-weight: bold;
}
.frontpage__showcase {
  display: flex;
  padding: 0;
  gap: 0;
  flex-grow: 1;
  background-color: #181818;
  width: 100%;
  border: 0.25rem solid #131313;
  box-sizing: border-box;
}
.frontpage__sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
  background-color: #131313;
}
.frontpage__switch {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}
.frontpage__switch[data-state=inactive] {
  color: #8D8A84;
  background-color: #131313;
}
.frontpage__switch:hover {
  color: #DBD6CC;
  background-color: #181818;
}
.frontpage__switch[data-state=active] {
  color: #DBD6CC;
  background-color: #1D1D1C;
}
.frontpage__title {
  font-size: 2rem;
  font-weight: bold;
}
.frontpage__description {
  font-size: 1.75rem;
}
.frontpage__footer {
  display: flex;
  padding: 0.75rem;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.frontpage__button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
  background-color: #131313;
}
.frontpage__button:hover {
  background-color: #1D1D1C;
}
.frontpage__button--footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.frontpage__button--small {
  font-size: 1rem;
  padding: 0.5rem;
}
.frontpage__button--large {
  font-size: 2rem;
  padding: 0.75rem;
}

.overlay {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  max-height: 100vh;
  overflow: overlay;
  border-radius: 2px;
}
.overlay__header {
  display: flex;
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: #131313;
  justify-content: space-between;
}
.overlay__title {
  font-size: 1rem;
  font-weight: bold;
  color: #DBD6CC;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.overlay__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.9375rem;
  color: #DBD6CC;
}
.overlay__body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  background-color: #1D1D1C;
}
.overlay__content {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: #181818;
  border-radius: 2px;
  max-height: 180px;
}
.overlay__content--scroll {
  overflow: overlay;
}
.overlay__footer {
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.75rem;
  background-color: #181818;
  align-items: center;
  flex-wrap: wrap;
}
.overlay__footer:empty {
  display: none;
}
.overlay__action {
  font-size: 0.8125rem;
  color: #DBD6CC;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.overlay__action:hover {
  text-decoration: underline;
}
.overlay__row {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.overlay__close {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  color: #8D8A84;
  cursor: pointer;
}
.overlay__close:hover {
  color: #DBD6CC;
}

.invite {
  display: flex;
  padding: 0;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131313;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.invite__avatar {
  border-radius: 9999px;
  overflow: hidden;
}
.invite__avatar .avatar {
  background-color: #131313;
}
.invite__body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #181818;
  align-items: center;
  border-radius: 4px;
}
.invite__divider {
  height: 1px;
  width: 100%;
  background-color: #1D1D1C;
}
.invite__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #DBD6CC;
}
.invite__subtitle {
  font-size: 0.875rem;
  font-weight: bold;
  color: #8D8A84;
}
.invite__members {
  display: flex;
  padding: 0.25rem 0.75rem;
  gap: 0.75rem;
  background-color: #1D1D1C;
  border-radius: 9999px;
  font-size: 0.8125rem;
  border: 1px solid #8D8A84;
}
.invite__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-radius: 4px;
  align-self: stretch;
  justify-content: center;
  margin: 0.5rem;
}
.invite__button--valid {
  background-color: #5C278E;
  color: #DBD6CC;
}
.invite__button--valid:hover {
  background-color: #6F20BA;
}
.invite__button--expired {
  background-color: #8F3327;
  color: #DBD6CC;
}
.invite__button--expired:hover {
  background-color: #BA3220;
}

.notification--hidden {
  display: none;
}
.notification--private-chat {
  height: 6px;
  width: 6px;
  overflow: hidden; /* prevent text from causing parent to overflow */
  color: transparent;
  border-radius: 9999px;
  background-color: #D6E019;
  box-shadow: 0px 0px 8px 1px rgba(214, 224, 25, 0.404);
}
.notification--dashboard, .notification--mention {
  position: absolute;
  bottom: -0.5rem;
  left: -0.25rem;
  border-radius: 4px;
  border: 3px solid #131313;
  overflow: hidden;
}
.notification--dashboard [data-role=counter], .notification--mention [data-role=counter] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA3220;
  color: #DBD6CC;
  font-size: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
  padding: 1px 2px;
  font-weight: bold;
}

html {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: "Lato", monospace;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
  border: solid 0px #888;
  vertical-align: top;
}

input[type=submit] {
  height: 32px;
}

input:focus {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #DBD6CC;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #131313 !important;
  background: #131313 !important;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

fieldset {
  all: unset;
}/*# sourceMappingURL=header.css.map */