/* Shadow Dimensions */
.bottom {
  margin-top: auto !important;
}

.top {
  margin-bottom: auto !important;
}

.left {
  margin-right: auto !important;
}

.right {
  margin-left: auto !important;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(112, 6%, 25%, 0.516);
}
*::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.has-shadow {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.dropdown {
  position: relative;
}
.dropdown__content:not(.dropdown__content--open) {
  display: none;
}
.dropdown:has(.dropdown__content--open) .dropdown__marker {
  transform: rotate(90deg);
}
.dropdown__marker {
  transform: rotate(0deg);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon i {
  color: inherit;
  font-size: inherit;
}
.icon--hoverable {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.icon--tiny {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.icon--small {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}
.icon--medium, .mentionables-list__avatar {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}
.icon--large {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
.icon--as-avatar img {
  max-height: 100%;
  max-width: 100%;
}

.tooltip {
  position: fixed;
  pointer-events: all;
  z-index: 100;
}
.tooltip--x-adjacent {
  margin: 0.25rem 0;
}
.tooltip--y-adjacent {
  margin: 0 0.25rem;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 100;
}
.layer--tooltips {
  z-index: 101;
  background-color: transparent;
  pointer-events: none;
}
.layer--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.layer--overlay:has(~ .layer--overlay) {
  display: none;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.avatar--small {
  width: 2rem;
  height: 2rem;
}
.avatar--medium {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar--large {
  width: 6rem;
  height: 6rem;
}
.avatar--round {
  border-radius: 9999px;
  overflow: hidden;
}
.avatar--shaded {
  background-color: #131313;
}
.avatar img {
  max-height: 100%;
  max-width: 100%;
}

.emotes {
  background-color: #1E1D1C;
  color: #DBD6CC;
  overflow: hidden;
  border-radius: 5px;
  position: fixed;
}
.emotes__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  z-index: 1;
  position: relative;
}
.emotes__body {
  display: flex;
  overflow: hidden;
}
.emotes__search {
  width: 100%;
  height: 1.5rem;
  background-color: #131313;
  color: #DBD6CC;
  border-radius: 0.25rem;
  text-indent: 0.25rem;
}
.emotes__rooms {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: overlay;
  max-height: 25.25rem;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #1E1D1C;
  position: relative;
  z-index: 0;
}
.emotes__rooms .avatar {
  transition: box-shadow 0.25s;
  transition: transform 0.25s;
}
.emotes__rooms .avatar:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.emotes__content {
  display: flex;
  align-content: flex-start;
  height: 25.25rem;
  width: 25.25rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: overlay;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #131313;
}
.emotes__emote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  transition: background-color 0.25s;
}
.emotes__emote:hover {
  cursor: pointer;
  background-color: #0E0D0C;
}
.emotes__emote img {
  max-height: 100%;
  max-width: 100%;
}

.friendship {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  align-self: center;
}
.friendship__button {
  cursor: pointer;
}
.friendship__button--accept {
  color: #154623;
}
.friendship__button--accept:hover {
  color: #16632F;
}
.friendship__button--reject {
  color: #941A1A;
}
.friendship__button--reject:hover {
  color: #B91717;
}
.friendship__button--manage {
  color: #8D8A84;
}
.friendship__button--manage:hover {
  color: #DBD6CC;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #131313;
}
.account__header {
  display: flex;
  justify-content: space-around;
}
.account__link {
  color: #9966cc;
  font-size: 0.75rem;
  font-weight: bold;
}

.invite-user {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem;
  gap: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.invite-user__avatar .avatar {
  background-color: #131313;
  border-radius: 9999px;
}
.invite-user:hover {
  background-color: #1D1D1C;
}
.invite-user:hover .invite-user__button {
  border-color: #154623;
  background-color: #154623;
  color: #DBD6CC;
}
.invite-user:hover .invite-user__username {
  color: #DBD6CC;
}
.invite-user__username {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8D8A84;
  font-size: 0.9375rem;
}
.invite-user__username-id {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.9375rem;
}
.invite-user__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  border: 1px solid #154623;
  color: #b2aea6;
}

.manage-emote {
  display: grid;
  grid-template-columns: auto minmax(0, 0.75rem) 1fr minmax(0, 0.75rem) auto minmax(0, 0.75rem) minmax(0, auto);
  padding: 0.25rem;
  align-items: center;
}
.manage-emote > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.manage-emote > :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.manage-emote > :nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 6;
}
.manage-emote > :nth-child(4) {
  grid-column-start: 7;
  grid-column-end: 8;
}
.manage-emote .avatar {
  background-color: #131313;
}
.manage-emote__username {
  font-size: 0.9375rem;
}
.manage-emote__action {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border-radius: 9999px;
  padding: 0.25rem;
  border: 2px solid;
}
.manage-emote__action--delete {
  color: #941A1A;
  border-color: #941A1A;
}
.manage-emote__action--delete:hover {
  background-color: #1D1D1C;
  color: #B91717;
  border-color: #B91717;
}
.manage-emote__action--edit {
  color: #8D8A84;
  border-color: #8D8A84;
}
.manage-emote__action--edit:hover {
  background-color: #1D1D1C;
  color: #DBD6CC;
  border-color: #DBD6CC;
}

.channel {
  padding: 0.25rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #8D8A84;
  /*00000*/
}
.channel__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
}
.channel:hover, .channel--selected {
  background-color: #1D1D1C;
  color: #DBD6CC;
}
.channel:has(.notification) {
  color: #B91717;
}

.switchable__content:not(.switchable__content--active) {
  display: none;
}
.switchable__content--active {
  display: unset !important;
}

.app {
  padding: 0;
  gap: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131313;
}
.app__header {
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  height: 30px;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  background-color: inherit;
}
.app__header--content-sidebar {
  border-bottom: 2px solid #131313;
}
.app__main {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #131313;
  background-color: #1D1D1C;
}
.app__main > :nth-child(n+2) {
  border-top: 2px solid #181818;
}
.app__body {
  padding: 0;
  gap: 0;
  display: flex;
  flex-grow: 1;
  /* explcit height is required in nested flex-grow: 1; containers */
  height: 100%;
  overflow: hidden;
}
.app__content {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.app__icon {
  color: #b2aea6;
}
.app__icon--hoverable:hover {
  color: #DBD6CC;
}
.app__title {
  color: #DBD6CC;
  font-size: 0.9375rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app__button {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
}
.app__button--header {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  color: #b2aea6;
  font-size: 0.875rem;
  font-weight: bold;
}
.app__button--header:hover {
  background-color: #181818;
}
.app__button--header[data-state=selected] {
  color: #DBD6CC;
  background-color: #131313;
}
.app__backlogs {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: overlay;
}
.app__avatar {
  border-radius: 9999px;
  overflow: hidden;
}
.app__avatar .avatar {
  background-color: #131313;
}
.app__subheader {
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.app__subheader--unread {
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #6A26A1;
  color: #DBD6CC;
  font-size: 0.875rem;
  font-weight: bold;
}
.app__subheader--unread [data-role=display] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}
.app__subheader--unread:has([data-role=counter][data-count="0"]) {
  display: none;
}
.app__subheader--more-backlogs {
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: #131313;
  color: #b2aea6;
  font-size: 0.8125rem;
}
.app__divider {
  padding: 0;
  gap: 0;
  display: flex;
  height: 0px;
  flex-shrink: 0;
  margin: 0.5rem;
}
.app__divider--unread-backlogs {
  border-top: 1px dashed #572586;
}

.backlog {
  display: grid;
  padding: 0.5rem 0.75rem;
  align-items: baseline;
  position: relative;
}
.backlog > * {
  padding: 0.125rem 0.25rem;
}
.backlog:hover {
  background-color: #181818;
}
.backlog--mentioned {
  background-color: rgba(176, 184, 32, 0.1);
  border-left: 2px solid #D6E019;
}
.backlog--mentioned:hover {
  background-color: rgba(176, 184, 32, 0.05);
}
.backlog--message {
  grid-template: min-content auto auto auto auto/auto auto auto 1fr;
}
.backlog--log {
  grid-template: auto auto/auto auto auto auto 1fr;
  align-items: center;
}
.backlog:has(.backlog__editor) {
  background-color: #181818;
}
.backlog__log-action {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.875rem;
  color: #DBD6CC;
}
.backlog__avatar {
  grid-row: 1/3;
  align-self: flex-start;
}
.backlog__avatar .avatar {
  border-radius: 4px;
  background-color: #131313;
}
.backlog__username {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  grid-row: 1/2;
  color: #DBD6CC;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.backlog__username:hover {
  text-decoration: underline;
}
.backlog__timestamp {
  grid-row: 1/2;
  color: #8D8A84;
  font-size: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.backlog__content {
  word-break: keep-all;
  word-wrap: break-word;
  grid-row: 2/3;
  grid-column: 2/-1;
  color: #DBD6CC;
  font-size: 0.9375rem;
  position: relative;
  white-space: pre-line;
  line-height: 1.375rem;
}
.backlog:has(.backlog__editor) .backlog__content {
  display: none;
}
.backlog__editor {
  grid-row: 2/3;
  grid-column: 2/-1;
  display: grid;
  grid-template: minmax(180px, 240px) auto/auto auto 1fr;
  gap: 0.5rem;
}
.backlog__editor [data-role=input] {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: #131313;
  border: 1px solid #1D1D1C;
  border-radius: 4px;
  color: #DBD6CC;
  font-size: 0.9375rem;
  resize: none;
  padding: 0.5rem;
  font-family: inherit;
}
.backlog__editor [data-role=input]:focus {
  border: 1px dashed #8D8A84;
  outline: none;
}
.backlog__editor [data-role=save] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  background-color: #16632F;
  color: #DBD6CC;
  grid-row: 2/3;
}
.backlog__editor [data-role=save]:hover {
  background-color: #154623;
  color: #DBD6CC;
}
.backlog__editor [data-role=cancel] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  grid-row: 2/3;
  color: #DBD6CC;
  cursor: pointer;
  font-size: 0.8125rem;
  align-self: center;
}
.backlog__editor [data-role=cancel]:hover {
  text-decoration: underline;
}
.backlog__reactions {
  gap: 0.25rem 0.75rem;
  display: flex;
  grid-column: 1/-1;
  grid-row: -2/-1;
  flex-wrap: wrap;
}
.backlog__reactions:not(:has(.backlog__reaction)) {
  display: none;
}
.backlog__reaction {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  display: flex;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: bold;
  align-items: center;
  border-width: 1px;
  border-style: solid;
}
.backlog__reaction:not(.backlog__reaction--selected) {
  background-color: #131313;
  color: #b2aea6;
  border-color: #1D1D1C;
}
.backlog__reaction:not(.backlog__reaction--selected):hover {
  color: #DBD6CC;
  border-color: #8D8A84;
}
.backlog__reaction--selected {
  color: #DBD6CC;
  border-color: #7425B5;
  background-color: rgba(87, 37, 134, 0.15);
}
.backlog__reaction .avatar {
  height: 1.25rem;
  width: 1.25rem;
}
.backlog__invites {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 2/-1;
}
.backlog__invites:not(:has(.backlog-invite)) {
  display: none;
}
.backlog__actions {
  padding: 0;
  gap: 0;
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
  visibility: hidden;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #1D1D1C;
}
.backlog:hover .backlog__actions, .backlog:has(.backlog__editor) .backlog__actions {
  visibility: visible;
}
.backlog__action {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem;
  background-color: #181818;
  color: #b2aea6;
  cursor: pointer;
}
.backlog__action:hover {
  background-color: #131313;
  color: #DBD6CC;
}

.backlog-invite {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  background-color: #1D1D1C;
  border-radius: 0.25rem;
  max-width: 26rem;
  border: 1px solid #131313;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.backlog-invite__headliner {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.backlog-invite__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #b2aea6;
}
.backlog-invite__body {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.backlog-invite__chat {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  flex-grow: 1000; /* this makes the button grow when wrapping */
  max-width: 100%;
}
.backlog-invite__chat .avatar {
  background-color: #181818;
  color: #8D8A84;
  border-radius: 4px;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border: 1px solid #131313;
}
.backlog-invite__title {
  font-size: 1rem;
  font-weight: bold;
  color: #DBD6CC;
}
.backlog-invite__title--error {
  color: #B91717;
}
.backlog-invite__subtitle {
  font-size: 0.8125rem;
  color: #b2aea6;
}
.backlog-invite__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.8125rem;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center;
  flex-grow: 1;
}
.backlog-invite__button--accept {
  position: relative;
  cursor: pointer;
  background-color: #16632F;
  color: #DBD6CC;
}
.backlog-invite__button--accept button {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.backlog-invite__button--accept button::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.backlog-invite__button--accept:hover {
  background-color: #154623;
  color: #DBD6CC;
}
.backlog-invite__button--redirect {
  background-color: #7425B5;
  color: #DBD6CC;
}
.backlog-invite__button--redirect:hover {
  background-color: #572586;
  color: #DBD6CC;
}

.chatbar {
  padding: 0.25rem 0.75rem;
  gap: 0.75rem;
  display: flex;
  align-items: center;
  background-color: #131313;
  margin: 0.75rem;
  border-radius: 4px;
  border: 1px solid #181818;
  overflow: hidden;
}
.chatbar__divider {
  width: 2px;
  align-self: stretch;
  background-color: #1D1D1C;
}
.chatbar__input {
  padding: 0.25rem;
  gap: 0;
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 1.125rem;
  color: #DBD6CC;
  font-family: inherit;
  caret-color: #DBD6CC;
}

.mentionables-list {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 100%;
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  border: 1px solid #131313;
  margin-bottom: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: overlay;
}
.mentionables-list__divider {
  height: 1px;
  width: 100%;
  background-color: #1D1D1C;
}
.mentionables-list__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  border-radius: 9999px;
  overflow: hidden;
}
.mentionables-list__name {
  font-size: 0.9375rem;
  color: #DBD6CC;
}
.mentionables-list__id {
  font-size: 0.8125rem;
  color: #8D8A84;
}
.mentionables-list__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #DBD6CC;
  padding: 0.5rem;
}
.mentionables-list__mentionable {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  padding: 0.25rem;
  gap: 0.5rem;
  display: flex;
  border-radius: 0.25rem;
}
.mentionables-list__mentionable:hover, .mentionables-list__mentionable--active {
  background-color: #1D1D1C;
}

.sidebar {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sidebar--group-chats {
  background-color: #131313;
  transition: flex-basis 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
}
.sidebar--group-chats[data-state=closed] {
  flex-basis: 0px;
}
.sidebar--group-chats[data-state=open] {
  flex-basis: 220px;
}
.sidebar--main {
  background-color: #181818;
  border-left: 1px solid #1D1D1C;
  width: 220px;
}
.sidebar--main > :nth-child(n+2) {
  border-top: 2px solid #131313;
}
.sidebar--content {
  transition: flex-basis 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
  background-color: #181818;
  border-left: 1px solid #131313;
}
.sidebar--content .sidebar__label {
  transition: opacity 0.4s;
}
.sidebar--content .sidebar__role-icon {
  transition: opacity 0.4s;
}
.sidebar--content[data-state=closed] {
  flex-basis: 0px;
}
.sidebar--content[data-state=closed] .sidebar__label {
  opacity: 0;
}
.sidebar--content[data-state=closed] .sidebar__role-icon {
  opacity: 100;
}
.sidebar--content[data-state=open] {
  flex-basis: 220px;
}
.sidebar--content[data-state=open] .sidebar__label {
  opacity: 100;
}
.sidebar--content[data-state=open] .sidebar__role-icon {
  opacity: 0;
}
.sidebar__section {
  /*
  SEE comment in sidebar__body
  */
}
.sidebar__section--small {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.sidebar__section--medium {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.sidebar__section--large {
  padding: 0;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}
.sidebar__section--category {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
}
.sidebar__section--category .channel {
  padding-left: 0.75rem;
}
.sidebar__section--channels {
  padding: 0;
  gap: 1px;
  display: flex;
  flex-direction: column;
}
.sidebar__section--users {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.sidebar__section--users:not(:has(.user)) {
  /* This avoids the hidden element from
  triggering the sidebar__section's gap */
  position: fixed;
}
.sidebar__section--users:not(:has(.user)) .sidebar__lead-in {
  display: none;
}
.sidebar__divider {
  padding: 0;
  gap: 0;
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid #1D1D1C;
}
.sidebar__pin {
  transition: transform 0.2s;
}
.sidebar__pin[data-state=open] {
  color: #DBD6CC;
}
.sidebar__searchbar {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  padding: 0.25rem;
  gap: 0;
  display: flex;
  flex-grow: 1;
}
.sidebar__searchbar--main {
  background-color: #131313;
  color: #8D8A84;
  font-size: 0.875rem;
  border-radius: 2px;
  text-indent: 0.5rem;
}
.sidebar__body {
  /*

  NOTE: on sidebar__body and sidebar__section, 
  __body should determine the padding, meanwhile,
  the __section element/s will take care of the
  spacing between the elements themselves, e.g,
  gap / margin

  */
  padding: 0.5rem;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.sidebar__footer {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
}
.sidebar__lead-in {
  position: relative;
  display: grid;
  grid-template: auto/minmax(0, 1fr) minmax(0, auto);
  padding: 0.25rem;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sidebar__label {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  color: #8D8A84;
  font-size: 0.8125rem;
  font-weight: bold;
}
.sidebar__label--hoverable {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.sidebar__label--hoverable:hover {
  color: #b2aea6;
}
.sidebar__add {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  color: #8D8A84;
}
.sidebar__add:hover {
  color: #DBD6CC;
}
.sidebar__role-icon {
  position: absolute;
  justify-self: center;
}
.sidebar__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
}
.sidebar__button--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  gap: 0;
  display: flex;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  justify-content: space-between;
  padding: inherit;
}
.sidebar__button--header:hover {
  background-color: #1D1D1C;
}
.sidebar__button--self {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  color: #8D8A84;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
}
.sidebar__button--self:hover {
  border-color: #b2aea6;
  background-color: #1D1D1C;
  color: #DBD6CC;
}

.menu {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: #181818;
  border: 2px solid #131313;
  z-index: 1;
}
.menu--sidebar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: auto;
}
.menu__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  justify-content: space-between;
  color: #b2aea6;
  font-size: 0.875rem;
}
.menu__button:hover {
  background-color: #572586;
  color: #DBD6CC;
}
.menu__button:hover .icon {
  color: #DBD6CC;
}
.menu__divider {
  height: 0px;
  margin: 0 0.5rem;
  border-bottom: 1px solid #1D1D1C;
}

.group-chat {
  display: grid;
  grid-template-columns: auto minmax(0, 0.75rem) minmax(0, 1fr);
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 1px solid #131313;
  position: relative;
  border-radius: 2px;
}
.group-chat > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.group-chat > :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.group-chat__avatar {
  border-radius: inherit;
  color: #8D8A84;
  background-color: #181818;
}
.group-chat__avatar .avatar {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: inherit;
}
.group-chat__body {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0;
  gap: 0;
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: inherit;
  color: #8D8A84;
}
.group-chat:hover .group-chat__avatar .avatar, .group-chat--selected .group-chat__avatar .avatar {
  border-color: #8D8A84;
  color: #DBD6CC;
  background-color: #1D1D1C;
}
.group-chat:hover .group-chat__body, .group-chat--selected .group-chat__body {
  color: #DBD6CC;
}
.group-chat__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
}
.group-chat:has(.notification) .avatar {
  box-shadow: 0px 0px 3px 1px #7425B5;
}

.user {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: auto minmax(0, 0.5rem) minmax(0, 1fr) minmax(0, 0.5rem) minmax(0, auto);
  display: grid;
  padding: 0.25rem;
  color: #8D8A84;
  align-items: center;
  position: relative;
  border-radius: 4px;
}
.user > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.user > :nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}
.user > :nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 6;
}
.user--private-chat {
  overflow: visible;
}
.user:hover, .user--selected {
  background-color: #1D1D1C;
}
.user__avatar .avatar {
  background-color: #131313;
  border-radius: 9999px;
  overflow: hidden;
}
.user__body {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
}
.user__icons {
  padding: 0;
  gap: 0.5rem;
  display: flex;
}
.user__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.8125rem;
  font-weight: bold;
}
.user__subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.75rem;
}

.user-container {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  background-color: #131313;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: space-between;
}
.user-container .avatar {
  background-color: #1D1D1C;
  border-radius: 9999px;
}
.user-container__user {
  display: grid;
  grid-template: auto auto/auto minmax(0, 1fr);
  align-content: center;
  justify-content: start;
  gap: 0 0.5rem;
}
.user-container__avatar {
  grid-row: 1/-1;
}
.user-container__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.875rem;
  font-weight: bold;
  color: #DBD6CC;
}
.user-container__status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  font-size: 0.75rem;
  color: #8D8A84;
}

.role {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  background-color: #403D39;
  border-radius: 4px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.role__color {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
}
.role__name {
  font-size: 0.75rem;
  color: #DBD6CC;
}

.frontpage {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  color: #DBD6CC;
  overflow: overlay;
  align-items: center;
}
.frontpage__body {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  height: -moz-fit-content;
  height: fit-content;
  flex-grow: 1;
}
.frontpage__header {
  padding: 0;
  gap: 0;
  display: flex;
  background-color: #131313;
  width: 100%;
  justify-content: center;
}
.frontpage__navigation {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
}
.frontpage__introduction {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.frontpage__link {
  font-size: 1rem;
}
.frontpage__logo {
  font-size: 1.25rem;
  font-weight: bold;
}
.frontpage__showcase {
  padding: 0;
  gap: 0;
  display: flex;
  flex-grow: 1;
  background-color: #181818;
  width: 100%;
  border: 0.25rem solid #131313;
  box-sizing: border-box;
}
.frontpage__sidebar {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #131313;
}
.frontpage__switch {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.875rem;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}
.frontpage__switch[data-state=inactive] {
  color: #8D8A84;
  background-color: #131313;
}
.frontpage__switch:hover {
  color: #DBD6CC;
  background-color: #181818;
}
.frontpage__switch[data-state=active] {
  color: #DBD6CC;
  background-color: #1D1D1C;
}
.frontpage__title {
  font-size: 2rem;
  font-weight: bold;
}
.frontpage__description {
  font-size: 1.75rem;
}
.frontpage__footer {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.frontpage__button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
  background-color: #131313;
}
.frontpage__button:hover {
  background-color: #1D1D1C;
}
.frontpage__button--footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.frontpage__button--small {
  font-size: 1rem;
  padding: 0.5rem;
}
.frontpage__button--large {
  font-size: 2rem;
  padding: 0.75rem;
}

.item-manager {
  padding: 0.25rem;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  overflow: auto;
}
.item-manager__item {
  padding: 0.5rem;
  gap: 0.75rem;
  display: flex;
}
.item-manager__item--header {
  justify-content: space-between;
}
.item-manager__item:not(.item-manager__item:last-of-type) {
  border-bottom: 2px solid #1D1D1C;
}
.item-manager__item-body {
  display: grid;
  grid-template: auto/minmax(auto, 1fr) auto;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem 0.5rem;
  width: 100%;
}
.item-manager__item-body > :nth-child(2n-2) {
  flex-shrink: 1;
}
.item-manager__item-label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #b2aea6;
}
.item-manager__item-value {
  font-size: 0.8125rem;
  color: #DBD6CC;
}
.item-manager__item-actions {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-content: flex-start;
  flex-shrink: 1;
  grid-column: 1/-1;
}
.item-manager__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  font-weight: bold;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.item-manager__button--manage {
  background-color: #3B5777;
  color: #DBD6CC;
}
.item-manager__button--manage:hover {
  background-color: #344F67;
  color: #DBD6CC;
}
.item-manager__button--edit {
  background-color: #7425B5;
  color: #DBD6CC;
}
.item-manager__button--edit:hover {
  background-color: #572586;
  color: #DBD6CC;
}
.item-manager__button--delete {
  background-color: #B91717;
  color: #DBD6CC;
}
.item-manager__button--delete:hover {
  background-color: #941A1A;
  color: #DBD6CC;
}
.item-manager__button--add {
  background-color: #16632F;
  color: #DBD6CC;
}
.item-manager__button--add:hover {
  background-color: #154623;
  color: #DBD6CC;
}
.item-manager__item-avatar {
  height: -moz-fit-content;
  height: fit-content;
}
.item-manager__counter {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.8125rem;
  color: #DBD6CC;
  font-weight: bold;
}

.form {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.form__headliner {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.form__field-group {
  padding: 0;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}
.form__field {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.form__field:has(.form__response--error) .form__field-label {
  color: #B91717;
}
.form__labeled-element {
  padding: 0;
  gap: 0.75rem;
  display: flex;
  align-items: center;
}
.form__field-label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #b2aea6;
}
.form__text-input {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  border-radius: 2px;
  font-size: 0.8125rem;
  color: #DBD6CC;
  color-scheme: dark;
  background-color: #131313;
  border: 1px solid transparent;
  flex-grow: 1;
}
.form__text-input:focus {
  border: 1px dashed #8D8A84;
}
.form__reset {
  font-size: 0.8125rem;
  color: #b2aea6;
  cursor: pointer;
}
.form__reset:hover {
  text-decoration: underline;
}
.form__responses:empty {
  display: none;
}
.form__response {
  font-size: 0.8125rem;
  font-weight: bold;
}
.form__response--error {
  color: #B91717;
}
.form__response--success {
  color: #16632F;
}
.form__switch {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  background-color: #131313;
  border-radius: 4px;
}
.form__switch-tile {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: 4px;
  padding: 0.25rem;
}
.form__switch-tile input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__switch-tile input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__switch-tile--true {
  color: #8D8A84;
}
.form__switch-tile--true:hover {
  background-color: #135327;
  color: #DBD6CC;
}
.form__switch-tile--true:has(:checked) {
  background-color: #154623;
  color: #DBD6CC;
}
.form__switch-tile--false {
  color: #8D8A84;
}
.form__switch-tile--false:hover {
  background-color: #A61717;
  color: #DBD6CC;
}
.form__switch-tile--false:has(:checked) {
  background-color: #941A1A;
  color: #DBD6CC;
}
.form__switch-tile--neutral {
  color: #8D8A84;
}
.form__switch-tile--neutral:hover {
  background-color: #35506B;
  color: #DBD6CC;
}
.form__switch-tile--neutral:has(:checked) {
  background-color: #344F67;
  color: #DBD6CC;
}
.form__slider {
  display: flex;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.71, 1.15, 0.82, 1);
  position: relative;
  border-radius: 9999px;
  height: 1rem;
  width: 2.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__slider input {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  opacity: 0;
  cursor: pointer;
}
.form__slider:has(input:checked) {
  background-color: #16632F;
  border-color: #16632F;
}
.form__slider:has(input:checked) [data-role=marker] {
  left: 1.25rem;
}
.form__slider:not(:has(input:checked)) {
  background-color: #B91717;
  border-color: #B91717;
}
.form__slider:not(:has(input:checked)) [data-role=marker] {
  left: 0px;
}
.form__slider [data-role=marker] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: left 0.25s cubic-bezier(0.71, 1.15, 0.82, 1);
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
}
.form__slider [data-role=marker]::before {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  content: "null";
  color: transparent;
  background-color: #DBD6CC;
  border-radius: 9999px;
}
.form__select {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
}
.form__select[data-open] .form__select-option-list {
  visibility: visible;
}
.form__select[data-open] .form__select-option-list .form__select-option:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}
.form__select[data-open] .form__select-option-list .form__select-option:not(:first-child),
.form__select[data-open] .form__select-option-list .form__select-option:not(:last-child) {
  border-radius: 0 0 0 0;
}
.form__select[data-open] .form__select-option-list .form__select-option:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
.form__select-option-list {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  visibility: hidden;
  background-color: #131313;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: auto;
  z-index: 2;
}
.form__select-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.8125rem;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  color: #b2aea6;
  background-color: #131313;
}
.form__select-option input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__select-option input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__select-option:hover {
  background-color: #181818;
  color: #DBD6CC;
}
.form__select-option:has(:checked) {
  background-color: #181818;
  color: #DBD6CC;
}
.form__pill-multiselect {
  padding: 0.25rem;
  gap: 0.5rem;
  display: flex;
  background-color: #131313;
  flex-wrap: wrap;
  max-height: 4.25rem;
  overflow: auto;
  border-radius: 0.25rem;
}
.form__pill-multiselect-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.form__pill-multiselect-option input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__pill-multiselect-option input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__pill-multiselect-option:not(:has(:checked)) {
  color: #8D8A84;
  background-color: #1D1D1C;
}
.form__pill-multiselect-option:hover {
  color: #DBD6CC;
  background-color: #154623;
}
.form__pill-multiselect-option:has(:checked) {
  color: #DBD6CC;
  background-color: #16632F;
}
.form__checkbox-multiselect {
  padding: 0;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  max-height: 8.5rem;
  overflow: hidden;
}
.form__checkbox-multiselect [data-role=actions] {
  padding: 0;
  gap: 0.25rem;
  display: flex;
}
.form__checkbox-multiselect [data-role=options] {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  overflow: auto;
}
.form__checkbox-multiselect-action {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  background-color: #3B5777;
  color: #DBD6CC;
}
.form__checkbox-multiselect-action:hover {
  background-color: #344F67;
  color: #DBD6CC;
}
.form__checkbox-multiselect-option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  width: -moz-fit-content;
  width: fit-content;
}
.form__checkbox-multiselect-option input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.form__checkbox-multiselect-option input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.form__checkbox-multiselect-option [data-role=checkbox] {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: 2px;
}
.form__checkbox-multiselect-option:not(:has(:checked)) {
  color: #8D8A84;
}
.form__checkbox-multiselect-option:not(:has(:checked)) [data-role=checkbox] {
  background-color: #1D1D1C;
  color: #8D8A84;
}
.form__checkbox-multiselect-option:hover {
  color: #b2aea6;
}
.form__checkbox-multiselect-option:hover [data-role=checkbox] {
  background-color: #154623;
  color: #8D8A84;
}
.form__checkbox-multiselect-option:has(:checked) {
  color: #DBD6CC;
}
.form__checkbox-multiselect-option:has(:checked) [data-role=checkbox] {
  background-color: #16632F;
  color: #DBD6CC;
}
.form__sorter {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  max-height: 8.5rem;
  overflow: auto;
  background-color: #131313;
}
.form__sorter-element {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  background-color: #181818;
  color: #DBD6CC;
}
.form__sorter [data-role=control] {
  color: #8D8A84;
}
.form__sorter [data-role=control]:hover {
  color: #DBD6CC;
}

.image-input {
  display: grid;
  grid-template: 1fr auto/auto 1fr;
  gap: 0 0.5rem;
  align-items: center;
}
.image-input__avatar {
  grid-row: 1/-1;
  padding: 0.25rem;
  border: 1px solid #b2aea6;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.image-input__filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  overflow: hidden;
  font-size: 0.875rem;
  color: #b2aea6;
}
.image-input__upload {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  color: #DBD6CC;
  background-color: #7425B5;
  width: -moz-fit-content;
  width: fit-content;
}
.image-input__upload input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.image-input__upload input::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.image-input__upload:hover {
  background-color: #572586;
}

.overlay {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  max-height: calc(100vh - 1.5rem);
  max-width: calc(100vw - 1.5rem);
  width: 440px;
}
.overlay > :first-child {
  border-radius: 4px 4px 0 0;
}
.overlay > :last-child {
  border-radius: 0 0 4px 4px;
}
.overlay__close {
  color: #8D8A84;
}
.overlay__close:hover {
  color: #DBD6CC;
}
.overlay__header {
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  background-color: #131313;
  justify-content: space-between;
}
.overlay__body {
  padding: 0.75rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1D1D1C;
  overflow: auto;
}
.overlay__footer {
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  background-color: #181818;
  justify-content: space-between;
  align-items: center;
}
.overlay__title {
  font-size: 1rem;
  font-weight: bold;
  color: #DBD6CC;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.overlay__functional-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.8125rem;
  border-radius: 4px;
  font-weight: bold;
}
.overlay__functional-button--update {
  background-color: #7425B5;
  color: #DBD6CC;
}
.overlay__functional-button--update:hover {
  background-color: #572586;
  color: #DBD6CC;
}
.overlay__functional-button--delete {
  background-color: #B91717;
  color: #DBD6CC;
}
.overlay__functional-button--delete:hover {
  background-color: #941A1A;
  color: #DBD6CC;
}
.overlay__functional-button--create {
  background-color: #16632F;
  color: #DBD6CC;
}
.overlay__functional-button--create:hover {
  background-color: #154623;
  color: #DBD6CC;
}
.overlay__text-holder {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  border-radius: 2px;
  font-size: 0.9375rem;
  color: #DBD6CC;
  color-scheme: dark;
  background-color: #131313;
  border: 1px solid transparent;
  flex-grow: 1;
}
.overlay__text-holder:focus {
  border: 1px dashed #8D8A84;
}

.invite {
  padding: 0;
  gap: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131313;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.invite__avatar {
  border-radius: 9999px;
  overflow: hidden;
}
.invite__avatar .avatar {
  background-color: #131313;
}
.invite__body {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  align-items: center;
  border-radius: 4px;
}
.invite__divider {
  height: 1px;
  width: 100%;
  background-color: #1D1D1C;
}
.invite__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #DBD6CC;
}
.invite__subtitle {
  font-size: 0.875rem;
  font-weight: bold;
  color: #8D8A84;
}
.invite__members {
  padding: 0.25rem 0.75rem;
  gap: 0.75rem;
  display: flex;
  background-color: #1D1D1C;
  border-radius: 9999px;
  font-size: 0.8125rem;
  border: 1px solid #8D8A84;
}
.invite__button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.8125rem;
  border-radius: 4px;
  align-self: stretch;
  justify-content: center;
  margin: 0.5rem;
}
.invite__button--valid {
  background-color: #572586;
  color: #DBD6CC;
}
.invite__button--valid:hover {
  background-color: #7425B5;
}
.invite__button--expired {
  background-color: #941A1A;
  color: #DBD6CC;
}
.invite__button--expired:hover {
  background-color: #B91717;
}

.notification--hidden {
  display: none;
}
.notification--private-chat {
  height: 6px;
  width: 6px;
  overflow: hidden; /* prevent text from causing parent to overflow */
  color: transparent;
  border-radius: 9999px;
  background-color: #D6E019;
  box-shadow: 0px 0px 8px 1px rgba(214, 224, 25, 0.404);
}
.notification--dashboard, .notification--mention {
  position: absolute;
  bottom: -0.5rem;
  left: -0.25rem;
  border-radius: 2px;
  border: 2px solid #181818;
  overflow: hidden;
}
.notification--dashboard [data-role=counter], .notification--mention [data-role=counter] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B91717;
  color: #DBD6CC;
  font-size: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
  padding: 1px 1px;
  font-weight: bold;
}

.mention {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 1px 0.5rem;
  background-color: rgba(87, 37, 134, 0.25);
  color: #DBD6CC;
  border-left: 2px solid #7425B5;
  cursor: pointer;
}
.mention:hover {
  background-color: rgba(116, 37, 181, 0.35);
}

.emote-menu {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  height: 350px;
  overflow: hidden;
  border-radius: 0.5rem;
  display: grid;
  grid-template: auto 1fr auto/auto 1fr;
}
.emote-menu__header {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  background-color: #1D1D1C;
  align-items: center;
  z-index: 1;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.emote-menu__navigation {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  border-right: 2px solid #1D1D1C;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.emote-menu__body {
  padding: 0;
  gap: 0;
  display: flex;
  background-color: #131313;
  overflow: hidden;
  grid-column: 2/-1;
  grid-row: 2/3;
}
.emote-menu__footer {
  padding: 0.5rem;
  gap: 0.75rem;
  display: flex;
  background-color: #181818;
  border-top: 2px solid #1D1D1C;
  grid-column: 2/-1;
  grid-row: 3/-1;
}
.emote-menu__search {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  border-radius: 2px;
  font-size: 0.8125rem;
  color: #DBD6CC;
  color-scheme: dark;
  background-color: #131313;
  border: 1px solid transparent;
  flex-grow: 1;
}
.emote-menu__control {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem;
  color: #DBD6CC;
}
.emote-menu__control:hover {
  background-color: #131313;
}
.emote-menu__content {
  padding: 0.5rem;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}
.emote-menu__emote {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.emote-menu__emote:hover {
  background-color: #1D1D1C;
}
.emote-menu__close {
  color: #8D8A84;
}
.emote-menu__close:hover {
  color: #DBD6CC;
}
.emote-menu__list {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  align-content: flex-start;
  justify-items: center;
}
.emote-menu__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #b2aea6;
  margin: 0 0.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.emote-menu__category {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
}
.emote-menu__create {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.25rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.75rem;
  border-radius: 1px;
  background-color: #16632F;
  color: #DBD6CC;
  width: -moz-fit-content;
  width: fit-content;
}
.emote-menu__create:hover {
  background-color: #154623;
}

.profile {
  padding: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  background-color: #181818;
  border-radius: 0.5rem;
  overflow: hidden;
}
.profile--tooltip {
  width: 220px;
  margin: 0.25rem;
}
.profile--full {
  width: 440px;
}
.profile__content {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  border-radius: 0.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.profile__header {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.profile__actions {
  padding: 0;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
.profile__banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background-color: #131313;
}
.profile__body {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.profile__divider {
  height: 0px;
  width: 100%;
  border-bottom: 1px solid #1D1D1C;
}
.profile__avatar {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  background-color: #1D1D1C;
  border: 0.25rem solid #181818;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.profile--tooltip .profile__avatar:hover {
  cursor: pointer;
}
.profile--tooltip .profile__avatar:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  background-color: rgba(19, 19, 19, 0.25);
}
.profile__username {
  font-size: 1rem;
  font-weight: bold;
  color: #DBD6CC;
}
.profile__full-name {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #b2aea6;
}
.profile__label {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #DBD6CC;
}
.profile__value {
  font-size: 0.8125rem;
  color: #b2aea6;
}
.profile__functional-button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  display: flex;
  font-size: 0.8125rem;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.profile__functional-button button {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.profile__functional-button button::-webkit-file-upload-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.profile__functional-button--generic {
  background-color: #16632F;
  color: #DBD6CC;
}
.profile__functional-button--generic:hover {
  background-color: #154623;
  color: #DBD6CC;
}
.profile__functional-button--disabled {
  background-color: #16632F;
  color: #DBD6CC;
  cursor: default;
  opacity: 50%;
}
.profile__roles {
  padding: 0;
  gap: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.profile__role {
  padding: 0.25rem;
  gap: 0.25rem;
  display: flex;
  align-items: baseline;
}
.profile__role-color {
  border-radius: 9999px;
  height: 0.5rem;
  width: 0.5rem;
}
.profile__role-name {
  font-size: 0.8125rem;
  color: #DBD6CC;
}

.clr-picker {
  position: relative;
  padding: 0.5rem;
  background-color: #1D1D1C !important;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4) !important;
  border: 2px solid #131313;
}
.clr-picker .clr-gradient {
  position: relative;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4) !important;
  border: 2px solid #131313 !important;
  box-sizing: border-box;
}
.clr-picker .clr-color {
  padding: 0.25rem !important;
  border-radius: 2px !important;
  font-size: 0.8125rem !important;
  color: #DBD6CC !important;
  color-scheme: dark !important;
  background-color: #131313 !important;
  border: 1px solid transparent !important;
}
.clr-picker .clr-color:focus {
  border: 1px dashed #8D8A84 !important;
}

html {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: "Lato", monospace;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
  border: solid 0px #888;
  vertical-align: top;
}

input[type=submit] {
  height: 32px;
}

input:focus {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #DBD6CC;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #131313 !important;
  background: #131313 !important;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

fieldset {
  all: unset;
}

textarea {
  all: unset;
}/*# sourceMappingURL=header.css.map */