{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
{% endblock %}

{% block content %}
<div class="app">
	<!--

		PRIMARY SIDEBAR

	-->	
	<div class="app-section--sidebar primary">
		<div class="app-section--sidebar__element">
			<div class="app__header has-shadow">
				Friends
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					<li class="app-section--sidebar__label">Online</li>
					<li class="app-section--sidebar__modelbox">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__infobox">
								<li class="app-section--sidebar__name app-section--sidebar__name--small app-section--sidebar__name--bold online-main">
									User name User name User name
								</li>
								<li class="app-section--sidebar__status app-section--sidebar__status--small online-secondary">
									Online
								</li>
							</ul>
						</div>
					</li>
					<li class="app-section--sidebar__label">Offline</li>
					<li class="app-section--sidebar__modelbox">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__infobox">
								<li class="app-section--sidebar__name app-section--sidebar__name--small offline-main">
									User name User name User name
								</li>
								<li class="app-section--sidebar__status app-section--sidebar__status--small offline-secondary">
									Online
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--events">
			<div class="app__header has-shadow">
				Events
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					
				</div>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--roomlist">
			<div class="app__header has-shadow">
				Chatrooms
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--no-padding">
					{% for membership in user.memberships.all %}
					<a href="{% url 'room' membership.room.pk %}" class="app-section--sidebar__modelbox app-section--sidebar__modelbox--joined-room">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--medium has-shadow">
							<img src="{{ MEDIA_URL }}{{ membership.room.image.url }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<div class="app-section--sidebar__infobox">
								<div class="app-section--sidebar__name app-section--sidebar__name--medium">
									{{ membership.room.name }}
								</div>
							</div>
						</div>
					</a>
					{% endfor %}
					<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--create-room">
						<div class="wrapper--remaining-space">
							<div class="app-section--sidebar__infobox app-section--sidebar__infobox--centered has-shadow">
								<div class="app-section--sidebar__status app-section--sidebar__status--small">
									Rooms Joined
								</div>
								<div class="app-section--sidebar__status app-section--sidebar__status--medium" id="room-count">
									{{ user.memberships.count }}
								</div>
							</div>
						</div>
						<div class="app-section--sidebar__icon app-section--sidebar__icon--large has-shadow">
							<i class="material-symbols-outlined">
								list_alt_add
							</i>
						</div>
					</div>
				</ul>
			</div>		
		</div>
	</div>
	<!--

		MAIN

	-->	
	<div class="app-section--main">
		{% block main %}{% endblock %}
	</div>
	<!--

		SECONDARY SIDEBAR

	-->	
	<div class="app-section--sidebar secondary">
		<div class="app-section--sidebar__element app-section--sidebar__element--room-card">
			<div class="app__header">
				Room
			</div>
			<div class="app-section--sidebar__subheader has-shadow">
				<input type="text" class="app-section--sidebar__search" placeholder="Search">
				<span class="app-section--sidebar__modelbox right">
					<div class="app-section--sidebar__icon app-section--sidebar__icon--small" id="notifications">
						<i class="material-symbols-outlined">
							notifications
						</i>
					</div>
					<div class="app-section--sidebar__icon app-section--sidebar__icon--small" id="invite">
						<i class="material-symbols-outlined">
							group_add
						</i>
					</div>
					<div class="dropdown-container closed">
						<div class="app-section--sidebar__icon app-section--sidebar__icon--small" id="room-settings">
							<i class="material-symbols-outlined dropdown-trigger">
								settings
							</i>
						</div>
						<div class="app-section--sidebar__menu dropdown-content has-shadow">
							<div class="app-section--sidebar__menu-item" action="edit-room">
								<span>Edit Room</span>
								<span class="app-section--sidebar__icon app-section--sidebar__icon--small">
									<i class="material-symbols-outlined">
										demography
									</i>
								</span>
							</div>
							<div class="app-section--sidebar__menu-item"action="manage-roles">
								<span>Manage Roles</span>	
								<span class="app-section--sidebar__icon app-section--sidebar__icon--small">
									<i class="material-symbols-outlined">
										manage_accounts
									</i>
								</span>
							</div>
							<div class="app-section--sidebar__menu-item">
								<span>Create Channel</span>	
								<span class="app-section--sidebar__icon app-section--sidebar__icon--small">
									<i class="material-symbols-outlined">
										playlist_add
									</i>
								</span>
							</div>
							<div class="app-section--sidebar__menu-item">
								<span>Create Category</span>	
								<span class="app-section--sidebar__icon app-section--sidebar__icon--small">
									<i class="material-symbols-outlined">
										create_new_folder
									</i>
								</span>
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					<li class="app-section--sidebar__modelbox">
						<a href="{% url 'room' room.pk %}" class="app-section--sidebar__avatar app-section--sidebar__avatar--large has-shadow">
							<img src="{{ MEDIA_URL }}{{ room.image.url }}" alt="">
						</a>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__infobox">
								<div class="app-section--sidebar__name app-section--sidebar__name--large online-main">
									{{ room.name }}
								</div>
								<div class="wrapper--remaining-space">
									<div class="app-section--sidebar__description app-section--sidebar__description--medium online-secondary">
										{{ room.description }}
									</div>
								</div>
							</ul>
						</div>
					</li>
					<li class="app-section--sidebar__modelbox">
						{% if user|user_is_member:room %}
						<a href=".">
							<span class="app-section--sidebar__button app-section--sidebar__button--leave">
							Leave
							</span>
						</a>
						{% else %}
						<a href=".">
							<span class="app-section--sidebar__button app-section--sidebar__button--join">
								Join
							</span>
						</a>
						{% endif %}
					</li>
					<li class="app-section--sidebar__label"></li>
					{% for object in room.channels_by_category %}
						{% if object|classname == 'ChannelCategory' %}
							{% with object as category %}
								<ul class="app-section--sidebar__channel-group dropdown-container open">
									<li class="app-section--sidebar__modelbox">
										<span class="app-section--sidebar__category dropdown-trigger" pk="{{ category.pk }}">
											{{ category.name }}
										</span>
										<span class="app-section--sidebar__icon app-section--sidebar__icon--small right add">
											<i class="material-symbols-outlined">
												add
											</i>
										</span>
									</li>
									<li class="app-section--sidebar__channel-dropdown dropdown-content">
										{% for loop_channel in category.channels_by_order %}
											{% if loop_channel.kind == 'text' %}
												{% if loop_channel == channel %}
													{% include "./channels/text-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order modifier="app-section--sidebar__channel--selected" %}
												{% else %}
													{% include "./channels/text-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order modifier="" %}
												{% endif %}
											{% elif loop_channel.kind == 'voice' %}
												{% include "./channels/voice-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order %}
											{% endif %}
										{% endfor %}
									</li>
								</ul>
							{% endwith %}
						{% elif object|classname == 'Channel' %}
							{% with object as loop_channel %}
								{% if loop_channel.kind == 'text' %}
									{% if loop_channel == channel %}
										{% include "./channels/text-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order modifier="app-section--sidebar__channel--selected" %}
									{% else %}
										{% include "./channels/text-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order modifier="" %}
									{% endif %}
								{% elif loop_channel.kind == 'voice' %}
									{% include "./channels/voice-channel.html" with pk=loop_channel.pk name=loop_channel.name order=loop_channel.order %}
								{% endif %}
							{% endwith %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__element">
			<div class="app__header">
				Members
			</div>
			<div class="app-section--sidebar__subheader has-shadow">
				<input type="text" class="app-section--sidebar__search" placeholder="Filter by name">
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					{% with members_by_status=room.members_by_status %}
					{% for status, members in members_by_status.items %}
					<li class="app-section--sidebar__label">{{ status }}</li>
					{% for member in members %}
					<li class="app-section--sidebar__modelbox">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}{{ member.user.profile.image.url }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<div class="app-section--sidebar__infobox">
								<div class="app-section--sidebar__name app-section--sidebar__name--small {{ status|lower }}-main">
									{{ member }}
								</div>
								<div class="app-section--sidebar__status app-section--sidebar__status--small {{ status|lower }}-secondary">
									{{ status }}
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
					{% endfor %}
					{% endwith %}
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__footer">
			<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--request-user">
				<div class="app-section--sidebar__avatar app-section--sidebar__avatar--medium has-shadow">
					<img src="{{ MEDIA_URL }}{{ user.profile.image.url }}" alt="">
				</div>
				<div class="wrapper--remaining-space">
					<div class="app-section--sidebar__infobox">
						<div class="app-section--sidebar__modelbox online-main">
							<div class="app-section--sidebar__name app-section--sidebar__name--medium">
								{{ user.username }}
							</div>
							<div class="app-section--sidebar__icon app-section--sidebar__icon--small">
								<i class="material-symbols-outlined">
									key_visualizer
								</i>
							</div>
						</div>
						<div class="app-section--sidebar__status app-section--sidebar__status--small online-secondary">
							Online
						</div>
					</div>
				</div>
				<a href="{% url 'dashboard' %}" class="app-section--sidebar__dashboard-button right">
					<div class="app-section--sidebar__icon app-section--sidebar__icon--large has-shadow">
						<i class="material-symbols-outlined">
							home
						</i>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
window.addEventListener("load", function() {
	const app = document.querySelector('.app');
	const channelCategories = app.querySelectorAll('.app-section--sidebar__category');
	const createRoomModelbox = app.querySelector('.app-section--sidebar__modelbox--create-room');
	const createRoomButton = createRoomModelbox.querySelector('.app-section--sidebar__icon');
	const channelSettingIcons = app.querySelectorAll('[action="edit-channel"]');
	const roomSettingIcon = app.querySelector('[action="edit-room"]');
	const manageRolesIcon = app.querySelector('[action="manage-roles"]');

	/*
	
	How the forms are retrieved:
		Client side functions:
			- getModelData(app, model, pk, **keys): 
			  Does an async call to the server core app's RequestData 
			  view using fetch, which, if given 
			  keys, return a json response of the keys and their 
			  values of the given model instance related to the PK.

			- addOverlay(form path / location, **kwargs):
			  Creates a new overlay DOM element whose innerHTML
			  will be a form; the form is retrieved through an async
			  call using getForm and will wait until it resolves;
			  once it resolves and returns a the form as response, 
			  the form will be added as innerHTML to the overlay

			- getForm(form path / location, **kwargs):
			  Does an async call to the server using fetch to the
			  app level get_html_form that will return a HttpResponse
			  with the kwargs as context
		
		Server side views:
			- RequestData(request): 
			  The view that getModelData fetches data from; this view
			  will return a dictionary as JSON response containing the
			  requested model instance's data that was requested by
			  the fetch call, with the keys being the ones from the
			  getModelData **keys argument, contained within the GET
			  request
			  * The PK will always be inluded in the returned data

			- get_html_form(request, form_name, *args, **kwargs):
			  A (currently) app level view that takes in the parameter
			  `form name`; it reads an app level form and returns it as
			  a string, turns it into a template through Template(form),
			  creates a context using the GET request through
			  RequestContext(request, request.GET) and then return a
			  HttpResponse through rendering the form with the context,
			  as HttpResponse(form.render(context))
			
		Prerequisites: 
		- An event handler is bound as a trigger to an element
		- There is a app-level Django URL pattern leading to the  
		  app level get_html_form view (or project level one, 
		  however, such a view has not been set up by me)
	
	- Updating:
		1) The event handler is triggered
		2) The PK is retrieved from the DOM
		3) The requested keys' instance data is retrieved 
		   through an async call using getModelData
		4) The form is retrieved through an async call
		   using getForm, passing the app level get_html_form
		   and data as arguments; the get_html_form will process
		   it so that it returns the form with context
	
	- Creating:
		1) The event handler is triggered
		2) [Optional] The related instance's PK is retrieved from the DOM
		3) The form is retrieved through an async call
		   using getForm, passing the app level get_html_form url
		   and data as arguments; the get_html_form will process
		   it so that it returns the form HttpResponse with context
	
	Form validation / logic will be handled by the forms of forms.py
	
	*/

	/*
	Create Channel
	*/
	//button.addEventListener('click', () => addOverlay());

	channelCategories?.forEach((category) => {
		let addChannelIcon = category.parentNode.querySelector('.app-section--sidebar__icon');
		let categoryPk = category.getAttribute('pk');
		addChannelIcon.addEventListener('click', (event) => {
			let actionLink = "{% url 'create-channel' room='000' %}".replace('000', roomPk);
			addOverlay(
				window.location.origin + "{% url 'rooms-get_html_form' form_name='channel-creation-form.html' %}",
				{'actionLink': actionLink, 'category': categoryPk}
			);
		});
	});

	createRoomButton?.addEventListener('click', (event) => {
		let something = addOverlay(
			window.location.origin + "{% url 'rooms-get_html_form' form_name='room-creation-form.html' %}"
		);
	});

	channelSettingIcons?.forEach((icon) => {
		icon.addEventListener('click', (event) => {
			event.preventDefault();
			let channel = icon.closest('.app-section--sidebar__channel');
			getModelData('rooms', 'Channel', channel.getAttribute('pk'), ['name', 'kind', 'order', 'description']).then(data => {
				addOverlay(
					window.location.origin + "{% url 'rooms-get_html_form' form_name='channel-update-form.html' %}",			
					data,
				);
			}).catch(error => {
				console.error(error);
			});
		});
	});

	roomSettingIcon?.addEventListener('click', (event) => {
		event.preventDefault();
		getModelData('rooms', 'Channel', roomPk, ['name', 'description', 'pk']).then((data) => {
			addOverlay(
				window.location.origin + "{% url 'rooms-get_html_form' form_name='room-update-form.html' %}",
				data
			);
		}).catch(error => {
			console.error(error);
		});
	});

	roomSettingIcon?.addEventListener('click', (event) => {
		getModelData('rooms', 'Room', roomPk, ['name', 'description', 'pk']).then((data) => {
			addOverlay(
				window.location.origin + "{% url 'rooms-get_html_form' form_name='room-update-form.html' %}",
				data
			);
		}).catch(error => {
			console.error(error);
		});
	});

	manageRolesIcon?.addEventListener('click', (event) => addOverlay(
		window.location.origin + "{% url 'rooms-get_html_form' form_name='manage-roles.html' %}",
		
	));

	function addOverlay(fullFormPath, kwargs) {
		let overlay = document.createElement('div');
		overlay.setAttribute('class', "app-section--overlay");
		getForm(fullFormPath, kwargs).then((response) => {
			overlay.innerHTML = response;
			app.appendChild(overlay);
			let close = overlay.querySelector('.app-section--overlay__close');
			close.addEventListener('click', () => removeOverlay(overlay));
			
			// If there are checkboxes in the form
			let checkboxNodes = overlay.querySelectorAll('.app-section--sidebar__modelbox--checkbox');
			checkboxNodes?.forEach((checkbox) => {
				checkbox.addEventListener('click', () => selectCheckbox(checkbox, checkboxNodes));
			});
		});
	};
	
	function removeOverlay(overlay) {
		app.removeChild(overlay);
	};

	function selectCheckbox(checkbox, checkboxNodes) {
		checkboxNodes.forEach((element) => {
			if (element != checkbox) {
				element.classList.remove('selected');
				element.querySelector('.checkbox-icon').innerText = 'radio_button_unchecked';
			};
		});

		let checkboxIcon = checkbox.querySelector('.checkbox-icon');
		let checkboxKind = checkbox.getAttribute('kind');
		checkbox.classList.add('selected');
		checkboxIcon.innerHTML = 'radio_button_checked';
		app.querySelector('input[name="kind"]').setAttribute('value', checkboxKind);
	};
});
</script>
{% endblock %}