{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
{% endblock %}

{% block content %}
<div class="app">
	<div class="app__sidebar app__sidebar--primary">
		{% block left-sidebar %}{% endblock %}
	</div>
	<div class="app__main">
		{% block app__main %}{% endblock %}
	</div>
	<div class="app__sidebar app__sidebar--secondary">
		<div class="container container--fill">
			<div class="container__header">
				Friends
			</div>
			<div class="container__subheader has-shadow">
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						search
					</i>
				</span>
				<span class="wrapper--remaining-space">
					<input type="text" class="container__search">
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						patient_list
					</i>
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						person_add
					</i>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="container__content">
					<ul class="user-group" id="incoming-friendships">
                        <li class="user-group__index">
                            Incoming Friend Requests
                        </li>
                        {% spaceless %}
                        <ul class="user-group__content">
                            {% for friendship in user.received_friendships.pending %}
                                {% with user|get_friendship_friend:friendship as object %}
                                    {% include "./elements/friend.html" %}
                                {% endwith %}
                            {% endfor %}                          
                        </ul>
                        {% endspaceless %}
					</ul>
					<ul class="user-group">
                        <li class="user-group__index">
                            Friends
                        </li>
                        {% spaceless %}
                        <ul class="user-group__content" data-category="accepted">
                            {% for friendship in user.friendships.accepted %}
                                {% with user|get_friendship_friend:friendship as object %}
                                    {% include "./elements/friend.html" %}
                                {% endwith %}
                            {% endfor %}
                        </ul>
                        {% endspaceless %}
					</ul>
                    <ul class="user-group" data-friendship="outgoing">
                        <li class="user-group__index">
							Outgoing Friend Requests
						</li>
                        {% spaceless %}
                        <ul class="user-group__content">
                            {% for friendship in user.sent_friendships.pending %}
                                {% with user|get_friendship_friend:friendship as object %}
                                    {% include "./elements/friend.html" %}
                                {% endwith %}
                            {% endfor %}                          
                        </ul>
                        {% endspaceless %}
					</ul>
				</ul>
			</div>
		</div>
		<div class="container container--fill">
			<div class="container__header has-shadow">
				Events
			</div>
			<div class="wrapper--remaining-space">
				<div class="container__content">

				</div>
			</div>
		</div>
		<div class="container container--fill">
			<div class="container__header">
				Groups			
			</div>
			<div class="container__subheader has-shadow">
				<span class="icon icon--small icon__hoverable">
					<i class="material-symbols-outlined">
						search
					</i>
				</span>
				<span class="wrapper--remaining-space">
					<input type="text" class="container__search">
				</span>
				<span class="icon icon--small icon__hoverable overlay__trigger" data-view-name="create-room">
					<i class="material-symbols-outlined">
						list_alt_add
					</i>
				</span>
				<span class="icon icon--small icon__hoverable">
					<i class="material-symbols-outlined">
						travel_explore
					</i>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="container__content">
					{% for membership in user.memberships.all %}
					{% with membership.room as object %}
						{% include "./elements/membership.html" %}
					{% endwith %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}