{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
{% endblock %}

{% block content %}
<div class="app">
	<div class="app__sidebar app__sidebar--secondary">



		<div class="container container--fill">
			<div class="container__header">
				Friends
			</div>
			<div class="container__subheader has-shadow">
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						search
					</i>
				</span>
				<span class="wrapper--remaining-space">
					<input type="text" class="container__search">
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						patient_list
					</i>
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						person_add
					</i>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="container__content">
					{% for member in room.members.all %}
					<li class="modelbox modelbox--hoverable">
						<span class="avatar avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}{{ member.image.url }}" alt="">
						</span>
						<span class="wrapper--remaining-space">
							<span class="modelbox__info">
								<div class="primary-text primary-text--small ellipsis online-color--primary">
									{{ member.user.username }}
								</div>
								<div class="secondary-text secondary-text--small ellipsis online-color--secondary">
									{{ member.user.profile.status }}
								</div>
							</span>
						</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>



		<div class="container container--fill">
			<div class="container__header has-shadow">
				Events
			</div>
			<div class="wrapper--remaining-space">
				<div class="container__content">
					<div class="">

					</div>
				</div>
			</div>
		</div>
		<div class="container container--fill">
			<div class="container__header">
					Groups			
			</div>
			<div class="container__subheader has-shadow">
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						search
					</i>
				</span>
				<span class="wrapper--remaining-space">
					<input type="text" class="container__search">
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						list_alt_add
					</i>
				</span>
				<span class="icon icon--small">
					<i class="material-symbols-outlined">
						travel_explore
					</i>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="container__content">
					{% for membership in user.memberships.all %}
					{% with membership.room as joined_room  %}
					<li class="modelbox modelbox--hoverable">
						<span class="avatar avatar--medium has-shadow">
							<img src="{{ MEDIA_URL }}{{ joined_room.image.url }}" alt="">
						</span>
						<span class="wrapper--remaining-space">
							<span class="modelbox__info">
								<div class="primary-text primary-text--medium ellipsis online-color--primary">
									{{ joined_room }}
								</div>
								<div class="secondary-text secondary-text--medium ellipsis online-color--secondary">
									{{ joined_room.members.all.count }} Members
								</div>
							</span>
						</span>
					</li>
					{% endwith %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>





	<div class="app__main">
		{% block app__main %}{% endblock %}
	</div>





	<div class="app__sidebar app__sidebar--primary">
		{% block app__sidebar--primary %}{% endblock %}
	</div>
</div>

{% endblock %}