{% extends "rooms/app.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/channel.css' %}">
{% endblock %}


{% block app__main %}

{% include "./elements/reactions.html" %}

<div class="container container--fill">
	<div class="container__header">
		{{ channel.name }}
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small left">
			<i class="material-symbols-outlined">
				first_page
			</i>
		</span>
		<span class="left right">
			{{ channel.description }}
		</span>
		<span class="icon icon--small right">
			<i class="material-symbols-outlined">
				last_page
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content" id="app__messages">
			{% for backlog in backlogs %}
				{% if backlog|classname == 'Message' %}
					{% with backlog as message %}
						{% include "./elements/message.html" with pk=message.pk image=message.user.profile.image.url username=message.member.display_name timestamp=message.display_date content=message.content editable=message.user.pk|eq:user.pk %}
					{% endwith %}
				{% elif backlog|classname == 'Log' %}
					{% with backlog as log %}
						<li class="log">
							<span class="primary-text primary-text--small offline-color--primary">
								{{ log.trigger_user }}
							</span>
							<span class="secondary-text secondary-text--small offline-color--secondary">
								{{ log.action.display_name }}
							</span>
							{% if log.target_user %}
							<span class="primary-text primary-text--small offline-color--primary">
								{{ log.target_user }}
							</span>
							{% endif %}
							<span class="secondary-text secondary-text--small offline-color--secondary">
								{{ log.display_date }}
							</span>
						</li>
					{% endwith %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="chatbar">
		<span class="chatbar__button">
			<div class="icon icon--small">
				<i class="material-symbols-outlined">
					attach_file
				</i>
			</div>
		</span>
		<span class="wrapper--remaining-space">
			<textarea class="chatbar__input secondary-text secondary-text--large"></textarea>
		</span>
		<span class="chatbar__button">
			<div class="icon icon--small">
				<i class="material-symbols-outlined">
					sentiment_satisfied
				</i>
			</div>
		</span>
	</div>
</div>
{% endblock %}

{% block app__sidebar--primary %}
	{% include "./elements/app__sidebar--primary.html" %}
{% endblock %}


{% block scripts %}
{{ block.super }}
<script>
window.addEventListener("load", function() {
	Object.assign(chatSocketSendHandlers, {
		'send_message': function submitMessage(event) {
			if (!(event.key == "Enter") || (event.key === "Enter" && event.shiftKey)) {
				return;
			};
			event.preventDefault();
			chatSocket.send(JSON.stringify({
				'action': 'send_message',
				'content': chatbarInput.value.trim()
			}));
			chatbarInput.value = '';
		},
		'delete_message': function deleteMessageDB(event) {
			let message = event.target.closest('.message');
			chatSocket.send(JSON.stringify({
				'action': 'delete_message',
				'pk': message.dataset.pk
			}));
		},
		'react_message': function addOrRemoveReactionDB(event) {
			let reaction = event.target.closest('.reactions__reaction, .message__reaction');
			let message = event.target.closest('.message');
			chatSocket.send(JSON.stringify({
				'action': 'react_message',
				'reactionPk': reaction.dataset.pk,
				'messagePk': message.dataset.pk
			}));
		},
		'edit_message': function editMessageDB(event) {
			if (!(event.key == "Enter") || (event.key === "Enter" && event.shiftKey)) {
				return;
			};
			event.preventDefault();
			let editInput = event.target;
			let message = event.target.closest('.message');
			let contentContainer = editInput.closest('.message__content');
			contentContainer.classList.remove('message__content--editing');
			chatSocket.send(JSON.stringify({
				'action': 'edit_message',
				'messagePk': message.dataset.pk,
				'content': editInput.value.trim()
			}));
			editInput.remove()
		},
	});

	/* Extend chatSocketReceiveHandlers with channel-wide handlers */
	Object.assign(chatSocketReceiveHandlers, {
		'send_message': function receiveMessage(data) {
			let message = new DOMParser().parseFromString(data.html, "text/html").querySelector('.message');
			appMessages.appendChild(message);
			appMessages.scrollTo(0, appMessages.scrollHeight);
		},
		'delete_message': function deleteMessageDOM(data) {
			let pk = data.pk;
			let message = document.querySelector(`.message[data-pk="${pk}"]`);
			message.remove();
		},
		'react_message': function addOrRemoveReactionDB(data) {
			let {actionType, reactionPk, messagePk} = data;
			console.log(actionType, reactionPk, messagePk)
			let message = document.querySelector(`.message[data-pk="${messagePk}"]`);
			let messageReactions = message.querySelector('.message__reactions');
			if (actionType == ['addReaction']) {
				let reaction = messageReactions.querySelector(`.message__reaction[data-pk="${reactionPk}"]`);
				reaction.classList.add('message__reaction--selected');
				let counter = reaction.querySelector('.message__counter');
				counter.innerText = parseInt(counter.innerText) + 1;
			}
			else if (actionType == ['removeReaction']) {
				let reaction = messageReactions.querySelector(`.message__reaction[data-pk="${reactionPk}"]`);
				reaction.classList.remove('message__reaction--selected');
				let counter = reaction.querySelector('.message__counter');
				counter.innerText = parseInt(counter.innerText) - 1;
			}
			else if (actionType == ['createReaction']) {
				let reaction = document.createElement('span');
				reaction.classList.add('message__reaction');
				reaction.classList.add('message__reaction--selected');
				reaction.classList.add('has-shadow');
				reaction.dataset.pk = reactionPk;
				reaction.dataset.command = "react";
				reaction.innerHTML = `
				<img src="{{ MEDIA_URL }}${data.url}" alt="">
				<span class="message__counter">1</span>
				`;
				messageReactions.appendChild(reaction);
			}
			else if (actionType == ['deleteReaction']) {
				let reaction = messageReactions.querySelector(`.message__reaction[data-pk="${reactionPk}"]`);
				reaction.remove();
			}
		},
		'edit_message': function editMessageDOM(data) {
			let {messagePk, content} = data;
			let message = document.querySelector(`.message[data-pk="${messagePk}"]`);
			let contentContainer = message.querySelector('.message__content');
			contentContainer.innerText = content;
		},
		'response': () => { console.log('response exists') }
	});

	const chatbarInput = document.querySelector('.chatbar__input');
	const appMessages = document.querySelector('#app__messages');
	appMessages.scrollTo(0, appMessages.scrollHeight);



	/* Message */ chatbarInput.addEventListener('keypress', chatSocketSendHandlers['send_message'])




});
</script>
{% endblock %}