{% extends "core/app.html" %}
{% load static %}


{% block main %}
<div class="container container--fill">
	<div class="container__header">
		{{ channel.name }}
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small left">
			<i class="material-symbols-outlined">
				first_page
			</i>
		</span>
		<span class="left right">
			{{ channel.description }}
		</span>
		<span class="icon icon--small right">
			<i class="material-symbols-outlined">
				last_page
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content" id="app-messages">
			{% for backlog in backlogs %}
                {% ifchanged backlog.date_added|date:'D' %}
                <li class="backlog">
                    <div class="backlog__divider">
                        <span></span>
                        <span class="backlog__timestamp">{{ backlog.date_added|date:'d M Y' }}</span>
                        <span></span>
                    </div>
                </li>
                {% endifchanged %}
				{% if backlog|classname == 'Message' %}
                    {% with message=backlog %}
                        {% include "./elements/message.html" %}
                    {% endwith %}
                {% elif backlog|classname == 'Log' %}
                    {% with log=backlog %}
                        {% include "./elements/log.html" %}
                    {% endwith %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="chatbar">
        <div class="chatbar__body has-shadow">
            <span class="chatbar__button">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        attach_file
                    </i>
                </div>
            </span>
            <span class="wrapper--remaining-space">
                <textarea class="chatbar__input secondary-text secondary-text--large" id="chatbar-input">

                </textarea>
            </span>
            <span class="chatbar__button tooltip__trigger" data-positioning='{"bottom": "-100%", "right": "0px"}'>
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        sentiment_satisfied
                    </i>
                </div>
            </span>
        </div>
    </div>
		
</div>
{% endblock %}

{% block left-sidebar %}
	{% include "./elements/room-sidebar.html" %}
{% endblock %}


{% block scripts %}
<script>
    const chatbarInput = document.getElementById('chatbar-input');
    chatbarInput.addEventListener('keyup', (event) => {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault();
            commandHandlers['send-message'](event);

        };
    });
</script>
{% endblock %}