{% extends "rooms/app.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/channel.css' %}">
{% endblock %}


{% block app__main %}
<div class="container container--fill">
	<div class="container__header">
		{{ channel.name }}
	</div>
	<div class="container__subheader has-shadow">
		<span class="icon icon--small left">
			<i class="material-symbols-outlined">
				first_page
			</i>
		</span>
		<span class="left right">
			{{ channel.description }}
		</span>
		<span class="icon icon--small right">
			<i class="material-symbols-outlined">
				last_page
			</i>
		</span>
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content" id="app-messages">
			{% for object in backlogs %}
                {% ifchanged object.date_added|date:'D' %}
                <li class="backlog">
                    <div class="backlog__divider">
                        <span></span>
                        <span class="backlog__timestamp">{{ object.date_added|date:'d M Y' }}</span>
                        <span></span>
                    </div>
                </li>
                {% endifchanged %}
				{% if object|classname == 'Message' %}
					{% include "./elements/message.html" %}
				{% elif object|classname == 'Log' %}
                    {% include "./elements/log.html" %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="chatbar">
        <div class="chatbar__body has-shadow">
            <span class="chatbar__button">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        attach_file
                    </i>
                </div>
            </span>
            <span class="wrapper--remaining-space">
                <textarea class="chatbar__input secondary-text secondary-text--large"></textarea>
            </span>
            <span class="chatbar__button tooltip__trigger" data-target="#emotes" data-positioning='{"bottom": "-100%", "right": "0px"}' data-kind="chatbar">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        sentiment_satisfied
                    </i>
                </div>
            </span>
        </div>
    </div>
		
</div>
{% endblock %}

{% block left-sidebar %}
	{% include "./elements/app__sidebar--primary.html" %}
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'js/channel.js' %}"></script>
{% endblock %}