{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rooms/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="app">
	<!--

		PRIMARY SIDEBAR

	-->	
	<div class="app-section--sidebar primary">
		<div class="app-section--sidebar__element">
			<div class="app__header has-shadow">
				Friends
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					<li class="app-section--sidebar__label">Online</li>
					<li class="app-section--sidebar__modelbox">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__infobox">
								<li class="app-section--sidebar__name app-section--sidebar__name--small app-section--sidebar__name--bold online-main">
									User name User name User name
								</li>
								<li class="app-section--sidebar__status app-section--sidebar__status--small online-secondary">
									Online
								</li>
							</ul>
						</div>
					</li>
					<li class="app-section--sidebar__label">Offline</li>
					<li class="app-section--sidebar__modelbox">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--small has-shadow">
							<img src="{{ MEDIA_URL }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__infobox">
								<li class="app-section--sidebar__name app-section--sidebar__name--small offline-main">
									User name User name User name
								</li>
								<li class="app-section--sidebar__status app-section--sidebar__status--small offline-secondary">
									Online
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--events">
			<div class="app__header has-shadow">
				Events
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					
				</div>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--roomlist">
			<div class="app__header has-shadow">
				Chatrooms
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--no-padding">
					{% for membership in user.memberships.all %}
					<a href="{% url 'room' membership.room.pk %}" class="app-section--sidebar__modelbox app-section--sidebar__modelbox--joined-room">
						<div class="app-section--sidebar__avatar app-section--sidebar__avatar--medium has-shadow">
							<img src="{{ MEDIA_URL }}{{ membership.room.image.url }}" alt="">
						</div>
						<div class="wrapper--remaining-space">
							<div class="app-section--sidebar__infobox">
								<div class="app-section--sidebar__name app-section--sidebar__name--medium">
									{{ membership.room.name }}
								</div>
							</div>
						</div>
					</a>
					{% endfor %}
					<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--create-room">
						<div class="wrapper--remaining-space">
							<div class="app-section--sidebar__infobox app-section--sidebar__infobox--centered has-shadow">
								<div class="app-section--sidebar__status app-section--sidebar__status--small">
									Rooms Joined
								</div>
								<div class="app-section--sidebar__status app-section--sidebar__status--medium" id="room-count">
									{{ user.memberships.count }}
								</div>
							</div>
						</div>
						<div class="app-section--sidebar__icon app-section--sidebar__icon--large has-shadow">
							<i class="material-symbols-outlined">
								list_alt_add
							</i>
						</div>
					</div>
				</ul>
			</div>		
		</div>
	</div>
	<!--

		MAIN

	-->	
	<div class="app-section--main">
		<div class="app-section--main">
			<div class="app__header">
				<div class="app-section--main__title">
					Dashboard
				</div>
			</div>
			<div class="app-section--main__subheader">
				News, Announcements, Activity...
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--main__dashboard">
					
				</div>
			</div>
		</div>
	</div>
	<!--

		SECONDARY SIDEBAR

	-->	
	<div class="app-section--sidebar secondary">
		<div class="app-section--sidebar__element app-section--sidebar__element--room-card">
			<div class="app__header">
				News
			</div>
			<div class="app-section--sidebar__subheader has-shadow">
				<input type="text" class="app-section--sidebar__search" placeholder="Search">
				<span class="app-section--sidebar__modelbox right">
					<div class="app-section--sidebar__icon app-section--sidebar__icon--small">
						<i class="material-symbols-outlined">
							settings
						</i>
					</div>
				</span>
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__footer">
			<div class="app-section--sidebar__modelbox app-section--sidebar__modelbox--request-user">
				<div class="app-section--sidebar__avatar app-section--sidebar__avatar--medium has-shadow">
					<img src="{{ MEDIA_URL }}{{ user.profile.image.url }}" alt="">
				</div>
				<div class="wrapper--remaining-space">
					<div class="app-section--sidebar__infobox">
						<div class="app-section--sidebar__modelbox online-main">
							<div class="app-section--sidebar__name app-section--sidebar__name--medium">
								{{ user.username }}
							</div>
							<div class="app-section--sidebar__icon app-section--sidebar__icon--small">
								<i class="material-symbols-outlined">
									key_visualizer
								</i>
							</div>
						</div>
						<div class="app-section--sidebar__status app-section--sidebar__status--small online-secondary">
							Online
						</div>
					</div>
				</div>
				
				<a href="{% url 'dashboard' %}" class="app-section--sidebar__dashboard-button right">
					<div class="app-section--sidebar__icon app-section--sidebar__icon--large has-shadow">
						<i class="material-symbols-outlined">
							home
						</i>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}