{% extends "rooms/app.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
{% endblock %}

{% block app__sidebar--primary %}
<div class="container container--fill">
	<div class="container__header has-shadow">
		News
	</div>
	<div class="wrapper--remaining-space">
		<ul class="container__content">
			{% for object in news %}
				<li class="news">
					<span class="news__date">
						{{ object.display_date }}
					</span>
					<a class="news__title">
						{{ object.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block app__main %}

{% endblock %}

