{% extends "rooms/self.html" %}

{% block extrahead %}
    {{ "self/dashboard"|json_script:"extra-path" }}
{% endblock %}

{% block main-header %}
    <div class="app__icon">
        <div class="icon icon--medium">
            <i class="material-symbols-outlined">
                history
            </i>
        </div>
    </div>
    <div class="app__title">
        Dashboard
    </div>
    <div class="app__button app__button--header" data-state="selected">
        All
    </div>
    <div class="app__button app__button--header">
        News
    </div>
    <div class="app__button app__button--header">
        Announcements
    </div>
{% endblock %}

{% block main-content %}
 
{% endblock %}


{% block main-content-sidebar %}
    <div class="sidebar__section sidebar__section--large">
        <div class="sidebar__section sidebar__section--users" id="incoming-pending-friendships">
            <div class="sidebar__lead-in">
                <div class="sidebar__label">
                    Incoming Friendship Requests
                </div>
                <div class="sidebar__label" data-role="counter">
                    {{ incoming_friendship_requests.count }}
                </div>
                <div class="sidebar__role-icon app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            group
                        </i>
                    </div>
                </div>
            </div>
            {% for friendship in incoming_friendship_requests %}
                {% with friend=friendship.sender_profile %}
                    {% include "./elements/friend.html" %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="sidebar__section sidebar__section--users" id="accepted-friendships">
            <div class="sidebar__lead-in">
                <div class="sidebar__label">
                    Friends
                </div>
                <div class="sidebar__label" data-role="counter">
                    {{ accepted_friendship_requests.count }}
                </div>
                <div class="sidebar__role-icon app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            group
                        </i>
                    </div>
                </div>
            </div>
            {% for friendship in accepted_friendship_requests %}
                {% if user == friendship.sender %}
                    {% with friend=friendship.receiver_profile %}
                        {% include "./elements/friend.html" %}
                    {% endwith %}
                {% else %}
                    {% with friend=friendship.sender_profile %}
                        {% include "./elements/friend.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="sidebar__section sidebar__section--users" id="outgoing-pending-friendships">
            <div class="sidebar__lead-in">
                <div class="sidebar__label">
                    Outgoing Friendship Requests
                </div>
                <div class="sidebar__label" data-role="counter">
                    {{ user.sent_friendships.pending.count }}
                </div>
                <div class="sidebar__role-icon app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            group
                        </i>
                    </div>
                </div>
            </div>
            {% for friendship in outgoing_friendship_requests %}
                {% with friend=friendship.receiver_profile %}
                    {% include "./elements/friend.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}