{% extends "core/app.html" %}

{% block extrahead %}
    {{ groupchat.pk|json_script:"groupchat-pk" }}
{% endblock %}

{% block app-sidebar-header %}
    <div class="app__title">
        {{ groupchat.name }}
    </div>
{% endblock %}

{% block app-sidebar-body %}
    {% for item in groupchat.channels_and_categories %}
        {% if item|classname == 'Channel' %}
            {% with channel=item %}
                {% include "./elements/channel.html" %}
            {% endwith %}
        {% elif item|classname == 'Category' %}
            {% with category=item %}
                {% include "./elements/category.html" %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block main-header %}
    <div class="app__icon">
        <div class="icon icon--medium">
            <i class="material-symbols-outlined">
                tag
            </i>
        </div>
    </div>
{% endblock %}

{% block main-content %}
 
{% endblock %}


{% block main-content-sidebar %}
    {% for membership in groupchat.memberships.all %}
        <div class="user">
            <div class="user__avatar">
                <div class="avatar avatar--small">
                    <img src="" alt="">
                </div>
            </div>
            <div class="user__title">
                {% firstof membership.nickname membership.user.username %}
            </div>
            <div class="user__subtitle">
                {{ membership.user.status }}
            </div>
        </div>
    {% endfor %}
{% endblock %}