{% extends "core/app.html" %}

{% block extrahead %}
    {{ group_chat.pk|json_script:"group-chat-pk" }}
{% endblock %}

{% block app-sidebar-header %}
    <div class="sidebar__button sidebar__button--header dropdown__trigger">
        <div class="app__title">
            {{ group_chat.name }}
        </div>
        <div class="app__icon">
            <div class="icon icon--medium">
                <i class="material-symbols-outlined">
                    expand_more
                </i>
            </div>
        </div>
    </div>
    <div class="menu menu--sidebar dropdown__content has-shadow">
        <div class="menu__button dropdown__close" data-command="get_overlay" data-name="get-invite" data-kwargs='{"pk": {{ group_chat.pk }}, "kind": "group_chat"}'>
            <div>
                Get Invite
            </div>
            <div class="app__icon">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        person_add
                    </i>
                </div>
            </div>
        </div>
        {% if user == group_chat.owner %}
            <div class="menu__button dropdown__close" data-command="get_overlay" data-name="manage-group-chat-invites" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
                <div>
                    Manage Invites
                </div>
                <div class="app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            list
                        </i>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="menu__divider">

        </div>
        <div class="menu__button dropdown__close" data-command="get_overlay" data-name="create-group-channel" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
            <div>
                Create Channel
            </div>
            <div class="app__icon">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        add_circle
                    </i>
                </div>
            </div>
        </div>
        <div class="menu__button dropdown__close" data-command="get_overlay" data-name="create-category" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
            <div>
                Create Category
            </div>
            <div class="app__icon">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        create_new_folder
                    </i>
                </div>
            </div>
        </div>
        <div class="menu__button dropdown__close" data-command="get_overlay" data-name="manage-emotes" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
            <div>
                Manage Emote
            </div>
            <div class="app__icon">
                <div class="icon icon--small">
                    <i class="material-symbols-outlined">
                        add_reaction
                    </i>
                </div>
            </div>
        </div>
        <div class="menu__divider">

        </div>
        {% if user != group_chat.owner %}
            <div class="menu__button dropdown__close" data-command="get_overlay" data-name="leave-group-chat" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
                <div>
                    Leave Group Chat
                </div>
                <div class="app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            door_open
                        </i>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="menu__button dropdown__close">
                <div>
                    Delete Group Chat
                </div>
                <div class="app__icon">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            backspace
                        </i>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block app-sidebar-body %}
    <div class="sidebar__section sidebar__section--channels" id="group-channels">
        {% for item in group_chat.channels_and_categories %}
            {% if item|classname == 'GroupChannel' %}
                {% with channel=item %}
                    {% include "./elements/channel.html" %}
                {% endwith %}
            {% elif item|classname == 'Category' %}
                {% with category=item %}
                    {% include "./elements/category.html" %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block main-header %}
    <div class="app__icon">
        <div class="icon icon--medium">
            <i class="material-symbols-outlined">
                tag
            </i>
        </div>
    </div>
{% endblock %}

{% block main-content %}
 
{% endblock %}

{% block main-content-sidebar %}
    <div class="sidebar__section sidebar__section--users">
        <div class="sidebar__lead-in">
            <div class="sidebar__label sidebar__label--hoverable">
                Members
            </div>
        </div>
        {% for membership in memberships %}
            {% include "./elements/member.html" %}
        {% endfor %}
    </div>
{% endblock %}