{% extends "rooms/self.html" %}
{% load static %}


{% block extrahead %}
    {{ private_chat.pk|json_script:"private-chat-pk" }}
    {{ backlog_group.pk|json_script:"backlog-group-pk" }}
{% endblock %}

{% block main-content %}
    <div class="app__subheader app__subheader--unread has-shadow" id="unread-backlogs-subheader">
        <div data-role="display">
            <span data-role="counter" data-count="0">0</span> New Messages
        </div>
        <div data-command="mark_as_read">
            Mark As Read
        </div>
    </div>
    <div class="app__backlogs" id="backlogs">

    </div>
    {% include "../commons/widgets/chatbar.html" %}
{% endblock %}

{% block main-header %}
    <div class="app__avatar">
        <div class="avatar avatar--small">
            <img src="" alt="">
        </div>
    </div>
    <div class="app__title">
        {{ other_party.user.full_name }}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='{% static "js/backlog_group.js" %}'></script>
{% endblock %}