{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="app">
        <div class="sidebar sidebar--group-chats" data-state="closed" id="group-chats">
            <div class="sidebar__body">
                <div class="sidebar__section sidebar__section--medium">
                    <a class="group-chat {% if '/self/' in request.get_full_path %} group-chat--selected {% endif %}" href="{% url 'dashboard' %}" id="dashboard-button">
                        <div class="group-chat__avatar">
                            <div class="avatar avatar--medium">
                                <i class="material-symbols-outlined">
                                    supervisor_account
                                </i>
                            </div>
                        </div>
                        <div class="group-chat__body">
                            <div class="group-chat__title">
                                Dashboard
                            </div>
                        </div>
                        {% if user.notification_count %}
                            <div class="notification notification--dashboard">
                                <div data-role="counter">
                                    {{ user.notification_count }}
                                </div>
                            </div>
                        {% endif %}
                    </a>
                    <div class="sidebar__divider">
                
                    </div>
                    {% for group_chat_membership in user.group_chat_memberships.all %}
                        {% with local_group_chat=group_chat_membership.chat %}
                            {% include './elements/group-chat.html' %}
                        {% endwith %}
                    {% endfor %}
                    <div class="sidebar__divider" id="insert-group-chat">

                    </div>
                    <div class="group-chat" data-command="get-overlay" data-name="create-group-chat">
                        <div class="group-chat__avatar">
                            <div class="avatar avatar--medium">
                                <i class="material-symbols-outlined">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="group-chat__body">
                            <div class="group-chat__title">
                                New Group Chat
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar--main">
            <div class="app__header">
                {% block app-sidebar-header %}{% endblock %}
            </div>
            <div class="sidebar__body">
                {% block app-sidebar-body %}{% endblock %}
            </div>
            <div class="user-container">
                <div class="user-container__user">
                    <div class="user-container__avatar">
                        <div class="avatar avatar--small">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="user-container__name">
                        {{ user }}
                    </div>
                    <div class="user-container__status">
                        Online
                    </div>
                </div>
                <div class="app__icon right">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            alternate_email
                        </i>
                    </div>
                </div>
                <div class="app__icon app__hoverable-element">
                    <div class="icon icon--small">
                        <i class="material-symbols-outlined">
                            settings
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="app__main">
            <div class="app__header app__header--main">
                {% block main-header %}{% endblock %}
                <div class="sidebar__pin app__icon app__hoverable-element right" data-command="toggle-sidebar" data-target="group-chats" data-state="closed">
                    <div class="icon icon--medium icon--hoverable">
                        <i class="material-symbols-outlined">
                            last_page
                        </i>
                    </div>
                </div>
                <div class="sidebar__pin app__icon app__hoverable-element">
                    <div class="icon icon--medium icon--hoverable">
                        <i class="material-symbols-outlined">
                            inbox
                        </i>
                    </div>
                </div>
                <div class="sidebar__pin app__icon app__hoverable-element" data-command="toggle-sidebar" data-target="main-content-sidebar" data-state="open">
                    <div class="icon icon--medium icon--hoverable">
                        <i class="material-symbols-outlined">
                            first_page
                        </i>
                    </div>
                </div>
            </div>
            <div class="app__body">
                <div class="app__content">
                    {% block main-content %}{% endblock %}
                </div>
                <div class="sidebar sidebar--content" id="main-content-sidebar" data-state="open">
                    <div class="sidebar__body">
                        {% block main-content-sidebar %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}