<div class="formbox switchable">
	<nav class="formbox__navigation">
        {% for form in forms %}
            <div class="formbox__button" data-command="switch-content" data-target="{{ form.title }}">
                {{ form.title }}
            </div>
        {% endfor %}
	</nav>
    <div class="formbox__forms">
        {% for form in forms %}
            <form class="form switchable__content {% if forloop.first %}switchable__content--active{% endif %}" action="{{ form.url }}" method="POST" enctype="multipart/form-data" id="{{ form.title }}">
                {% csrf_token %}
                <div class="form__header">
                    <div>
                        <div class="form__title">
                            {{ form.title }}
                        </div>
                        {% if form.subtitle %}
                            <div class="form__subtitle">
                                {{ form.subtitle }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if form.warning %}
                    <div class="form__warning">
                        {{ form.warning }}
                    </div>
                {% endif %}
                {% for field in form.fields %}
                    {% if field.field.widget.input_type == 'hidden' %}
                        {{ field }}
                    {% else %}
                        <div class="field" data-name="{{ field.name }}">
                            <div class="field__name">
                                {{ field.name|title }}
                            </div>
                            {% if field.field.widget.input_type in 'number text'|split %}
                                <div class="field__input field__input--chars">
                                    {{ field }}
                                </div>
                            {% elif field.field.widget.input_type in 'select'|split %}
                                {% include "./elements/form-select.html" %}
                            {% elif field.field.widget.input_type in 'image'|split %}
                                <div class="widget widget--avatar">
                                    <div class="widget__image">
                                        <img src="{{ field.value.url }}">
                                    </div>
                                    <div class="widget__title">
                                        {{ field.label }}
                                    </div>
                                    <div class="widget__button">
                                        Submit
                                    </div>
                                </div>
                            {% elif widget.input_type == 'checkbox' %}
                                <div class="field__row">
                                    <span class="field__label">
                                        {{ field.label }}
                                    </span>
                                    <span class="field__checkbox">
                                        <div class="icon icon--small">
                                            <i class="material-symbols-outlined">
                                                check
                                            </i>
                                        </div>
                                        <input type="checkbox" name="{{ field.name }}">
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form__footer">
                    <div class="form__reset">
                        Reset
                    </div>
                    <button class="form__submit form__submit--{{ form.type }}" type="submit">
                        {{ form.title }}
                    </button>
                </div>
            </form>
        {% endfor %}
        <div class="formbox__close" data-command="remove-closest" data-target=".layer">
            <div class="icon icon--medium icon--hoverable">
                <i class="material-symbols-outlined">
                    cancel
                </i>
            </div>
        </div>
    </div>
</div>