{% extends "core/header.html" %}
{% load static %}

{% block content %}
<div class="frontpage">
    <div class="frontpage__header">
        <div class="frontpage__navigation">
            <div class="frontpage__logo">
                Django Chat App
            </div>
            <div class="frontpage__link">
                Premium
            </div>
            <div class="frontpage__link">
                Contact
            </div>
            {% if not user.is_authenticated %}
                <div class="frontpage__button frontpage__button--small" data-command="get_overlay" data-name="signin">
                    Sign In
                </div>
            {% else %}
                <a href="{% url 'signout' %}" class="frontpage__button frontpage__button--small">
                    Sign Out
                </a>
            {% endif %}

        </div>
    </div>
    <div class="frontpage__body">
        <div class="frontpage__introduction">
            <div class="frontpage__title">
                A Django-Based Chat Application
            </div>
            <div class="frontpage__description">
                Real time chatting through Django Channels, Javascript Ajax functionalities and more
            </div>
        </div>
        <div class="frontpage__showcase">
            <div class="frontpage__sidebar">
                <div class="frontpage__switch" data-state="active">
                    Group Chats
                </div>
                <div class="frontpage__switch" data-state="inactive">
                    Private Messaging
                </div>
                <div class="frontpage__switch" data-state="inactive">
                    Roles
                </div>
                <div class="frontpage__switch" data-state="inactive">
                    Permissions
                </div>
                <div class="frontpage__switch" data-state="inactive">
                    Friendships
                </div>
            </div>
        </div>
        <div class="frontpage__footer">
            {% if not user.is_authenticated %}
                <div class="frontpage__button frontpage__button--footer frontpage__button--large" data-command="get_overlay" data-name="signup">
                    Signup
                </div>
                <div class="frontpage__button frontpage__button--footer frontpage__button--large" data-command="get_overlay" data-name="signin">
                    Signin            
                </div>
            {% else %}
                <a href="{% url 'dashboard' %}" class="frontpage__button frontpage__button--footer frontpage__button--large">
                    Go To Dashboard            
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}