{% extends "core/header.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'core/frontpage.css' %}">
{% endblock %}

{% block content %}
<div class="frontpage">
	<div class="frontpage__header">
		<div class="frontpage__logo">
			ChatApp
		</div>
		<div class="frontpage__header-section right">
			{% if user.is_authenticated %}
			<div class="frontpage__header-button">
				Open Djangochat
			</div>
			<a class="frontpage__header-button" href="{% url 'signout' %}">
				Sign out
			</a>
			{% else %}
			<a class="frontpage__header-button" href="{% url 'signin' %}">
				Sign in
			</a>
			{% endif %}
		</div>
	</div>
	<div class="frontpage__info">
		<div class="frontpage__title">
			A Django-Based Chat Application
		</div>
		<ul class="frontpage__description">
			<li class="frontpage__description-element frontpage__description-element--highlight">
				Featuring
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Users
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Messages
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Rooms
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Roles
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Announcements
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Friends
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Events
			</li>
			<li class="frontpage__description-element frontpage__description-element--normal">
				Commands
			</li>
			<li class="frontpage__description-element frontpage__description-element--highlight">
				And more...
			</li>
		</ul>
		<div class="frontpage__join">
			{% if user.is_authenticated %}
			<a class="frontpage__join-button frontpage__join-button--enter" href="{% url 'dashboard' %}">
				Open Djangochat
			</a>
			{% else %}
			<a class="frontpage__join-button frontpage__join-button--signup" href="{% url 'signup' %}">
				Sign Up
			</a>
			<a class="frontpage__join-button frontpage__join-button--signin" href="{% url 'signin' %}">
				Sign In
			</a>
			{% endif %}
		</div>
	</div>
	<div>
		
	</div>
</div>
{% endblock %}