{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'core/header.css' %}">		
		
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        {% block extrahead %}{% endblock %}
	</head>
	<body>
		{% for message in messages %}
		<div class="error">
			<span class="error__message">
				{{ message }}
			</span>
			<span class="error__close" data-command="close-error">
				<div class="icon icon--small">
					<i class="material-symbols-outlined">
						close
					</i>
				</div>
			</span>
		</div>
		{% endfor %}
		{% block content %}{% endblock %}
		<div class="layer layer--tooltips">
			{% block tooltips %}{% endblock %}
		</div>
	</body>

	
	{{ channel.pk|json_script:"channel-pk" }}
	{{ room.pk|json_script:"room-pk" }}
	{{ request.user.id|json_script:"user-id" }}

	<script src="{% static 'js/dist/main.js' %}"></script>
    <script src="{% static 'js/handlers/chatSocketReceiveHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/chatSocketSendHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/commandHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/windowClickHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/overlayHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/tooltipHandlers.js' %}"></script>
    <script src="{% static 'js/handlers/processCommandEvent.js' %}"></script>
	
    <script src="{% static 'js/globalJavascriptUtilities.js' %}"></script>
	<script src="{% static 'js/header.js' %}" defer></script>
	{% block scripts %}{% endblock %}
</html>