{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{% static 'core/header.css' %}">
		<script src="https://kit.fontawesome.com/a10bcdf2a0.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<script src="https://kit.fontawesome.com/a10bcdf2a0.js" crossorigin="anonymous"></script>
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>