{% extends "core/header.html" %}
{% load static %}
{% load custom_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'rooms/app.css' %}">
{% endblock %}

{% block content %}
<div class="app">
	<!--

		PRIMARY SIDEBAR

	-->	
	<div class="app-section--sidebar primary">
		<div class="app-section--sidebar__element">
			<div class="app-section--sidebar__header">
				Friends
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					<li class="app-section--sidebar__label">Online</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--online">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--online">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--online">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--online">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--online">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--online">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__label">Offline</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--offline">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--offline">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--offline">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--offline">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--offline">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--offline">
								Online
							</li>
						</ul>
					</li>
					<li class="app-section--sidebar__friend">
						<div class="app-section--sidebar__avatar">
							<div style="width: 2rem; height: 2rem; background-color: brown;"></div>
						</div>
						<ul class="app-section--sidebar__friend-info">
							<div class="wrapper--remaining-space">
								<li class="app-section--sidebar__username app-section--sidebar__username--offline">
									User name User name User name
								</li>
							</div>
							<li class="app-section--sidebar__status app-section--sidebar__status--offline">
								Online
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--events">
			<div class="app-section--sidebar__header">
				Events
			</div>
			<div class="wrapper--remaining-space">
				<div class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					
				</div>
			</div>
		</div>
		<div class="app-section--sidebar__element app-section--sidebar__element--roomlist">
			<div class="app-section--sidebar__header">
				Chatrooms
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--no-padding">
					{% for room in room_list %}
						<a href="{% url 'room' room.pk %}">
							<li class="app-section--sidebar__listroom">
								<div class="app-section--sidebar__listroom-avatar">
									<div style="width: 3rem; height: 3rem; background-color: brown;"></div>
								</div>
								<div class="app-section--sidebar__listroom-info">
									<div class="wrapper--remaining-space">
										<div class="app-section--sidebar__listroom-name">
											{{ room }}
										</div>
									</div>
								</div>
							</li>
						</a>
					{% endfor %}
				</ul>
			</div>
		
		</div>
		<div class="app-section--sidebar__user">
			<div class="app-section--sidebar__big-avatar">
				<div style="width: 3rem; height: 3rem; background-color: brown;"></div>
			</div>
			<ul class="app-section--sidebar__friend-info">
				<div class="wrapper--remaining-space">
					<li class="app-section--sidebar__username app-section--sidebar__username--online">
						User name User name User name
					</li>
				</div>
				<li class="app-section--sidebar__status app-section--sidebar__status--online">
					Online
				</li>
			</ul>
		</div>
	</div>
	<!--

		MAIN

	-->	
	<div class="app-section--main">
		{% block main %}{% endblock %}
	</div>
	<!--

		SECONDARY SIDEBAR

	-->	
	<div class="app-section--sidebar secondary">
		<div class="app-section--sidebar__element app-section--sidebar__element--room-card">
			<div class="app-section--sidebar__header">
				Room
			</div>
			<div class="wrapper--remaining-space">
				<ul class="app-section--sidebar__content app-section--sidebar__content--has-padding">
					<li class="app-section--sidebar__room">
						<a href="{% url 'room' room.pk %}">
							<div class="app-section--sidebar__avatar">
								<div style="width: 6rem; height: 6rem; background-color: brown;"></div>
							</div>
						</a>
						<div class="wrapper--remaining-space">
							<ul class="app-section--sidebar__room-info">
								<a href="{% url 'room' room.pk %}">
									<li class="app-section--sidebar__room-name">
										{{ room.name }}
									</li>
								</a>
								<li class="wrapper--remaining-space">
									<div class="app-section--sidebar__room-description">
										{{ room.description }}
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li class="app-section--sidebar__room-utility">
						{% if user|user_is_member:room %}
						<a href=".">
							<span class="app-section--sidebar__button app-section--sidebar__button--leave">
							Leave
							</span>
						</a>
						{% else %}
						<a href=".">
							<span class="app-section--sidebar__button app-section--sidebar__button--join">
								Join
							</span>
						</a>
						{% endif %}
						<span class="app-section--sidebar__icon-container">
		
						</span>
					</li>
					<li class="app-section--sidebar__label">
						Channels
					</li>
					<div class="app-section--sidebar__add-channel">
						<i class="gg-extension-add"></i>
						<span>Create New Channel</span>
					</div>
					<li class="wrapper--remaining-space">
						<ul class="app-section--sidebar__channel-list">
							{% for channel in room.channels.all %}
							<a href="{% url 'channel' room=room.pk channel=channel.pk %}">
								<li class="app-section--sidebar__channel">
									<i class="gg-format-left"></i>
									<span class="app-section--sidebar__channel-name">{{ channel.name }}</span>
								</li>
							</a>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		{% block secondary-sidebar %}{% endblock %}
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
window.addEventListener("load", function() {
	const app = document.querySelector('.app')
	const createChannelField = document.querySelector('.app-section--sidebar__add-channel');
	var overlay;
	var submitCreateChannel;

	createChannelField && createChannelField.addEventListener('click', addOverlay);

	function addOverlay() { 
		overlay = document.createElement('div')
		overlay.setAttribute('class', "app-section--overlay")
		overlay.innerHTML =
		`
		<form class="app-section--overlay__window" action="{% url 'create-channel' room.pk %}" method="POST">
			{% csrf_token %}
			<div class="app-section--overlay__header">
				<span>Create New Channel</span>
				<span class="app-section--overlay__close">x</span>
			</div>
			<div class="app-section--overlay__form-field">
				<div class="app-section--overlay__label">
					Name:
				</div>
				<div class="app-section--overlay__input">
					<input type="text" name="name" maxlength="30">
				</div>
				<div class="app-section--overlay__footnote">
					Max Length: 30
				</div>
			</div>
			<div class="app-section--overlay__form-field">
				<div class="app-section--overlay__label">
					Description:
				</div>
				<div class="app-section--overlay__input">
					<input type="text" name="description" maxlength="60">
				</div>
				<div class="app-section--overlay__footnote">
					Max Length: 60
				</div>
			</div>
			<button class="app-section--overlay__submit" type="submit">Create New Channel</button>
		</form>
		`
		app.appendChild(overlay)
		submitCreateChannel = document.querySelector('.app-section--overlay__submit')
		document.querySelector('.app-section--overlay__close').addEventListener('click', removeOverlay);
	}

	function removeOverlay() {
		app.removeChild(overlay);
	};

	submitCreateChannel.addEventListener('submit', function(event) {
		event.preventDefault()

	})

	
});
</script>
{% endblock %}