<div class="overlay form has-shadow">
    <div class="overlay__header">
        <div class="overlay__title">
            Create Private Chat
        </div>
        <div class="overlay__close" data-command="remove-closest" data-target=".layer">
            <div class="icon icon--small">
                <i class="material-symbols-outlined">
                    close
                </i>
            </div>
        </div>
    </div>
    <div class="overlay__body">
        <div class="overlay__content overlay__content--scroll">
            {% for friend in user.friends %}
                {% include "../elements/create-private-chat.html" %}
            {% endfor %}
        </div>
    </div>
    <form class="overlay__footer" method="POST" action="{% url 'create-private-chat' %}" data-submit-command="process-form">
        {% csrf_token %}
        <div class="form__user-input">
            <input class="form__input" required size="1" type="text" name="username" placeholder="user" pattern="[a-zA-Z0-9]+" data-role="username-input">
            <div class="icon icon--small">
                <i class="material-symbols-outlined">
                    tag
                </i>
            </div>
            <input class="form__input" minlength="2" required maxlength="2" size="1" type="text" name="username_id" placeholder="00" id="add-friend-input" inputmode="numeric" data-role="username_id-input">
        </div>
        <button class="form__submit form__submit--create" type="submit">
            Create
        </button>
    </form>
    <div class="overlay__extra" data-role="form-errors"></div>
</div>