<form class="form" method="POST" action="{{ group_chat_pk }}">
    {% csrf_token %}
    <div class="overlay">
        <div class="overlay__header">
            <div class="overlay__title">
                Create Invite
            </div>
            <div class="overlay__close" data-command="close_overlay">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        close
                    </i>
                </div>
            </div>
        </div>
        <div class="overlay__body">
            <div class="form__field-group">
                {% for field in form %}
                    {% if field.field.widget|classname == 'HiddenInput' %}
                        {{ field }}
                    {% else %}
                        <div class="form__field" data-name="{{ field.name }}">
                            {% if field.field.widget.horizontal %}
                                <div class="form__labeled-element">
                                    <div class="form__field-label">
                                        {{ field.label|title }}
                                    </div>
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="form__field-label">
                                    {{ field.label|title }}
                                </div>
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="overlay__footer">
            <div class="form__reset">
                Reset
            </div>
            <div class="overlay__functional-button overlay__functional-button--create" data-command="get_overlay" data-name="create-invite" data-kwargs='{"group_chat_pk": {{ group_chat_pk }}}'>
                Create Invite
            </div>
        </div>
    </div>    
</div>