<div class="overlay">
    <div class="overlay__header">
        <div class="overlay__title">
            Get Invite
        </div>
        <div class="overlay__close" data-command="close_overlay">
            <div class="icon icon--small icon--hoverable">
                <i class="material-symbols-outlined">
                    close
                </i>
            </div>
        </div>
    </div>
    <div class="overlay__body">
        <input class="overlay__text-holder" readonly {% if invite %} value="{{ invite.full_link }}" {% endif %} id="invite-display">
    </div>
    {% if context_member|member_has_perm:'can_create_invites' %}
        <div class="overlay__footer">
            <div class="overlay__functional-button overlay__functional-button--create" data-command="get_overlay" data-name="create-invite" data-kwargs='{"pk": {{ pk }}, "kind": "{{ kind }}"}'>
                Create New Invite
            </div>
        </div>
    {% endif %}
</div>
