<div class="overlay" data-role="prompt">
    <div class="overlay__header">
        <div class="form__headliner">
            <div class="overlay__title">
                Leave Group Chat « {{ group_chat.name }} »
            </div>            
        </div>
        <div class="overlay__close" data-command="remove-closest" data-target=".layer">
            <div class="icon icon--small icon--hoverable">
                <i class="material-symbols-outlined">
                    close
                </i>
            </div>
        </div>
    </div>
    <div class="overlay__body">
        <div class="form__field-group">
            <div class="form__responses" data-role="form-responses"></div>
            <div class="form__field" data-name="confirm">
                <div class="form__labeled-element">
                    <div class="form__field-label">
                        Are You Sure You Wish To Leave?
                    </div>
                    <div class="form__slider">
                        <div class="form-slider__marker" data-role="marker"></div>
                        <input type="checkbox" name="confirm">
                    </div>
                </div>                   
            </div>                   
        </div>
    </div>
    <div class="overlay__footer">
        <div class="form__reset">
            Reset
        </div>
        <div class="overlay__functional-button overlay__functional-button--delete" data-command="leave_group_chat">
            Leave Group Chat
        </div>
    </div>
</div>