<div class="overlay">
    <div class="overlay__header">
        <div class="overlay__title">
            Manage Roles
        </div>
        <div class="overlay__close" data-command="close_overlay">
            <div class="icon icon--small icon--hoverable">
                <i class="material-symbols-outlined">
                    close
                </i>
            </div>
        </div>
    </div>
    <div class="overlay__body">
        <div class="item-manager" id="role-manager">
            <div class="item-manager__item">
                <div class="item-manager__button item-manager__button--add" data-command="get_overlay" data-name="create-role" data-kwargs='{"group_chat_pk": {{ group_chat.pk }}}'>
                    Create New Role
                </div>
            </div>
            {% for role in group_chat.roles.all %}
                {% include "../elements/manager-items/role-manager-item.html" %}
            {% endfor %}
        </div>
    </div>
</div>