{% with notifications=membership.generate_notifications %}
<a class="group-chat {% if local_group_chat == group_chat %} group-chat--selected {% endif %}" 
href="{% url 'group-chat' pk=local_group_chat.pk %}" id="group-chat-{{ local_group_chat.pk }}"
data-notifications='{{ notifications|to_json }}'
>
    <div class="group-chat__avatar">
        <div class="avatar avatar--medium">
            {% if local_group_chat.image %}
                <img src="{{ local_group_chat.image.url }}" alt="">
            {% else %}
                <div class="icon icon--small">
                    {{ local_group_chat.name|slice:':1'|title }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="group-chat__body">
        <div class="group-chat__title">
            {{ local_group_chat.name }}
        </div>
    </div>
    <div class="notification notification--hidden" data-notification-kind="hidden">
        <div data-role="counter" data-count="{{ notifications.initial.unread_backlogs }}">
            {{ notifications.initial.unread_backlogs }}
        </div>
    </div>
    <div class="notification notification--mention" data-notification-kind="visible">
        <div data-role="counter" data-count="{{ notifications.initial.mentions }}">
            {{ notifications.initial.mentions }}
        </div>
    </div>
</a>
{% endwith %}