<a class="groupchat {% if local_groupchat == groupchat %} groupchat--selected {% endif %}" href="{% url 'group-chat' pk=local_groupchat.pk %}">
    <div class="groupchat__avatar">
        <div class="avatar avatar--medium">
            {% if local_groupchat.image %}
                <img src="{{ local_groupchat.image.url }}" alt="">
            {% else %}
                <div class="icon icon--small">
                    {{ local_groupchat.name|slice:':1'|title }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="groupchat__body">
        <div class="groupchat__title">
            {{ local_groupchat.name }}
        </div>
        <div class="groupchat__subtitle">
            <div>
                {{ local_groupchat.memberships.count }}
            </div>
        </div>
    </div>
</a>