{% extends "core/header.html" %}

{% block content %}
<div class="account">
    <div class="formbox">
        <form method="POST" class="form has-shadow">
            <div class="form__header">
                <div class="form__title">
                    Sign into your account
                </div>
            </div>
            {% csrf_token %}
            {% for field in form %}
            {% with field|attribute_modifier:'{"attribute": "errors", "on_success": "form__field--error"}' as modifier %}
            <div class="form__field {{ modifier }}">
                <div class="form__label">
                    {{ field.label }}
                </div>
                <div class="form__input">
                    {{ field }}
                </div>
                {% for error in field.errors %}
                <div class="form__error">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            {% endwith %}
            {% endfor %}
            <button class="form__submit" type="submit">
                Sign In
            </button>
            <a href="{% url 'signup' %}" class="account__link">
                Don't Have An Account Yet?
            </a>
        </form>
    </div>
</div>

{% endblock %}