{% extends "rooms/elements/sidebar-users/user.html" %}

{% block kwargs %}
    data-command="get_tooltip" 
    data-name="user-profile-card" 
    data-kwargs='{"user_pk": {{ friend.user.pk }}}' 
    data-positioning='{"top": "0px", "right": "100%"}'
    id="friend-{{ friend.pk }}"
    data-pk="{{ friend.pk }}"
{% endblock %}

{% block avatar %}
    <img src="{{ friend.user.image.url }}" alt="">
{% endblock %}

{% block title %}
    {{ friend.user.username }}
{% endblock %}

{% block subtitle %}
    {{ friend.user.status }}
{% endblock %}

{% block misc %}
    {% if friendship.status == 'pending' and friend == friendship.receiver_profile %}
        <div class="user__icons" data-command="delete_friendship">
            <div class="app__icon app__icon--hoverable">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        cancel
                    </i>
                </div>
            </div>
        </div>
    {% elif friendship.status == 'pending' and friend == friendship.sender_profile %}
        <div class="user__icons">
            <div class="app__icon app__icon--hoverable" data-command="accept_friendship">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        check_circle
                    </i>
                </div>
            </div>
            <div class="app__icon app__icon--hoverable" data-command="delete_friendship">
                <div class="icon icon--small icon--hoverable">
                    <i class="material-symbols-outlined">
                        cancel
                    </i>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}