{% extends rooms/elements/sidebar-users/user.html %}

{% block kwargs %}
    data-command="get_tooltip" 
    data-name="user-profile-card" 
    data-kwargs='{"group_chat_pk": {{ group_chat.pk }}, "user_pk": {{ membership.user.pk }}}' 
    data-positioning='{"top": "0px", "right": "100%"}'
{% endblock %}

{% block avatar %}
    <img src="{{ member.user.image.url }}" alt="">
{% endblock %}

{% block title %}
    {{ member.display_name }}
{% endblock %}

{% block subtitle %}
    {{ membership.user.status }}
{% endblock %}