{% extends "rooms/elements/sidebar-users/user.html" %}

{% block kwargs %}
    data-command="get_tooltip" 
    data-name="user-profile-card" 
    data-kwargs='{"backlog_group_pk": {{ group_chat.backlog_group.pk }}, "user_pk": {{ member.user.pk }}}' 
    data-positioning='{"top": "0px", "right": "100%"}'
{% endblock %}

{% block avatar %}
    <img src="{{ member.user.image.url }}" alt="">
{% endblock %}

{% block title %}
    {{ member.display_name }}
{% endblock %}

{% block subtitle %}
    {{ member.user.status }}
{% endblock %}