<div class="profile tooltip has-shadow" id="profile" 
data-context='{{ client_context }}'>
    <div class="profile__header">
        <div class="profile__banner">

        </div>
        <div class="avatar avatar--large has-shadow">
            <img src="{{ object.image }}" alt="">
        </div>
    </div>
    <div class="profile__body">
        <div class="profile__field">
            <div class="profile__display-name">
                {{ object.display_name }}
            </div>
            <div class="profile__username">
                {{ object.full_name }}
            </div>
        </div>
        <div class="profile__divider">

        </div>
        {% if object.bio %}
        <div class="profile__field">
            <div class="profile__label">
                Bio
            </div>
            <div class="profile__bio">
                {{ object.bio }}
            </div>
        </div>
        {% endif %}
        <div class="profile__field">
            <div class="profile__label">
                Account Created
            </div>
            <div class="profile__date">
                {{ object.joined_site }}
            </div>
        </div>
        {% if object|classname == 'Member' %}
        <div class="profile__field">
            <div class="profile__label">
                Joined Room
            </div>
            <div class="profile__date">
                {{ object.joined_room }}
            </div>
        </div>
        {% endif %}
        {% if object|classname == 'Member' %}
        <div class="profile__field">
            <div class="profile__label">
                Roles
            </div>
            {% for role in object.roles.all %}
            <div class="role">
                <div class="role__color" style="background-color: {{ role.color }};">

                </div>
                <div class="role__name">
                    {{ role.name }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>