<ul class="menu tooltip has-shadow" id="friend-menu" data-context='{{ client_context }}'>
    {% if member %}
        {% if member|member_has_role_perm:'edit_room' %}
            <li class="menu__item tooltip__close" data-command="get-form" data-target="rooms/update-room">
                Update Room
            </li>
        {% endif %}
        {% if member|member_has_role_perm:'manage_role' %}
            <li class="menu__item tooltip__close" data-command="get-form" data-target="rooms/manage-roles">
                Manage Roles
            </li>
        {% endif %}
        {% if member.user == room.owner %}
            <li class="menu__item tooltip__close" data-command="get-form" data-target="rooms/delete-room">
                Delete Room
            </li>
        {% endif %}
    {% endif %}
    <li class="menu__item tooltip__close" data-command="get-form" data-target="rooms/report-room">
        Report Room
    </li>
</ul>