<ul class="menu tooltip has-shadow" id="friend-menu" 
data-context='{{ client_context }}'>
    <a class="menu__item tooltip__close">
        Message
    </a>
    <li class="menu__item tooltip__close" data-command="profile" data-kind="user">
        Profile
    </li>
    {% if friendship.status == 'accepted' %}
    <li class="menu__item tooltip__close" data-command="manage-friendship" data-kind="remove">
        Remove Friend
    </li>
    {% elif friendship.status == 'pending' and user == friendship.receiver %}
    <li class="menu__item tooltip__close" data-command="manage-friendship" data-kind="reject">
        Ignore
    </li>
    {% elif friendship.status == 'pending' and user == friendship.sender %}
    <li class="menu__item tooltip__close" data-command="manage-friendship" data-kind="cancel">
        Cancel
    </li>
    {% endif %}
    <li class="menu__item tooltip__close" data-command="block">
        Block
    </li>
</ul>