<div class="profile profile--tooltip">
    <div class="profile__header">
        <div class="profile__banner">

        </div>
        <div class="profile__avatar" data-tooltip-close data-command="get_overlay" data-name="full-user-profile" data-kwargs='{"pk": {{ user.pk }}}'>
            <div class="avatar avatar--medium">
                <img src="{{ user.image.url }}" alt="">
            </div>
        </div>
    </div>
    <div class="profile__body">
        <div class="profile__content">
            <div>
                <div class="profile__username">
                    {{ user.username }}
                </div>
                <div class="profile__full-name">
                    {{ user.full_name }}
                </div>
            </div>
            <div class="profile__divider"></div>
            <div>
                <div class="profile__label">
                    Bio
                </div>
                <div class="profile__value">
                    {{ user.bio }}
                </div>
            </div>
            <div>
                <div class="profile__label">
                    Joined Since    
                </div>
                <div class="profile__value">
                    {{ profile_user.joined }}
                </div>
            </div>
        </div>
    </div>
</div>