<form class="form" action="{{ form.url }}" method="POST" enctype="multipart/form-data" id="{{ form.title }}">
    {% csrf_token %}
    <div class="form__header">
        <div>
            <div class="form__title">
                {{ form.title }}
            </div>
            {% if form.subtitle %}
                <div class="form__subtitle">
                    {{ form.subtitle }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if form.warning %}
        <div class="form__warning">
            {{ form.warning }}
        </div>
    {% endif %}
    {% for field in form.fields %}
        {% if field.field.widget|classname == 'HiddenInput' %}
            {{ field }}
        {% else %}
            <div class="field" data-name="{{ field.name }}">
                <div class="field__name">
                    {{ field.name|title }}
                </div>
                 {{ field }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="form__footer">
        <div class="form__reset">
            Reset
        </div>
        <button class="form__submit form__submit--{{ form.type }}" type="submit">
            {{ form.title }}
        </button>
    </div>
</form>