<div class="form-container">
    <form class="form" action="{{ form.url }}" method="POST" enctype="multipart/form-data" {% if form.on_response %} data-on-response="{{ form.on_response }}" {% endif %}>
        {% csrf_token %}
        <div class="overlay">
            <div class="overlay__header">
                <div class="form__headliner">
                    <div class="overlay__title">
                        {{ form.title }}
                    </div>
                    {% if form.subtitle %}
                        <div class="overlay__subtitle">
                            {{ form.subtitle }}
                        </div>
                    {% endif %}
                    {% if form.warning %}
                        <div class="form__warning">
                            {{ form.warning }}
                        </div>
                    {% endif %}
                </div>
                <div class="overlay__close" data-command="remove-closest" data-target=".layer">
                    <div class="icon icon--small icon--hoverable">
                        <i class="material-symbols-outlined">
                            close
                        </i>
                    </div>
                </div>
            </div>
            <div class="overlay__body">
                <div class="form__field-group">
                    <div class="form__responses" data-role="form-responses"></div>
                    {% for field in form.fields %}
                        {% if field.field.widget|classname == 'HiddenInput' %}
                            {{ field }}
                        {% else %}
                            <div class="form__field" data-name="{{ field.name }}">
                                {% if field.field.widget.horizontal %}
                                    <div class="form__labeled-element">
                                        <div class="form__field-label">
                                            {{ field.label|title }}
                                        </div>
                                        {{ field }}
                                    </div>
                                {% else %}
                                    <div class="form__field-label">
                                        {{ field.label|title }}
                                    </div>
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="overlay__footer">
                {% if form.fields %}
                    <div class="form__reset">
                        Reset
                    </div>
                {% endif %}
                <button class="overlay__functional-button overlay__functional-button--{{ form.type }}" type="submit">
                    {{ form.title }}
                </button>
            </div>
        </div>
    </form>
</div>
